<template>
<div class="columns" v-if="loading">
    Analytics is only available in Business or higher plans.
</div>
<div class="container" v-else>
    <div class="columns">
 	    <div class="column is-3" style="height:30px;">
 	    	<p style="font-size:15px;font-weight:bold;margin-top:10px;margin-bottom:10px">FILTER BY ACCOUNT</p>
			<div style="margin-top:4px;min-height:40px" v-tooltip.top="account.username" v-for="account in userAccounts" v-on:click="filterAccount(account.social_account_id)">
				<div style="width:100%;height:30px;cursor:pointer"
					:style="{'background-color': accountFilter==account.social_account_id?'#eaeaea':''}"
					>
					<img :src= "'/img/'+account.social_network_type+'.png'" style="float:left;margin-top:2.5px" />
					<p style="float:left;margin-top:2.5px;margin-left:6px">{{account.username.length>25?account.username.substr(0,25)+"...":account.username}}</p>
				</div>
			</div>
 	     </div>

 	    <!-- start of right side -->
 	    <div class="column" style="min-height:400px;">
			<div class="tabs is-toggle is-fullwidth">
			  <ul>
			    <li v-on:click="updateSort(0)" v-bind:class="{'is-active':(currentSortIndex==0)}">
			      <a>
			        <span>Latest</span>
			      </a>
			    </li>
			    <li v-on:click="updateSort(1)" v-bind:class="{'is-active':(currentSortIndex==1)}">
			      <a>
			        <span>Most Likes</span>
			      </a>
			    </li>
			    <li v-on:click="updateSort(2)" v-bind:class="{'is-active':(currentSortIndex==2)}">
			      <a>
			        <span>Most Shares</span>
			      </a>
			    </li>
			    <li v-on:click="updateSort(3)" v-bind:class="{'is-active':(currentSortIndex==3)}">
			      <a>
			        <span>Least Likes</span>
			      </a>
			    </li>
			    <li v-on:click="updateSort(4)" v-bind:class="{'is-active':(currentSortIndex==4)}">
			      <a>
			        <span>Least Shares</span>
			      </a>
			    </li>
			  </ul>
			</div>
			<div class="notification is-success" style="margin-top:20px;margin-bottom:10px;" v-if="accountFilter!=-1">
		  		<button class="delete" v-on:click="accountFilter =-1"></button>
		  		Filters applied. Click on close button to remove filter.
			</div>
	 	    <div class="columns" style="margin-top:40px;" v-for="p in publishedPosts" v-if="filterOption(p)">
	 	      	<div class="column is-12" style="min-height:200px;border:1px solid #eaeaea;border-radius:4px;" :style="{'box-shadow': '-2px 0 0 '+p.color}">
	 				<div class="columns">
	 					<div class="column is-4">
			                 <div id="mypanel" style="float:left" :style="{backgroundImage:'url('+ p.image_url+')'}">
			                    <a id="sn-icon" :style="{backgroundImage:'url('+ '/img/'+p.social_network_type+'.png'+ ')'}" href="#"></a>
			                 </div>
			                 <p style="float:left;font-size:18px;margin-left:10px;margin-top:5px;">{{p.social_network_name}}</p>
	 					</div>
	 					<div class="column is-5"></div>
	 					<div class="column is-3">
	 						<p style="font-size:18px"><b>{{usertz,p.ts_gmt | localTime}}</b></p>
	 						<p style="font-size:16px">{{usertz,p.ts_gmt | localDate}}</p>
	 					</div>
	 				</div>
	 				<div class="columns">
	 			   		<div class="column is-12">
	 				  		<span style="white-space: pre-wrap">{{p.content}}</span>
	 			   		</div>
	 				</div>
		 			<div class="columns" v-if="p.content_image!= 'NA'">
		 			   <div class="column is-12">
	    				<div style="width:150px;height:150px;margin-top:10px">
	    					<img :src="p.content_image" style="width:100%;height:100%;object-fit:'cover';border-radius:5px"/>
	    				</div>
		 			   </div>
		 			</div>
		 			<div class="columns" v-if="p.source_url!='NA'">
		 				<div class="column is-12">
		 					<span><i class="fa fa-external-link" style="margin-top:5px" aria-hidden="true"></i> <a :href="p.source_url" target="blank">{{p.source_url}}</a></span>
		 				</div>
		 			</div>
					<div class="tabs is-toggle">
					  <ul>
					    <li>
					      <a>
					        <span><b>{{p.likes}}</b> Likes</span>
					      </a>
					    </li>
					    <li>
					      <a>
					        <span><b>{{p.comments}}</b> Comments</span>
					      </a>
					    </li>
					    <li>
					      <a>
					        <span><b>{{p.share}}</b> Shares</span>
					      </a>
					    </li>
					  </ul>
					</div>
		 			<div class="columns">
		 			   <div class="column is-12">
		    				<div style="width:150px;height:30px;margin-top:10px;border-radius:3px;text-align:center;float:left" :style="{'background-color':p.color}">
		    					<p style="font-size:16px;color:#fff;line-height:29px;">{{p.category_name}}</p>
		    				</div>
		    				<a :href="formPostUrl(p.social_network_type,p.media_id)" target="blank"><p style="margin-top:10px;float:right">View Post</p></a>
		 			   </div>
		 			</div>
	 	        </div>
	 	    </div>
	 	    <div style="width:100%;height:50px"></div>
	 	</div>
	</div> <!-- end of columns -->
</div>

</template>

<script>
var _ = require('lodash');
export default{
	mounted(){
		//this.getPublishedPosts();
		//this.getAccounts();
	},
	props: ['usertz'],
	data:function(){
		return{
		  publishedPosts:[],
		  userAccounts: [],
		  currentSortIndex:0,
		  accountFilter:-1,
		  loading:true
		}

	},
	methods:{
	  getPublishedPosts: function(){
	    var self = this;
        axios.post('/getpublishedpostsforanalytics').then(response => {
          self.publishedPosts = response.data.publishedPosts;
          self.loading = false;
        });
	  },
	  getAccounts: function(){
	    var self = this;
        axios.post('/getaccountsforanalytics').then(response => {
          self.userAccounts = response.data;
        });
	  },
	  updateSort: function(index){
	  	this.currentSortIndex = index;
	  },
	  filterAccount: function(network_id){
	  	this.accountFilter = network_id;
	  },
	  filterOption: function(p){
	  	 if(this.accountFilter != -1){
            if(p.social_network_id == this.accountFilter)
            	return true;
            else
            	return false;
	  	 }
	  	 return true;
	  },
	  formPostUrl: function(type, media_id){
	  	if(type == 0)
	  		return "https://www.facebook.com/"+media_id;
	  }
	},
	filters:{
	    localTime: function (usertz,date) {
	       return moment(parseInt(date)*1000).tz(usertz).format('h:mm a, dddd');
	    },
	    localDate: function(usertz,date){
	       return moment(parseInt(date)*1000).tz(usertz).format('MMMM Do YYYY');
	    }
	},
	watch:{
		currentSortIndex:function(val){
			if(val == 0){
				var temp = _.orderBy(this.publishedPosts, ['id'], ['desc']);
				this.publishedPosts = temp;
			}
			if(val ==1){
				var temp = _.orderBy(this.publishedPosts, ['likes'], ['desc']);
				this.publishedPosts = temp;
			}
			if(val ==2){
				var temp = _.orderBy(this.publishedPosts, ['share'], ['desc']);
				this.publishedPosts = temp;
			}
			if(val ==3){
				var temp = _.orderBy(this.publishedPosts, ['likes'], ['asc']);
				this.publishedPosts = temp;
			}
			if(val ==4){
				var temp = _.orderBy(this.publishedPosts, ['share'], ['asc']);
				this.publishedPosts = temp;
			}
		}
	}
}
</script>
