<template>
<div v-if="data.length==0">
	<p>Getting your posts and arranging them into a beautiful calendar :)</p>
</div>
<div v-else>
   <div class="columns">
   	 <div class="column is-3" style="background-color:#fff">
			  <div class="control">
			    <div class="select">
			      <select v-model="isCategorySelected">
			      	 <option disabled value="">Please select one</option>
							 <option value="ALL">All Categories</option>
			         <option v-bind:value="category.id" v-for="category in data">{{category.category_name}}</option>
			      </select>
			    </div>
			  </div>
		  </div>
			<div>
		    <div style="width:60px;float:left" v-for="account in connectedAccounts">
		       <div id="mypanel"  v-tooltip.bottom="account.pet_name"
		                          v-on:click="selectSocialAccount(account.social_network_id)"
		                          :style="{'opacity':socialAccountSelected.includes(account.social_network_id)?1:0.3, backgroundImage:'url('+ account.social_network_img+')'}">

		          <a id="sn-icon"  :style="{backgroundImage:'url('+ '/img/'+account.social_network_type+'.png'+ ')'}" href="#"></a>
		       </div>
			  </div>
			</div>
   </div>
   <div id="note" :style="{'display':isLoadingDialogue?'block':'none'}">
	 Updating your Calendar...
	</div>
   <div v-if="isCategorySelected==''">
   	<p>Please select Category first </p>
   </div>
   <div style="margin-bottom:100px;margin-top:50px" v-else>
	 <full-calendar ref="calendar" :events="events" :config="config" @event-render="eventRendered" @event-drop="eventDrop" @event-selected="eventClick"></full-calendar>
   </div>


	 <div class="modal is-active" v-if="deleteModal">
 	  <div class="modal-background"></div>
 	  <div class="modal-card">
 	    <header class="modal-card-head">
 	      <p class="modal-card-title">Confirm</p>
 	      <button class="delete" aria-label="close" v-on:click="deleteModal=false"></button>
 	    </header>
 	    <section class="modal-card-body">
 	      Are you sure you want to delete this post?
 	    </section>
 	    <footer class="modal-card-foot">
 	      <button class="button is-danger" v-on:click="deletePost()"  v-bind:class="{'is-loading':isDelReq}">Delete</button>
 	      <button class="button" v-on:click="deleteModal=false">Cancel</button>
 	    </footer>
 	  </div>
   </div>


	 <div class="modal is-active" v-if="isEditModal">
	 	<div class="modal-background"></div>
	 	<div class="modal-card" style="height:570px">
	 		<header class="modal-card-head">
	 			<p class="modal-card-title">Edit Post</p>
	 			<button class="delete" aria-label="close" v-on:click="isEditModal=false"></button>
	 		</header>
	 		<section class="modal-card-body">
	 		<vue-ctk-date-time-picker v-model="postDate" enable-button-validate  min-date="2018-04-03" max-date="2024-04-12"></vue-ctk-date-time-picker>

	 			<br><br>
	 		<div class="control">
	 			<textarea class="textarea" data-emojiable="true" placeholder="Type/paste a status.." v-model="selectedDesc"></textarea>
	 		</div>
	 			<p style="font-size:16px" class="help is-primary" v-if="statusUrl!=''">Link to - <a :href="statusUrl" target="blank">{{statusUrl}}</a></p>
	 				<p v-if="imageUploadReq">Uploading Media...</p>

	 		<div class="columns" v-if="selectedImageUrl!= 'NA'" style="margin-top:25px">
	 		 <div class="column is-12">
	 			<div style="width:150px;height:150px;margin-top:10px">
	 				<img :src="selectedImageUrl" v-on:click="thumbClicked(selectedImageUrl)" style="width:100%;height:100%;object-fit:'cover';cursor:pointer"/>
	 			</div>
	 		 </div>
	 		</div>
	 		<div v-if="selectedImageUrl=='NA'" style="margin-top:25px">
	 		<div class="file">
	 			<label class="file-label">
	 				<input class="file-input" type="file" name="resume" v-on:change="onFileChange">
	 				<span class="file-cta">
	 					<span class="file-icon">
	 						<i class="fa fa-upload"></i>
	 					</span>
	 					<span class="file-label">
	 						Add Image
	 					</span>
	 				</span>
	 			</label>
	 		</div>
	 		</div>
	 		<div v-if="selectedImageUrl!= 'NA'" style="margin-top:25px">
	 		<div class="file" style="float:left">
	 			<label class="file-label">
	 				<input class="file-input" type="file" name="resume" v-on:change="onFileChange">
	 				<span class="file-cta">
	 					<span class="file-icon">
	 						<i class="fa fa-upload"></i>
	 					</span>
	 					<span class="file-label">
	 						Change Image
	 					</span>
	 				</span>
	 			</label>
	 		</div>
	 		<a v-on:click="removeImage()"><p style="float:left;margin-left:15px">Remove Image</p></a>
	 	</div>
	</section>
	 		<footer class="modal-card-foot">
	 			<button class="button is-success" v-on:click="editPost()" v-bind:class="{'is-loading':isEditReq}">Update</button>
	 			<button class="button is-danger" v-on:click="isEditModal=false;deleteModal=true" style="margin-left:430px">Delete</button>
	 		</footer>
	 	</div>
	 </div>

	 <div class="modal is-active" v-if="zoomedImage">
 	  <div class="modal-background"></div>
 	  <div class="modal-card">
 	    <section class="modal-card-body">
       <img :src="zoomedImageUrl" style="width:80%;height:80%;"/>
 	    </section>
 	    <footer class="modal-card-foot">
 	      <button class="button" v-on:click="zoomedImage=false">Cancel</button>
 	    </footer>
 	  </div>
   </div>
</div>
</template>

<script>
import * as linkify from 'linkifyjs';
import FullCalendar from 'vue-full-calendar';
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.min.css';
Vue.use(FullCalendar)
export default {
	components: {
		'vue-ctk-date-time-picker': VueCtkDateTimePicker
	},
	mounted(){
		this.getCategoryAndAccounts();
	},
	props: ['usertz'],
	data: function() {
		return{
			events:[
			],
			config: {
			  defaultView: 'month',
			  height: 'auto',
			  header: {
		        left: 'prev,next',
		        center: 'title',
		        right: 'month'
    		  }
			},
			isLoadingDialogue:false,
    	data:[],
    	userAccounts:[],
    	connectedAccounts:[],
    	socialAccountSelected:[],
    	isCategorySelected:'',
			postId: '',
			statusUrl:'',
			selectedAccountId: '',
			selectedCategoryId: '',
			selectedDesc: '',
			selectedImageUrl: '',
			postDate: '',
			postUrl: '',
			zoomedImage: false,
			zoomedImageUrl: '',
			isEditModal: false,
			deleteModal: false,
			imageUploadReq: false,
			isEditReq:false

		}

	},
	methods: {
        getCategoryAndAccounts: function(){
	        var self = this;
	        axios.post('/getcategoryandaccounts').then(response => {
	           self.data = response.data.categories;
	           self.userAccounts = response.data.accounts;
	        })
	        .catch(error => {
	        	alert("Error occured -->" + error);
	        });
    	},
    	selectSocialAccount: function(social_network_id){
    		var self = this;
    		if(this.socialAccountSelected.includes(social_network_id))
    			this.socialAccountSelected.splice(this.socialAccountSelected.indexOf(social_network_id),1);
    		else
    		 this.socialAccountSelected.push(social_network_id);

				this.isLoadingDialogue = true;
				axios.post('/getevents',{categoryId:this.isCategorySelected,socialNetworks:this.socialAccountSelected}).then(response => {
	           		self.events = response.data;
	           		self.isLoadingDialogue = false;
	           	}).catch(error => {
	           		self.isLoadingDialogue = false;
	           	});

    	},
			getEventsOnDropDownChange: function(){
				this.isLoadingDialogue = true;
				var self = this;
				axios.post('/getevents',{categoryId:this.isCategorySelected,socialNetworks:this.socialAccountSelected}).then(response => {
	           		self.events = response.data;
	           		self.isLoadingDialogue = false;
								self.isEditModal = false;
								self.isEditReq = false;
								self.isDelReq = false;
								self.deleteModal = false;
	           	}).catch(error => {
	           		self.isLoadingDialogue = false;
								self.isEditModal = false;
								self.isEditReq = false;
								self.isDelReq = false;
								self.deleteModal = false;
	           	});
			},
		eventRendered(event, element, view){
			//var elem = "<img style='margin-top:20px' src='"+event.image_url+"' />";\
			var elem = ''
			var icon_url = 'https://www.oneupapp.io/img/' + event.network_type + ".png";

			if(event.image_url != "NA")
				var elem = "<div style='width=100%;background-color:#F7F7F7;border:1px solid #eee;min-height:60px;margin-top:10px;margin-bottom:5px;box-shadow: 0 8px 6px -6px #eee'><img src='"+icon_url+"' style='width:13px;height:13px;float:left;margin-top:3px'/><p style='color:#4A4A4A;float:left;margin-left:2px'>"+(event.network_name.length>15?event.network_name.substr(0,18)+"...":event.network_name)+"</p><img style='margin-top:15px' src='"+event.image_url+"'/><p style='color:#1A0E11;margin-top:3px;clear:both;font-size15px'>"+(event.description.length>40?event.description.substr(0,40)+"...":event.description)+"</p><p style='color:#1A0E11;margin-top:8px'><b>"+event.time+"<b/></p><br/><b style='color:rgb(0, 76, 0)'>"+(event.isEvergreen==1?'REPEATING':'')+"</b><p>"+(event.isEvergreen==1?event.recycleMode:'')+"</p></div>";
			else
				var elem = "<div style='width=100%;background-color:#F7F7F7;border:1px solid #eee;min-height:60px;margin-top:10px;margin-bottom:5px;box-shadow: 0 8px 6px -6px #eee'><img src='"+icon_url+"' style='width:13px;height:13px;float:left;margin-top:3px'/><p style='color:#4A4A4A;float:left;margin-left:2px'>"+(event.network_name.length>15?event.network_name.substr(0,18)+"...":event.network_name)+"</p><p style='color:#1A0E11;margin-top:30px;clear:both;font-size:14px;'>"+(event.description.length>60?event.description.substr(0,60)+"...":event.description)+"</p><p style='color:#1A0E11;margin-top:8px'><b>"+event.time+"<b/></p><br /><b style='color:rgb(0, 76, 0)'>"+(event.isEvergreen==1?'REPEATING':'')+"</b><p style='color:#000'>"+(event.isEvergreen==1?event.recycleMode:'')+"</p></div>";

			element.html(elem);
		},
		eventDrop(event, element, view){
			var date_time = moment(event.start.format()).format("YYYY-MM-DD HH:mm");
			var post_id = event.id;
      axios.post('/updateposttime',{post_id:post_id, date_time:date_time}).then(response => {
         self.data = response.data.categories;
         self.userAccounts = response.data.accounts;
      }).catch(error => {
      	alert("Error occured -->" + error);
      });

		},
		eventClick: function(event, jsEvent, view) {
			this.postId = event.id;
			this.selectedAccountId = event.network_id;
			this.selectedCategoryId = event.category_id;
			this.selectedDesc = event.description.includes(event.source_url)?event.description:(event.description + " " + (event.source_url == "NA"?"":event.source_url));

			this.selectedImageUrl = event.image_url;
      this.postDate = event.start;
      this.postUrl = event.source_url;
			this.isEditModal = true;
		},
		onFileChange: function(e) {
			var self = this;
			var files = e.target.files || e.dataTransfer.files;
			var file = files[0];
			this.imageUploadReq = true;
			var formData = new FormData();
		  formData.append('file',file);
		  formData.append('upload_preset','ml_default')
				axios({
						url:'https://api.cloudinary.com/v1_1/dcvqcfob1/upload',
						method:'POST',
						headers:{
							'Content-Type':'application/x-www-form-urlencoded'
						},
						data:formData
				}).then(function(response){
						if(response.data.resource_type == "image"){
							self.imageUploadReq = false;
							self.selectedImageUrl = response.data.url;
						}
						else{
							alert("You cannot upload video or any other media other than image.");
						}
				}).catch(function(error){
						self.imageUploadReq = false;
						alert(error);
				});
		},
		thumbClicked: function(url){
			this.zoomedImage = true;
			this.zoomedImageUrl = url;
		},
		removeImage: function(){
			this.selectedImageUrl = 'NA';
		},
		editPost: function(){
      var day = moment(this.postDate);
			this.isEditReq = true;
			var self = this;
			axios.post('/editpost',{post_id: this.postId,
									category_id:this.selectedCategoryId,
									content: this.selectedDesc,
									source_url: this.statusUrl == ''?'NA':this.statusUrl,
									image_url: this.selectedImageUrl,
                  scheduledDate: day.format("YYYY-MM-DD"),
                  scheduledTime: day.format("HH:mm")
								}).
			then(response => {
				self.getEventsOnDropDownChange();
			}).
			catch(error => {
				self.isEditModal = false;
				self.isEditReq = false;
      });
		},
		deletePost: function(){
			this.isDelReq = true;
      var self = this;
      axios.post('/deletepost',{post_id: this.postId}).
			then(response => {
				self.getEventsOnDropDownChange();
			}).
			catch(error => {
				self.isEditModal = false;
				self.deleteModal = false;
				self.isDelReq = false;
      });
		}
	},
	watch:{
		isCategorySelected: function(val){
					if(val == "ALL"){
						this.socialAccountSelected = [];
						this.connectedAccounts = [];
						for(var i = 0 ; i< this.userAccounts.length;i++){
	            var obj = {};
	            obj.social_network_id = this.userAccounts[i].social_account_id;
	            obj.social_network_type = this.userAccounts[i].social_network_type;
	            obj.social_network_name = this.userAccounts[i].username;
							this.socialAccountSelected.push(obj.social_network_id);


	            obj.social_network_img = this.userAccounts[i].image_url;
	            if(obj.social_network_type == 0)
	              obj.pet_name = obj.social_network_name + " (" + (this.userAccounts[i].account_type==0?' Profile':(this.userAccounts[i].account_type==1?"Page":"Group"))+")";
	            else
	              obj.pet_name = obj.social_network_name;
	            this.connectedAccounts.push(obj);
	          }
						this.getEventsOnDropDownChange();
						return;
					}

		  		this.connectedAccounts=[];
          this.socialAccountSelected = [];
          var index = this.data.map(function(d) { return d['id']; }).indexOf(val);
          var network_id = this.data[index].network_id.split(',');
          var network_type = this.data[index].network_type.split(',');
          var network_name = this.data[index].selected_network.split(',');
          for(var i = 0 ; i< network_id.length;i++){
            var obj = {};
            obj.social_network_id = network_id[i];
            obj.social_network_type = network_type[i];
            obj.social_network_name = network_name[i];
						this.socialAccountSelected.push(obj.social_network_id);

            var index = this.userAccounts.map((item) => {return item['social_account_id']}).indexOf(network_id[i]);
            if(index == -1) continue;

            obj.social_network_img = this.userAccounts[index].image_url;
            if(network_type[i] == 0)
              obj.pet_name = network_name[i] + " (" + (this.userAccounts[index].account_type==0?' Profile':(this.userAccounts[index].account_type==1?"Page":"Group"))+")";
            else
              obj.pet_name = network_name[i];
            this.connectedAccounts.push(obj);
          }
					this.getEventsOnDropDownChange();
		},
		selectedDesc: function(val){
				 var tempVal = linkify.find(val);
				 if(tempVal.length == 0)
					this.statusUrl = '';
				 if(tempVal.length!=0 && tempVal[0].type!='email')
					this.statusUrl = tempVal[0].value;
		}
	}

}
</script>
<style>
    @import '~fullcalendar/dist/fullcalendar.css';
</style>
<style>

#note {
    position: absolute;
    z-index: 101;
    top: -35;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
}
</style>
