<template>
    <div class="columns loading" v-if="loading">
        Loading your Categories...
    </div>
    <div class="columns" v-else-if="loading==false && connectedAccounts.length == 0">
        Before you create a category, you must connect at least one social account.
    </div>

    <div class="columns column-parent " v-else>
        <div class="column is-one-third category-div" >
            <b>
              <p style="font-size:16px">CATEGORIES &nbsp;<a href="https://oneup.crisp.help/en-us/article/how-to-use-categories-e2hgch/?1556122131642" target="blank"><i class="fa fa-question-circle" aria-hidden="true" style="margin-top:8px"></i></a>
              </p>
            </b>
            <div class="columns is-mobile categories-tag is-hidden-desktop">
              <div class="tags mobile-tags column " style="cursor:pointer;" :style="{backgroundColor:selectedCategoryId == category.id?'#eaeaea':''}" v-for="category in data" @click="categoryDetail(category)">
                <span class="tag" :style="{backgroundColor:category.color}" style="margin-top:5px;margin-left:5px">&nbsp;&nbsp;</span>
                <p class="tag-category-name" >{{category.category_name}}</p>
              </div>
            </div>
            <i class="fa fa-angle-right tag-arrow-mbl"></i>
            <div class="categories-tag is-hidden-mobile">
              <div class="tags mobile-tags " style="cursor:pointer;" :style="{backgroundColor:selectedCategoryId == category.id?'#eaeaea':''}" v-for="category in data" @click="categoryDetail(category)">
                <span class="tag" :style="{backgroundColor:category.color}" style="margin-top:5px;margin-left:5px">&nbsp;&nbsp;</span>
                <p class="tag-category-name" >{{category.category_name}}</p>
              </div>
            </div>

            <hr class="category-hr-small is-hidden-desktop" />
            
            <div class="button is-primary add-category-btn" v-on:click="showAddCategoryModal=true;">Add Category</div>
        </div>

        <div class="button is-primary add-category-btn-mbl" v-on:click="showAddCategoryModal=true;">Add Category</div>

        <hr class="category-hr-medium is-hidden-desktop" />

        <div class="column" style="height:200px">
            <div class="notification is-danger" v-if="activeAccounts.length ==0">
              To schedule a post, you must select at least one account for this category below.
            </div>
            <p style="font-size:18px;">Edit Category</p>
            <div class="box edit-category-box" >
              <div class="field">
                <label class="label category-name">Category Name</label>
                <div class="control">
                  <input class="input" type="text" v-model="categoryName" v-on:keyup="updateCategoryName">
                </div>
              </div>
              
            <div class="field">
              <label class="label color-title">Color</label>
              
              <div class="columns image-color-div">
                  <figure class="image is-64x64 image-mbl" v-on:click="updateCategoryColor('#7e3878')" :style="{'border':selectedColor=='#7e3878'?'5px solid #000':''}" style="background-color:#7e3878;margin-left:10px;cursor:pointer">
                  </figure>
                  <figure class="image is-64x64 image-mbl" v-on:click="updateCategoryColor('#1e7145')" :style="{'border':selectedColor=='#1e7145'?'5px solid #000':''}" style="background-color:#1e7145;margin-left:10px;cursor:pointer">
                  </figure>
                  <figure class="image is-64x64 image-mbl" v-on:click="updateCategoryColor('#ffc40d')" :style="{'border':selectedColor=='#ffc40d'?'5px solid #000':''}" style="background-color:#ffc40d;margin-left:10px;cursor:pointer">
                  </figure>
                  <figure class="image is-64x64 image-mbl" v-on:click="updateCategoryColor('#ee1111')" :style="{'border':selectedColor=='#ee1111'?'5px solid #000':''}" style="background-color:#ee1111;margin-left:10px;cursor:pointer">
                  </figure>
                  <figure class="image is-64x64 image-mbl" v-on:click="updateCategoryColor('#2d89ef')" :style="{'border':selectedColor=='#2d89ef'?'5px solid #000':''}" style="background-color:#2d89ef;margin-left:10px;cursor:pointer">
                  </figure>
              </div>
            </div>

            <div class="field">
              <label class="label selected-account-label">Account Selected (Click to highlight accounts below)</label>
              <br>
              <div class="columns is-multiline">
                 <div id="mypanel" v-tooltip.bottom="account.pet_name" v-on:click="updateSocialAccount(account.social_account_id,account.username, account.social_network_type)"
                                   v-for="account in connectedAccounts"
                                   :style="{'opacity':activeAccounts.includes(account.social_account_id)?1:0.3,
                                   backgroundImage:'url('+ account.image_url+')'}">
                    <a class="sn-icon":style="{backgroundImage:'url('+ '/img/'+account.social_network_type+'.png'+ ')'}" href="#"></a>
                 </div>
              </div>
            </div>
            <label class="label" style="opacity:0.7">{{activeAccounts.length}} Accounts Selected in this category.</label>
            <div>
              <a class="button is-success" v-on:click="saveProgress()">
                <span>Save Changes</span>
              </a>
              <br>
              <a class="button is-danger is-outlined delete-btn-a" v-on:click="deleteModal=true">
                  <span>Delete Category</span>
                  <span class="icon is-small">
                    <i class="fa fa-times"></i>
                  </span>
              </a>
            </div>
            
          </div>
        </div>
        <div id="note" :style="{'display':isLoadingDialogue?'block':'none'}">
            Saving...
        </div>
        <div class="modal is-active" v-if="showAddCategoryModal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Add Category</p>
              <button class="delete" aria-label="close"  v-on:click="showAddCategoryModal=false"></button>
            </header>
            <section class="modal-card-body">
              <div class="field">
                <label class="label">Category Name</label>
                <div class="control">
                  <input class="input" type="text" v-model="newCategoryName">
                </div>
              </div>
              <p class="help is-danger" v-if="nameError">Please enter Category name</p>
            <div class="field">
              <label class="label">Colour</label>
              <br>
              <div class="columns">
                  <figure class="image is-64x64 image-mbl" v-on:click="newCategoryColor='#7e3878'" :style="{'border':newCategoryColor=='#7e3878'?'5px solid #000':''}" style="background-color:#7e3878;margin-left:10px;cursor:pointer">
                  </figure>
                  <figure class="image is-64x64 image-mbl" v-on:click="newCategoryColor='#1e7145'" :style="{'border':newCategoryColor=='#1e7145'?'5px solid #000':''}" style="background-color:#1e7145;margin-left:10px;cursor:pointer">
                  </figure>
                  <figure class="image is-64x64 image-mbl" v-on:click="newCategoryColor='#ffc40d'" :style="{'border':newCategoryColor=='#ffc40d'?'5px solid #000':''}" style="background-color:#ffc40d;margin-left:10px;cursor:pointer">
                  </figure>
                  <figure class="image is-64x64 image-mbl" v-on:click="newCategoryColor='#ee1111'" :style="{'border':newCategoryColor=='#ee1111'?'5px solid #000':''}" style="background-color:#ee1111;margin-left:10px;cursor:pointer">
                  </figure>
                  <figure class="image is-64x64 image-mbl" v-on:click="newCategoryColor='#2d89ef'" :style="{'border':newCategoryColor=='#2d89ef'?'5px solid #000':''}" style="background-color:#2d89ef;margin-left:10px;cursor:pointer">
                  </figure>
              </div>
            </div>
            <p class="help is-danger" v-if="colorError">Please select a color.</p>

            <br>
            </section>
            <footer class="modal-card-foot">
              <button class="button is-primary" @click="addCategory" v-bind:class="{'is-loading':isFormSubmitted}">Add</button>
              <button class="button" v-on:click="showAddCategoryModal=false">Cancel</button>
            </footer>
          </div>
        </div>
        <div class="modal is-active" v-if="deleteModal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Confirm</p>
              <button class="delete" aria-label="close" v-on:click="deleteModal=false"></button>
            </header>
            <section class="modal-card-body modal-delete-text">
              Are you sure you want to delete this Category? This will all remove all posts and schedule associated with this category.
            </section>
            <footer class="modal-card-foot">
              <button class="button is-danger" v-bind:class="{'is-loading':isDeleteClicked}" v-on:click="deleteCategory()">Delete</button>
              <button class="button" v-on:click="deleteModal=false">Cancel</button>
            </footer>
          </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import VTooltip from 'v-tooltip'
Vue.use(VTooltip)

export default {
    mounted() {
      this.getCategory();
    },
    data: function(){
        return {
          loading:true,
          data:[],
          activeAccounts: [],
          connectedAccounts:[],
          selectedCategoryId:'',
          categoryName:'',
          currentCategoryName:'',
          selectedColor:'',
          oneTimePostCount:0,
          evergreenPostCount:0,
          isLoadingDialogue: false,
          isDeleteClicked: false,
          showAddCategoryModal:false,
          newCategoryName:'',
          newCategoryColor:'',
          isFormSubmitted:false,
          nameError:false,
          colorError:false,
          deleteModal:false
        }
    },
    methods: {
       getCategory: function(){
          var self = this;
          axios.post('/getcategoryandaccounts').then(response => {
           self.connectedAccounts = response.data.accounts;
           self.connectedAccounts.map((account)=>{
            if(account.social_network_type == 0)
              account.pet_name = account.username + "("+(account.account_type==0?' Profile':(account.account_type==1?"Page":"Group"))+")";
            else
              account.pet_name = account.username;
           });
           self.loading = false;
           self.data = response.data.categories;
           if(response.data.categories.length == 0)return;
           self.categoryDetail(self.data[0]);
          }).catch(error => {
            console.log("Error occured -> " + error);
          });
        },
       categoryDetail: function(category){
          this.selectedCategoryId = category.id;
          this.categoryName = category.category_name;
          this.currentCategoryName = category.category_name;
          this.selectedColor = category.color;
          this.oneTimePostCount = "N/A";
          this.evergreenPostCount = "N/A";

          //get post of this category
          axios.post('/getpostscount',{category_id:category.id}).then(response => {
            this.oneTimePostCount = response.data.normalPostCount;
            this.evergreenPostCount = response.data.evergreenPostCount;
          });
          if(category.network_id != null)
            this.activeAccounts = category.network_id==null?[]:category.network_id.split(',');
          else
            this.activeAccounts = [];
       },
       updateCategoryName: function(){
         var self = this;
         this.isLoadingDialogue = true;
         axios.post('/updatecategoryname',{old_name:this.selectedCategoryId,new_name:this.categoryName}).then(response => {
            if(response.status==200){
              self.data.forEach(function(item)
              {
                if(item.category_name == self.currentCategoryName) {
                  item.category_name = self.categoryName;
                  self.currentCategoryName = self.categoryName;
                }
              });
              self.isLoadingDialogue = false;
            }
         }).catch(error => {
            console.log("Error occured -> " + error);
         });
       },
       updateCategoryColor: function(newColor){
         if(newColor == this.selectedColor) return;
         this.isLoadingDialogue = true;
         var self = this;
         self.selectedColor = newColor;
         axios.post('/updatecategorycolor',{current_name:this.categoryName,new_color:newColor}).then(response => {
            if(response.status==200){
              self.data.forEach(function(item)
              {
                if(item.category_name == self.currentCategoryName) item.color = newColor;
              });
              self.isLoadingDialogue = false;
            }
         }).catch(error => {
            console.log("Error occured -> " + error);
         });
       },
       updateSocialAccount: function(social_network_id, social_network_name, social_network_type){
         var self = this;
         this.isLoadingDialogue = true;
         if(this.activeAccounts.includes(social_network_id)){
           //remove this account from this category
           var self = this;
           this.activeAccounts.splice(self.activeAccounts.indexOf(social_network_id), 1);

           axios.post('/removesocialaccountcategory',{category_id:this.selectedCategoryId,network_id:social_network_id}).then(response => {
              if(response.status==200){
                self.data = response.data.categories;
                this.isLoadingDialogue = false;
              }
           }).catch(error => {
            console.log("Error occured -> " + error);
           });
         }else{
          //add this account under this category
           var self = this;
           this.activeAccounts.push(social_network_id);
           axios.post('/addsocialaccountcategory',{category_id:this.selectedCategoryId,
                        social_network_id:social_network_id,
                        social_network_name:social_network_name,
                        social_network_type: social_network_type

           }).then(response => {
              if(response.status==200){
                self.data = response.data.categories;
                this.isLoadingDialogue = false;
              }
           }).catch(error => {
            console.log("Error occured -> " + error);
           });
         }
       },
       deleteCategory: function(){
          var self = this;
          this.isDeleteClicked = true;
          if(this.data.length == 1) {
            alert("You need at least one category in your account.");
            this.isDeleteClicked = false;
            return;
          }
          axios.post('/deletecategory',{category_id:this.selectedCategoryId}).then(response => {
              if(response.status==200){
                if(response.data.categories.length != 0){
                  self.data = response.data.categories;
                  self.categoryDetail(self.data[0]);
                }
                else
                  self.data = [];

                self.isDeleteClicked = false;
                self.deleteModal = false;
              }
          }).catch(error => {
            console.log("Error occured -> " + error);
          });
       },
       saveProgress: function(){
         alert("Changes Saved!");
       },
       addCategory: function(){
        var self = this;
        this.nameError = false;
        this.nameColor = false;
        if(this.newCategoryName.length==0){
          this.nameError = true;
          return;
        }
        if(this.newCategoryColor == ''){
          this.colorError = true;
          return;
        }
        this.isFormSubmitted = true;
        axios.post('/addcategory',{category_name:this.newCategoryName,
            category_color:this.newCategoryColor,

        }).then(response => {
            if(response.status==200){
              self.data = response.data.categories;
              self.isFormSubmitted = false;
              self.showAddCategoryModal = false;
              self.data.map(function(category){
                if(category.category_name == self.newCategoryName){
                  self.categoryDetail(category);
                  return;
                }
              })

            }
        }).catch(error => {

        });
       }
    }
}
</script>

<style>

#note {
    position: absolute;
    z-index: 101;
    top: -35;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
}
</style>
