<template>
<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6">
    	<div class="columns">
    		<div class="column" style="margin-top:3px"><b>Filter</b></div>
	    	
	    	<div class="column">
				<div class="select">
				  <select v-model="dayFilter">
				    <option value="day">Past 24 hours</option>
				    <option value="week">Past 1 Week</option>
				    <option value="month">Past 1 Month</option>
				  </select>
				</div>
	    	</div>

	    	<div class="column">
				<div class="select">
				  <select v-model="countryFilter">
					<option value="">All Countries</option> 
					<option value="AR">Argentina</option> 
					<option value="AU">Australia</option> 
					<option value="AT">Austria</option> 
					<option value="BE">Belgium</option> 
					<option value="BR">Brazil</option> 
					<option value="CA">Canada</option> 
					<option value="CL">Chile</option> 
					<option value="DK">Denmark</option> 
					<option value="FI">Finland</option> 
					<option value="FR">France</option> 
					<option value="DE">Germany</option> 
					<option value="HK">Hong Kong SAR</option> 
					<option value="IN">India</option> 
					<option value="ID">Indonesia</option> 
					<option value="IT">Italy</option> 
					<option value="JP">Japan</option> 
					<option value="KR">Korea</option> 
					<option value="MY">Malaysia</option> 
					<option value="MX">Mexico</option> 
					<option value="NL">Netherlands</option> 
					<option value="NZ">New Zealand</option> 
					<option value="NO">Norway</option> 
					<option value="CN">Peoples Republic of China</option> 
					<option value="PL">Poland</option> 
					<option value="PT">Portugal</option>
					<option value="PH">Republic of the Philippines</option> 
					<option value="RU">Russia</option> 
					<option value="SA">Saudi Arabia</option> 
					<option value="ZA">South Africa</option> 
					<option value="ES">Spain</option> 
					<option value="SE">Sweden</option> 
					<option value="CH">Switzerland</option> 
					<option value="TW">Taiwan</option> 
					<option value="TR">Turkey</option> 
					<option value="US">United States</option>
					<option value="GB">United Kingdom</option> 
				  </select>
				</div>
	    	</div>	    
	    	
	    	<div class="column">
				<div class="select">
				  <select v-model="contentFilter">
				    <option value="all">All Content Types</option>
				    <option value="video">Only Videos</option>
				  </select>
				</div>
	    	</div>	    		
    	</div>
    	<div class="columns" style="margin-top:20px">
    		<div class="column" style="margin-top:2px"><p><b>Search Term</b></p></div>
    		<div class="column" style="margin-left:-110px"><input class="input" v-model="searchTerm" type="text" autofocus></div>
    		<div class="column"><a class="button is-info" v-bind:class="{'is-loading':isReqSend}" v-on:click="fetchContent(true)">Search</a></div>
    	</div> 
    </div>
    <div class="column is-11" style="margin-top:20px;border-top:1px solid #eee;background-color:#EBF2F6;min-height:0px">
    	<div class="columns is-centered is-multiline" style="margin-top:10px;">
    		<div class="column is-11" v-for="post in posts" style="margin-top:40px;margin-bottom:40px;min-height:50px;border-radius:5px;background-color:#fff">
		      <div class="columns">
		          
		          <div class="column is-1">
		            <label class="checkbox" style="float:left">
		              <input type="checkbox" v-model="post.isSelected" v-on:change="updatePostCount(post)">
		            </label>                 
		          </div>
		          
		          <div class="column is-4">
		            <div style="width:300px;height:200px">
		              <img :src="post.myimage" style="width:100%;height:100%;object-fit:'cover';border-radius:5px"/>
		            </div>
		          </div>
		          
		          <div class="column is-6">
		            <div class="field">
		              <label class="label"></label>
		              <div class="control">
		                <textarea class="textarea" style="color:#000" placeholder="e.g. Hello world" v-model="post.description"></textarea>
		              </div>  
		              <p style="margin-top:10px"><a :href="post.url" target="blank" style="font-size:14">{{post.url}}</a></p>
		              <p style="margin-top:10px; font-size:13px;margin-top:15px;">{{post.dateDiscover}}</p>
		            </div>
		          </div>
		        </div>  
    		</div>
    		<a class="button is-info" v-if="posts.length!=0" style="margin-bottom:10px;" v-bind:class="{'is-loading':isReqSend}" v-on:click="fetchContent(false)">Load More</a>
    	</div>
    </div>        
  </div>
  <div style="width:100%;height:70px"></div>

  <div id="stickyDiv" style="text-align:center;position:fixed;left:0px;bottom:0px;height:45px;width:100%;background:#4D4B45;">
     <form action="/post/getimagefromdiscover" method="post" name="theForm"> 
    	 <input type="hidden"  name="data" :value="JSON.stringify(selectedPosts)">
    	<a class="button is-info" v-on:click="schedulePosts()" style="margin-top:5px;"> Schedule {{selectedPosts.length}} posts</a>
  	 </form>
  </div>  
</div>  
</template>


<script>
export default {
    mounted() {
      
    },
    data: function(){
      return{
      	posts:[],
      	selectedPosts:[],
      	isReqSend:false,
      	searchTerm:'',
      	dayFilter:"day",
      	countryFilter:"",
      	contentFilter:"all",
      	currentPage: 0
      }
    },
    methods:{
    	fetchContent: function(isFirst){
    	  if(this.searchTerm.trim() == '')return;
    	  if(isFirst) this.currentPage = 0;
    	  this.currentPage++;
    	  this.isReqSend = true;
          var self = this;
          axios.post('/post/fetchpopularcontent',{term:this.searchTerm,duration:this.dayFilter,page:this.currentPage,type:this.contentFilter,country:this.countryFilter}).then(response => {  
            self.isReqSend = false;
            response.data.forEach(function(item){
            	item.myimage = item.image==undefined?'':item.image.contentUrl;
            	item.isSelected = false;
            	item.dateDiscover = moment(item.datePublished).format('DD MMM YYYY, hh:mm A');
            	item.description += " "+ item.url;
            })
            if(self.currentPage == 1)
            	self.posts = response.data;
            else
            {
            	response.data.map(function(item){
            		self.posts.push(item);
            	})
            }
          }).catch(error => {
          	alert(error);
          });    		
    	},
    	updatePostCount: function(post){
    		var self = this;
    		this.selectedPosts = [];
    		this.posts.map(function(item){
    			if(item.isSelected)
    		    {
    		    	var obj = {};
    		    	obj.description = item.description;
    		    	obj.site_url = item.url;
    		    	obj.image_url = item.myimage;
    		    	self.selectedPosts.push(obj);
    		    }
    		})
    	},
    	schedulePosts: function(){
    		if(this.selectedPosts.length==0){
    			alert("You must select at least one Image.");
    			return;
    		}
    		document.theForm.submit();
    	}
    }
}
</script>  
