<template>
	<div class="container" v-if="isInitialStateLoaded==false">
		<p>Loading your current  settings...</p>
	</div>
	<div class="container" v-else>
		<div class="column is-7">
			<p style="font-size:24px"><b>Google Analytics Tracking</b></h2>
			<p>With tracking enabled, you will be able to see how much traffic you receive from social media posts directly inside your Google Analytics Dashboard. You can disable this below.</p>
			<div style="height:1px;background-color:#e6e6e6;margin-top:15px;"></div>
			<div style="height:110px;">
				<div style="float:left;margin-top:20px;">
					<p v-if="isTrackingEnabled==1"><b>Tracking is enabled.</b></p>
					<p v-if="isTrackingEnabled==0" style="color:red"><b>Tracking is disabled.</b></p>
					<p style="width:400px">Once enabled, Google Analytics Tracking will be added to the links you share via UTM parameters.</p>
				</div>
				<a class="button is-danger" v-on:click="toggleTrackingState()"  v-bind:class="{'is-loading':isTrackChangeRequest}" v-if="isTrackingEnabled==1" style="margin-top:35px;float:right">Disable Tracking</a>
				<a class="button is-success" v-on:click="toggleTrackingState()" v-bind:class="{'is-loading':isTrackChangeRequest}" v-if="isTrackingEnabled==0" style="margin-top:35px;float:right">Enable Tracking</a>

			</div>
			<div style="height:1px;background-color:#e6e6e6"></div>
			<div class="field" style="margin-top:20px;clear:both">
			  <label class="label">utm_medium</label>
			  <div class="control ">
			    <input class="input" v-model="utmMedium" value="social">
			  </div>
			</div>
			<div class="field" style="margin-top:30px;">
			  <label class="label">utm_source for Facebook</label>
			  <div class="control ">
			    <input class="input" v-model="utmFacebook" value="facebook.com">
			  </div>
			</div>
			<div class="field" style="margin-top:30px;">
			  <label class="label">utm_source for Twitter</label>
			  <div class="control ">
			    <input class="input" v-model="utmTwitter" value="twitter.com">
			  </div>
			</div>
			<div class="field" style="margin-top:30px;">
			  <label class="label">utm_source for Instagram</label>
			  <div class="control ">
			    <input class="input" v-model="utmInstagram" value="instagram.com">
			  </div>
			</div>
			<div class="field" style="margin-top:30px;">
			  <label class="label">utm_source for Google Plus</label>
			  <div class="control ">
			    <input class="input" v-model="utmGoogle" value="googleplus.com">
			  </div>
			</div>
			<div class="field" style="margin-top:30px;">
			  <label class="label">utm_source for LinkedIn</label>
			  <div class="control ">
			    <input class="input" v-model="utmLinked" value="linkedin.com">
			  </div>
			</div>
			<div class="field" style="margin-top:30px;">
			  <label class="label">utm_source for Pinterest</label>
			  <div class="control ">
			    <input class="input" v-model="utmPinterest" value="pinterest.com">
			  </div>
			</div>
			<a class="button is-success" style="margin-top:25px"  v-bind:class="{'is-loading':isUpdateVariableRequest}" v-on:click="updateTrackingVariable()">Update</a>

		</div>
	</div>
</template>

<script>
export default{
	mounted(){
		this.getInitialstate();
	},
	data:function(){
		return {
			isInitialStateLoaded:false,
			isTrackingEnabled:0,
			isTrackChangeRequest: false,
			isUpdateVariableRequest:false,
			utmMedium:'',
			utmFacebook:'',
			utmTwitter:'',
			utmInstagram:'',
			utmGoogle:'',
			utmLinked:'',
			utmPinterest:''
		}
	},
	methods:{
      getInitialstate: function(){
        var self = this;
        axios.post('/getinitialstate').then(response => {
          self.isTrackingEnabled = response.data.trackingStatus;
          self.isInitialStateLoaded = true;
          self.utmMedium = response.data.utmMedium;
          self.utmFacebook = response.data.utmFacebook;
          self.utmTwitter = response.data.utmTwitter;
          self.utmInstagram = response.data.utmInstagram;
          self.utmGoogle = response.data.utmGoogle;
          self.utmLinked = response.data.utmLinkedin;
          self.utmPinterest = response.data.utmPinterest;
        });
      },
      toggleTrackingState: function(){
      	var self= this;
      	this.isTrackChangeRequest = true;
        axios.post('/toggletrackingstate').then(response => {
        	self.isTrackChangeRequest = false;
        	self.isTrackingEnabled = !self.isTrackingEnabled;
        });
      },
      updateTrackingVariable: function(){
      	var self= this;
      	this.isUpdateVariableRequest = true;
        axios.post('/updaterackingvariable',{utmMedium:this.utmMedium,
        									 utmFacebook:this.utmFacebook,
        									 utmTwitter: this.utmTwitter,
        									 utmInstagram: this.utmInstagram,
        									 utmGoogle: this.utmGoogle,
        									 utmLinked: this.utmLinked,
        									 utmPinterest: this.utmPinterest

        }).then(response => {
        	alert("Value updated!");
        	self.isUpdateVariableRequest=false;
        });
      }
	}
}
</script>
