<template>
<div class="columns" v-if="loading">
    Loading your Accounts...
</div>
<div class="container" v-else-if="allPosts.length==0">
  <a class="button is-primary" v-on:click="imageUploadModal=true">Select Images</a>
  <br /><br />
  <p style="font-size:14px">1) You can only add a link to your Instagram Stories if you have more than 10,000 followers.</p>
  <p style="font-size:14px">2) Adding text will not add a caption to your photos. You can add captions to your photos before posting by using one of many free services.</p>
  <div class="modal is-active" v-if="imageUploadModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Select Images </p>
        <button class="delete" aria-label="close"  v-on:click="imageUploadModal=false"></button>
      </header>
      <section class="modal-card-body" style="height:400px">
        <vue-dropzone :awss3="awss3" ref="myVueDropzone" id="dropzone"
                      :options="dropzoneOptions"
                      v-on:vdropzone-s3-upload-error="s3UploadError"
                      v-on:vdropzone-s3-upload-success="s3UploadSuccess"
                      v-on:vdropzone-files-added="dropzoneFilesAdded"
                    >
        </vue-dropzone>
      </section>
    </div>
  </div>
</div>
<div class="container" v-else>
  <div class="columns is-multiline" style="margin-top:20px">
    <div v-for="account in connectedInstagramAccounts">
      <div id="smallpanel"
          v-tooltip.bottom="account.username"
          v-on:click="selectSocialAccountBulk(account.social_account_id)"
         :style="{'opacity':selectedAccountsBulk.includes(account.social_account_id)?1:0.3,backgroundImage:'url('+ account.image_url+')'}">
        <a id="sn-icon-small" :style="{backgroundImage:'url('+ '/img/'+account.social_network_type+'.png'+ ')'}" href="#"></a>
      </div>
    </div>
  </div>

  <div class="columns" style="margin-top:-20px">
    <div class="column is-4">
      <div class="field">
        <label class="label"></label>
        <div class="control">
          <textarea class="textarea" placeholder="Bulk Update" v-model="bulkDescText"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="columns" style="margin-top:40px;" v-for="post in allPosts">
    <div class="column" style="min-height:90px;border-radius:5px;background-color:#EBF2F6">
      <div class="columns">
        <div class="column is-4">
          <div class="field">
            <label class="label"></label>
            <div class="control">
              <textarea class="textarea" placeholder="Link for this story" v-model="post.postUrl"></textarea>
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div style="width:125px;height:125px;margin-top:28px" v-if="post.imgUrl!='NA'">
            <img :src="post.imgUrl" style="width:100%;height:100%;object-fit:'cover';border-radius:5px"/>
          </div>
        </div>
        <div class="columns is-multiline" style="margin-top:20px">
          <div v-for="account in connectedInstagramAccounts">
            <div id="smallpanel"
                v-tooltip.bottom="account.username"
                v-on:click="selectSocialAccount(account.social_account_id,post)"
               :style="{'opacity':post.selected_accounts.includes(account.social_account_id)?1:0.3,backgroundImage:'url('+ account.image_url+')'}">
              <a id="sn-icon-small" :style="{backgroundImage:'url('+ '/img/'+account.social_network_type+'.png'+ ')'}" href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="button is-info" v-on:click="schedulePostModal=true">Schedule</a>
  <div class="modal is-active" v-if="schedulePostModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Select Date and Time </p>
        <button class="delete" aria-label="close"  v-on:click="schedulePostModal=false"></button>
      </header>
      <section class="modal-card-body">
          <div class="field">
            <label class="label">Select Date:</label>
            <div class="row">
              <span>Date：</span>
              <date-picker :date="starttime" :option="multiOption" :limit="limit"></date-picker>
            </div>
          </div>
          <br>
          <div class="field">
            <label class="label">Select Time:</label>
            <div class="control">
              <select v-model="schedulePostTime">
                <option v-for="time in timeSlots"
                        v-bind:value="time.time">
                    {{convertTime(time.time)}}
                </option>
              </select>
            </div>
          </div>
          <br>
          <div class="field">
            <label class="label">Interval between each post (in minutes):</label>
            <div class="control">
              <input class="input is-primary" v-model="schedulePostInterval" onkeyup="this.value=this.value.replace(/[^\d]/,'')" type="text" placeholder="e.g 5" >
            </div>
          </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary" v-bind:class="{'is-loading':isReqSend}" v-on:click="scheduleStory()">Schedule</button>
      </footer>
    </div>
  </div>
</div>
</template>

<script>
import Vue from 'vue'
import myDatepicker from 'vue-datepicker'
import VTooltip from 'v-tooltip'
var cloneDeep = require('clone-deep');

Vue.use(VTooltip)
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default{
  components: {
      'date-picker': myDatepicker,
       vueDropzone: vue2Dropzone
  },
  mounted(){
    this.getInstagramAccounts();
    this.setUpTimeSlot();
  },
  data: function(){
    return{
      starttime: {
        time:  moment().format("YYYY-MM-DD")
      },
      multiOption: {
        type: 'day',
        week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
        month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        format:"YYYY-MM-DD"
      },
      dropzoneOptions: {
              url: 'https://www.oneupapp.io/signature',
              thumbnailWidth: 150,
              uploadMultiple: true,
              method: "PUT",
              acceptedFiles:"image/*",
              headers: { 'Access-Control-Allow-Origin': '*'},
              dictDefaultMessage: "Drop files or click here to upload"
      },
      awss3: {
              signingURL: 'https://www.oneupapp.io/signature',
              headers: {},
              params : {},
              sendFileToServer : true,
              withCredentials: false
      },
      allPosts:[],
      limit: [],
      schedulePostTime: 0,
      timeSlots:[],
      loading: true,
      bulkDescText:'',
      connectedInstagramAccounts:[],
      socialAccountSelected: [],
      selectedAccountsBulk:[],
      imageUrl: '',
      statusUrl:'',
      imageUploadReq: false,
      schedulePostModal: false,
      isReqSend:false,
      schedulePostInterval: 3,
      imageUploadModal: false,
      totalFilesSelected: 0,
      totalFiles:[]
    }
  },
  methods: {
    getInstagramAccounts: function(){
      var self = this;
      axios.post('/getinstagramaccounts').then(response => {
       self.connectedInstagramAccounts = response.data.accounts;
       if(response.data.instaEnabled == 0){
         alert("Instagram is not enabled for your account. Please contact customer support for more details");
       }else{
         self.loading = false;
       }
      }).catch(error => {

      });
    },
    selectSocialAccount: function(social_network_id, post){
      if(post.selected_accounts.includes(social_network_id))
        post.selected_accounts.splice(post.selected_accounts.indexOf(social_network_id),1);
      else
        post.selected_accounts.push(social_network_id);
    },
    selectSocialAccountBulk: function(social_network_id){
      var self = this;
      if(this.selectedAccountsBulk.includes(social_network_id))
        this.selectedAccountsBulk.splice(this.selectedAccountsBulk.indexOf(social_network_id),1);
      else
        this.selectedAccountsBulk.push(social_network_id);

      this.allPosts.map(function(item){
        item.selected_accounts = cloneDeep(self.selectedAccountsBulk);
      });
    },
    dropzoneFilesAdded: function(files){
      this.totalFilesSelected = files.length;
    },
    s3UploadError(errorMessage){
      alert("Cannot upload this image "+errorMessage);
      this.imageUploadModal = false;
    },
    s3UploadSuccess(s3ObjectLocation){
      this.totalFiles.push(s3ObjectLocation);
      if(this.totalFiles.length == this.totalFilesSelected){
        this.openWidget(this.totalFiles);
        this.imageUploadModal = false;
      }
    },
    openWidget: function(result){
      for(var i = 0; i < result.length; i++){
        var obj = {};
        obj.postId = i;
        obj.isChecked = true;
        obj.isEvergreen = false;
        obj.postUrl = '';
        obj.imgUrl = result[i];
        obj.isRepin = 0;
        obj.repinId = 0;
        obj.selected_accounts = [];
        obj.selected_account_type = [];
        obj.selected_account_name = [];
        obj.board_value = [];
        this.allPosts.push(obj);
      }
    },
    setUpTimeSlot: function(){
      var index = 0;
      for(var i = 0; i<24;i++){
        var obj = {};
        obj.index = index;
        obj.time = (i<10?"0":'')+i+":00";
        this.timeSlots.push(obj);
        obj = {};
        index=index+1;
        obj.index = index;
        obj.time = (i<10?"0":'')+i+":15";
        this.timeSlots.push(obj);
         obj = {};
        index=index+1;
        obj.index = index;
        obj.time = (i<10?"0":'')+i+":30";
        this.timeSlots.push(obj);
        index=index+1;
         obj = {};
        obj.index = index;
        obj.time = (i<10?"0":'')+i+":45";
        this.timeSlots.push(obj);
        index=index+1;
      }
    },
    convertTime: function(time){
        time = time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];
        if (time.length > 1) {
          time = time.slice (1);
          time[5] = +time[0] < 12 ? ' am' : ' pm';
          time[0] = +time[0] % 12 || 12;
        }
        return time.join ('');
    },
    scheduleStory: function(){
      var self = this;
      this.finalData = [];
      if(this.schedulePostTime == 0){
        alert("Please select the time.");
        return;
      }
      var ts = (moment(this.starttime.time + " "+ this.schedulePostTime).unix()) *1000;

      let allOk = true;

      this.allPosts.map(function(post){
        self.connectedInstagramAccounts.map(function(item){
          if(post.selected_accounts.includes(item.social_account_id)){
            var obj = {};
            obj.scheduledDate = moment(ts).format('YYYY-MM-DD');
            obj.scheduledTime = moment(ts).format('HH:mm');
            obj.category_id =  9;
            obj.social_network_type = item.social_network_type;
            obj.social_network_id = item.social_account_id;
            obj.social_network_name = item.social_account_id;
            obj.content = "";
            obj.postType = 1;
            obj.image_url = post.imgUrl;
            obj.source_url = post.postUrl == ''?'NA':post.postUrl;
            obj.video_url = 'NA';
            obj.board_name =  null;
            obj.board_id = null;
            obj.isRepin = 0;
            obj.repinId = 0;
            obj.isEvergreen = 0;
            obj.expiry_date = 'NA';
            obj.expiry_after_share = 'NA';
            obj.isNewPost = 0;
            obj.recycleMode = 0;
            self.finalData.push(obj);
          }
        });
        ts =  (moment(ts).add(self.schedulePostInterval, 'minutes').unix()) *1000;
      });

      if(this.finalData.length == 0){
          alert("Some of your posts do not have any Instagram account selected. Please try again.");
          return;
      }

      self.isReqSend = true;
      axios.post('/post/schedulepost',{data:this.finalData}).then(response => {
        if(response.data == -1){
          self.isReqSend = false;
          alert("Number of posts exceeds limit of your plan. Please contact customer support.");
        }else{
        window.location.href = '/queue';
        }
      }).catch(error => {
        self.isReqSend = false;
        alert("Error" + error);
      });
    }
  },
  watch: {
    bulkDescText: function (val){
      this.allPosts.map(function(item){
         item.postUrl = val;
      });
    }
  }
}
</script>
