<template>
<div class="container" v-if="isExtension && allPosts.length==0">
  <p>Loading images. Please wait...</p>
</div>
<div class="container" v-else-if="isExtension==false && allPosts.length==0">
  <a class="button is-primary" v-on:click="imageUploadModal=true">Select multiple images</a>
  <br><br>
  <p> OR </p>
  <br>
  <div class="file" style="float:left">
    <label class="file-label">
      <input class="file-input" type="file" name="resume" v-on:change="onCsvUpload">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fa fa-upload"></i>
        </span>
        <span class="file-label">
         Bulk upload from CSV file
        </span>
      </span>
    </label>
  </div>
  <p style="float:left;margin-top:5px;font-size:14px;">(max 200 posts per file)</p>
  </br>
  <p style="text-decoration:underline;font-size:14px;margin-top:20px;cursor:pointer;clear:both" v-on:click="isHelpModal=true">How to upload CSV file?</p>
  </br>
  <a href="https://res.cloudinary.com/dgklxn8cj/raw/upload/v1547485391/new_csv_format_-_oneupapp_euvdff_1_dhaahx.csv" target="blank" style="text-decoration:underline;font-size:14px;margin-top:20px;cursor:pointer;clear:both">Download sample CSV file</a>

  <br>
  <p v-if="isCsvUpload">Uploading CSV file</p>

  <div class="columns is-centered is-multiline">
    <div style="width:75%;height:1px;background-color:#cecece;margin-top:60px"></div>
    <div class="column is-12">
      <a href="/post/getextension" style="font-size:14px;margin-top:20px;cursor:pointer;clear:both;margin-top:15px"><span class="tag is-danger">New</span>&nbsp;&nbsp;Import and schedule multiple images from any websites using the OneUp Chrome extension.</a>
    </div>
  </div>
  <br /><br />
  <div class="file" style="float:left" v-if="isMeetEdgarImport">
    <label class="file-label">
      <input class="file-input" type="file" name="resume" v-on:change="onMeetEdgarCsvUpload">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fa fa-upload"></i>
        </span>
        <span class="file-label">
         Import with end Date (Charles)
        </span>
      </span>
    </label>
  </div>
  <br />
  <p v-if="isCsvUpload && isMeetEdgarImport">Uploading CSV file,please wait</p>

  <div class="modal is-active" v-if="isHelpModal">
    <div class="modal-background"></div>
    <div class="modal-card" style="min-height:500px">
      <header class="modal-card-head">
        <p class="modal-card-title">How to bulk-add posts from a spreadsheet</p>
        <button class="delete" aria-label="close" v-on:click="isHelpModal=false"></button>
      </header>
      <section class="modal-card-body" style="height:500px">
        <ul>
          <li>1. CSV file should have <b>2</b> columns (without header) and <b>1</b> optional column for the date and time of each post:<br> <br>
            a)<b>The First column contains the message of your post (text or link).</b><br><br>
            b)<b>The Second column contains the URL of the image you want to accompany your post.(If you want to create a post without an image, you can leave this column empty.)</b></br></br>
            c)<b>The third column is optional and lets you set the date and time of each post. The format should be: YYYY-MM-DD HH:mm</b>
              </br>
              <b>For Ex: 2018-12-24 13:05</br> (If the third column is left blank, you can select the date and time of each post after the posts have been uploaded)</b>
           </li>
          <br>
          <li>2. You can put all <span style="color:#188EF5">links/URLs</span> in the message of your post(column 1), and OneUp will automatically extract it.</li>
          <br>
          <li>3. Use Google Sheets, to create and export a spreadsheet as a CSV file. We do not support other softwares to create CSV file.</li>
          <br>
          <li>4. When saving the CSV file, make sure to choose UTF8-encoding if you have the option.</li>
          <br>
          <li>5. If your CSV file is not able to be imported, check for any double-quote characters that may need fixing.</li>

        </ul>
      </section>
      <footer class="modal-card-foot">
        <a href="https://res.cloudinary.com/dgklxn8cj/raw/upload/v1547485391/new_csv_format_-_oneupapp_euvdff_1_dhaahx.csv" target="blank" class="button is-success">Download sample CSV file</a>
        <button class="button" v-on:click="isHelpModal=false">Got It</button>
      </footer>
    </div>
  </div>
  <div class="modal is-active" v-if="imageUploadModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Select Images </p>
        <button class="delete" aria-label="close"  v-on:click="imageUploadModal=false"></button>
      </header>
      <section class="modal-card-body" style="height:400px">
        <vue-dropzone :awss3="awss3" ref="myVueDropzone" id="dropzone"
                      :options="dropzoneOptions"
                      v-on:vdropzone-s3-upload-error="s3UploadError"
                      v-on:vdropzone-s3-upload-success="s3UploadSuccess"
                      v-on:vdropzone-files-added="dropzoneFilesAdded"
                    >
        </vue-dropzone>
      </section>
    </div>
  </div>
</div>

<div class="container" v-else>
  <div class="columns"  style="background-color:#188EF5;margin-top:20px;border-radius:5px" v-if="!isBulkExpanded">
    <div class="column is-12" style="height:45px;" v-on:click="isBulkExpanded=true">
      <b style="cursor:pointer;color:#fff">Want to edit all posts at once? Click here </b>
    </div>
  </div>
	<div class="columns" v-else  style="background-color:#F5F5F5;margin-top:20px;border-radius:5px;">
		<div class="column is-4">
      <div class="field" style="margin-top:10px;width:300px">
        <label class="label" style="text-decoration:underline;font-size:22px">Update All</label>
        <br />
        <div class="control">
          <textarea class="textarea" placeholder="Update description of all posts" v-model="bulkDescText"></textarea>
        </div>
      </div>
		</div>
		<div class="column is-3">
			<div class="field">
        <label class="label">Update Category of all posts:</label>
			  <div class="control">
			    <div class="select is-primary">
			      <select v-on:change="bulkCategoryChange" v-model="bulkCategoryid">
			        <option v-for="category in categories" v-bind:value="category.id">{{category.category_name}}</option>
			      </select>
			    </div>
			  </div>
			</div>
      <div class="field" style="margin-top:30px">
        <label class="label">Repeat:</label>
        <div class="control">
          <div class="select is-primary">
            <select v-on:change="repeatModeChange" v-model="bulkRepeatMode">
              <option value=0>None</option>
              <option value=6>Daily</option>
              <option value=1>Weekly</option>
              <option value=2>Monthly</option>
              <option value=3>Once Every 3 Months</option>
              <option value=4>Once Every 6 Months</option>
              <option value=5>Once Every Year</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <label class="checkbox" v-if="bulkRepeatMode!=0">
        <input type="checkbox" v-model="bulkExpiryDateChecked">
        <b>End Date: </b>
      </label>
      &nbsp;
      <input placeholder="YYYY-MM-DD" v-model="bulkEndDate" v-if="bulkExpiryDateChecked"/>
		</div>
		<div class="column is-1"></div>
		<div class="columns is-multiline" style="margin-top:20px">
     <div v-for="account in connectedAccounts">
       <div id="smallpanel"
            v-on:click="bulkAccountSelect(account.social_account_id)"
            v-tooltip.bottom="account.pet_name"
            v-if="bulkNetworkInCategory.includes(account.social_account_id)"
            :style="{'opacity':bulkSelectedNetworkId.includes(account.social_account_id)?1:0.3,backgroundImage:'url('+ account.image_url+')'}">
          <a id="sn-icon-small" :style="{backgroundImage:'url('+ '/img/'+account.social_network_type+'.png'+ ')'}" href="#"></a>
       </div>
       <div v-if="bulkNetworkInCategory.includes(account.social_account_id)&&account.social_network_type == 5" style="min-height:30px;float:left;margin-top:10px;margin-left:10px" :style="{'width':account.social_network_type==5?150:0}">
          <multi-select :multi = false
                        :options="account.boards"
                        :selected-options="bulkBoardValue[account.accountCount]"
                        placeholder="Select Board"
                        @select="onSelect">
          </multi-select>
      </div>
      </div>
		</div>
	</div>

  <div class="columns" style="margin-top:40px;margin-bottom:40px">
    <div style="width:100%;height:5px;background-color:rgb(84,193,180);border-radius:10px"></div>
  </div>

  <div class="columns" style="margin-top:90px;margin-bottom:40px" v-for="post in allPosts" :style="{'opacity':post.isChecked?1:0.4}">
    <div class="column" style="min-height:90px;border-radius:5px" :style="{'background-color':post.isEvergreen?'#DCF9C0':'#EBF2F6'}">
      <div class="columns">
          <div class="column is-4">
            <div class="field">
              <div class="control">
                <textarea class="textarea" placeholder="e.g. Hello world" v-model="post.postContent"></textarea>
                <p style="font-size:14px">Character Count: {{post.postContent.length}}</p>
              </div>
            </div>
            <div class="field" v-if="post.isRepin == 1">
              <label class="label"></label>
              <div class="control">
                <p style="font-size:14px;color:#003300"><b>REPIN</b></p>
              </div>
            </div>
          </div>
          <div class="column  is-2">
            <div class="field" style="margin-top:30px">
              <div class="control">
                <div class="select is-primary">
                  <select v-on:change="categoryChange(post)" v-model="post.category_id">
                    <option v-for="category in post.categories" v-bind:value="category.id">{{category.category_name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="column is-1" v-if="userEmail == 'healthywomensmagazine@gmail.com'">
              <a class="button is-success" style="margin-top:-5px"  v-on:click="selectLastBoard(post)">
                <span class="icon is-small">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="column is-2">
            <div style="width:125px;height:125px;margin-top:28px" v-if="post.imgUrl!='NA'">
              <img :src="post.imgUrl" v-on:click="thumbClicked(post.imgUrl)" style="width:100%;height:100%;object-fit:'cover';border-radius:5px;cursor:pointer"/>
            </div>
          </div>
          <div class="columns is-multiline" style="margin-top:20px">
            <div class="notification is-danger" v-if="post.social_accounts.length ==0">
              You have not selected/enabled any social accounts for this category.
              Go to  <a href="/category">Category</a> and enable social account for this category.
            </div>
            <div v-for="account in connectedAccounts">
              <div id="smallpanel" v-tooltip.bottom="account.pet_name"
                                  v-on:click="selectSocialAccount(account.social_account_id,post,false)"
                                  v-if="post.social_accounts.includes(account.social_account_id)"
                                  :style="{'opacity':post.selected_accounts.includes(account.social_account_id)?1:0.3,backgroundImage:'url('+ account.image_url+')'}">
                <a id="sn-icon-small" :style="{backgroundImage:'url('+ '/img/'+account.social_network_type+'.png'+ ')'}" href="#"></a>
              </div>
              <div v-if="post.social_accounts.includes(account.social_account_id)" style="min-height:30px;float:left;margin-left:10px;margin-right:10px;margin-bottom:35px;" :style="{'width':account.social_network_type==5?135:0}">
                  <multiselect  :show-labels=false
                                v-model = "boardValue[account.social_account_id+'_'+[post.postId]]"
                                track-by="text"
                                :id = "account.social_account_id+'_'+[post.postId]"
                                placeholder="Select Boards"
                                label="text"
                                @select="selectItem"
                                :options="account.boards"
                                v-if="account.social_network_type==5"

                  >
                  </multiselect>
              </div>
            </div>
          </div>
      </div>
      <div class="columns">
        <div class="column is-12" style="height:50px;background-color:rgb(230,235,239);">
          <div class="columns">
            <div class="column is-3">
              <vue-ctk-date-time-picker v-model="post.date_time" enable-button-validate  min-date="2018-04-03" max-date="2024-04-12" style="margin-top:-8px"></vue-ctk-date-time-picker>
            </div>
            <div class="column is-2">
              <p style="margin-top:-1px;margin-left:30px">Repeat:</p>
            </div>
            <div class="column is-3">
              <div class="field" style="margin-top:-5px;margin-left:-90px">
                <div class="control">
                  <div class="select is-primary">
                    <select v-model="post.repeatMode">
                      <option value=0>None</option>
                      <option value=6>Daily</option>
                      <option value=1>Weekly</option>
                      <option value=2>Monthly</option>
                      <option value=3>Once Every 3 Months</option>
                      <option value=4>Once Every 6 Months</option>
                      <option value=5>Once Every Year</option>
                    </select>
                  </div>
                </div>
            </div>
          </div>
          <div class="column is-3">
            <label class="checkbox"  v-if="post.repeatMode !=0">
  					  <input type="checkbox" v-model="post.expiryDateChecked">
  					  End Date
  					</label>
            <date-picker v-if="post.expiryDateChecked" :date="post.endDate" :option="multiOption" :limit="limit" style="margin-top:3px;margin-left:20px" placeholder="dd/mm/yyyy"></date-picker>
          </div>
            <div class="column is-1">
              <a class="button is-danger" style="margin-top:-5px"  v-on:click="deletePost(post.postId)">
                <span class="icon is-small">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width:100%;height:40px"></div>
  <div id="stickyDiv" style="text-align:center;">
    <a class="button" v-on:click="helpModal=true" style="margin-top:5px;">Help</a>
    <a class="button is-info" v-on:click="scheduleModal=true" style="margin-top:5px;">Update interval between all posts</a>
    <a class="button is-info" v-bind:class="{'is-loading':isScheduleReqSend}" v-on:click="schedulePost()" style="margin-top:5px;"> Submit</a>
  </div>

  <div class="modal is-active"  v-if="scheduleModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Select Date and Time </p>
        <button class="delete" aria-label="close"  v-on:click="scheduleModal=false"></button>
      </header>
      <section class="modal-card-body">
          <div class="field">
            <label class="label">Start Date:</label>
            <div class="row">
              <date-picker :date="starttime" :option="multiOption" :limit="limit"></date-picker>
            </div>
          </div>
          <br>
          <div class="field">
            <label class="label">Start Time:</label>
            <div class="control">
              <select v-model="schedulePostTime">
                <option v-for="time in timeSlots"
                        v-bind:value="time.time">
                    {{convertTime(time.time)}}
                </option>
              </select>
            </div>
          </div>
          <br>
          <div class="field">
            <label class="label">Interval between each post (in minutes):</label>
            <div class="control">
              <input class="input is-primary" v-model="schedulePostInterval" onkeyup="this.value=this.value.replace(/[^\d]/,'')" type="text" placeholder="e.g 5" >
            </div>
          </div>
          <br>
          <div class="field">
            <label class="label">Time between the same post on different Pinterest boards (in minutes):</label>
            <div class="control">
              <input class="input is-primary" v-model="scheduleBoardInterval" onkeyup="this.value=this.value.replace(/[^\d]/,'')" type="text" placeholder="e.g 5" >
            </div>
          </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary" v-on:click="updateDateAndTime()">OK</button>
      </footer>
    </div>
  </div>

  <div class="modal is-active" v-if="zoomedImage">
	  <div class="modal-background"></div>
	  <div class="modal-card">
	    <section class="modal-card-body">
      <img :src="zoomedImageUrl" style="width:80%;height:80%;"/>
	    </section>
	    <footer class="modal-card-foot">
	      <button class="button" v-on:click="zoomedImage=false">Cancel</button>
	    </footer>
	  </div>
  </div>

  <div class="modal is-active" v-if="helpModal">
	  <div class="modal-background"></div>
	  <div class="modal-card">
	    <section class="modal-card-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kX4eSFc65-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    </section>
	    <footer class="modal-card-foot">
	      <button class="button" v-on:click="helpModal=false">Cancel</button>
	    </footer>
	  </div>
  </div>
</div>
</template>


<script>
import myDatepicker from 'vue-datepicker'
import * as linkify from 'linkifyjs';
var cloneDeep = require('clone-deep');
import Vue from 'vue'
import VTooltip from 'v-tooltip'
Vue.use(VTooltip)
import Multiselect from 'vue-multiselect'

import vSelect from 'vue-select'
Vue.component('v-select', vSelect);

import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.min.css';

import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

import { MultiSelect } from 'vue-search-select'
export default {
    components: {
      'date-picker': myDatepicker,
      'vue-ctk-date-time-picker': VueCtkDateTimePicker,
      Multiselect,
      MultiSelect,
      vueDropzone: vue2Dropzone
    },
	  mounted() {
      if(window.location.href.includes('charles')){
        this.isMeetEdgarImport = true;
       }
       this.setUpTimeSlot();
       this.getCategoryAndAccounts();

    },
    data:function(){
      return{
        starttime: {
          time: moment().format("YYYY-MM-DD")
        },
        items: [],
        limit:[],
        multiOption: {
          type: 'day',
          week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
          month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
          format:"YYYY-MM-DD"
        },
        dropzoneOptions: {
                url: 'https://www.oneupapp.io/signature',
                thumbnailWidth: 150,
                uploadMultiple: true,
                method: "PUT",
                acceptedFiles:"image/*",
                headers: { 'Access-Control-Allow-Origin': '*'},
                dictDefaultMessage: "Drop files or click here to upload"
        },
        awss3: {
                signingURL: 'https://www.oneupapp.io/signature',
                headers: {},
                params : {},
                sendFileToServer : true,
                withCredentials: false
        },
        helpModal: false,
        bulkEndDate:'',
        isExtension: isExtension,
        evergreenPostHelpText:"If selected, OneUp can automatically recycle your evergreen content, <br>for new audiences to see - resulting in more engagement.",
        isScheduleReqSend:false,
        isQueueReqSend: false,
        isCsvUpload:false,
        bulkCheckBox: true,
        allEvergreenBox:false,
        bulkCategoryid:'',
        bulkRepeatMode:0,
        bulkDescText:'',
        isHelpModal:false,
        scheduleModal:false,
        timeSlots:[],
        schedulePostTime:0,
        schedulePostInterval:3,
        scheduleBoardInterval:3,
        bulkSelectedNetworkId:[],
        bulkNetworkInCategory:[],
      	allPosts:[],
      	connectedAccounts:[],
      	categories:[],
        zoomedImage: false,
        zoomedImageUrl: '',
        finalData:[],
        boardValue:[],
        bulkBoardValue:[],
        bulkExpiryDateChecked: false,
        isBulkExpanded: false,
        isMeetEdgarImport: false,
        userEmail:'',
        imageUploadModal: false,
        totalFilesSelected: 0,
        totalFiles:[]
      }
    },
    methods:{
      selectItem: function(item, index) {
        this.boardValue.splice(index, 0, item);
        //this.boardSelect(item.username);
      },
      onSelect (items, lastSelectItem) {
       this.boardSelect(lastSelectItem.username);
       this.$set(this.bulkBoardValue,lastSelectItem.accountCount, items);
       this.bulkBoardChange(items,lastSelectItem.username,lastSelectItem.value,lastSelectItem.text);
      },
      dropzoneFilesAdded: function(files){
        this.totalFilesSelected = files.length;
      },
      s3UploadError(errorMessage){
        alert("Cannot upload this image "+errorMessage);
        this.imageUploadModal = false;
      },
      s3UploadSuccess(s3ObjectLocation){
        this.totalFiles.push(s3ObjectLocation);
        if(this.totalFiles.length == this.totalFilesSelected){
          this.openWidget(this.totalFiles);
          this.imageUploadModal = false;
        }
      },
      openWidget: function(result){
        let m = moment();
        m.add(30, "minutes");
        for(var i = 0; i < result.length; i++){
          var obj = {};
          obj.postId = i;
          obj.isChecked = true;
          obj.isEvergreen = false;
          obj.postContent = '';
          obj.imgUrl = result[i];
          obj.isRepin = 0;
          obj.repinId = 0;
          obj.repeatMode = 0;
          obj.expiryDateChecked = false;
          obj.endDate = {
            time: moment().format("YYYY-MM-DD")
          };
          obj.date_time = m.format("YYYY-MM-DD HH:mm");
          m.add(5, "minutes");
          obj.category_id = this.categories[0].id;
          obj.selected_accounts = [];
          obj.selected_account_type = [];
          obj.selected_account_name = [];
          obj.board_value = [];

          for(var k = 0; k<this.connectedAccounts.length;k++)
          {
            var acc = this.connectedAccounts[k];
            if(acc.social_network_type == 5)
              this.boardValue[acc.social_account_id+'_'+i] = '';
          }
          obj.social_accounts = this.categories[0].network_id==null?[]:this.categories[0].network_id.split(',');;
          obj.categories = this.categories;
          this.allPosts.push(obj);
        }
      },
      onCsvUpload: function(e) {
          var self = this;
          var files = e.target.files || e.dataTransfer.files;
          var file = files[0];
          var formData = new FormData();
          formData.append('file',file);
          formData.append('upload_preset','lvxoszv7');
          this.isCsvUpload = true;

          axios({
            url:'https://api.cloudinary.com/v1_1/dvr91jryr/upload',
            method:'POST',
            headers:{
              'Content-Type':'application/x-www-form-urlencoded'
            },
            data:formData
          }).then(function(response){
            axios.post('/post/processcsv',{data: response.data.url}).
            then(response => {
                let m = moment();
                m.add(30, "minutes");
                for(var i = 0; i < response.data.length && i<200; i++){

                    var obj = {};
                    obj.postId = i;
                    obj.isChecked = true;
                    obj.isEvergreen = false;
                    obj.postContent = response.data[i][0];
                    obj.repeatMode = 0;
                    obj.expiryDateChecked = false;
                    obj.endDate = {
                      time: moment().format("YYYY-MM-DD")
                    };
                    obj.imgUrl = (response.data[i][1]=="" || response.data[i][1]==undefined || response.data[i][1]==null)?"NA":response.data[i][1];
                    obj.isRepin = (response.data[i][3]=="" || response.data[i][3]==undefined || response.data[i][3]==null)?0:1;
                    obj.repinId = (response.data[i][3]=="" || response.data[i][3]==undefined || response.data[i][3]==null)?0:response.data[i][3];
                    obj.category_id = self.categories[0].id;
                    obj.selected_accounts = [];
                    obj.selected_account_type = [];
                    obj.selected_account_name = [];
                    obj.board_value = [];
                    obj.date_time = (response.data[i][2]=="" || response.data[i][2]==undefined
                                                             || response.data[i][2]==null)?
                                                             m.format("YYYY-MM-DD HH:mm"):
                                                             moment(response.data[i][2]).format("YYYY-MM-DD HH:mm");
                    m.add(5, "minutes");
                    self.connectedAccounts.map((item)=>{
                     if(item.social_network_type ==5)
                      {
                          self.boardValue[item.social_account_id+'_'+i] = '';
                        }
                    });
                    obj.social_accounts = self.categories[0].network_id==null?[]:self.categories[0].network_id.split(',');;
                    obj.categories = self.categories;
                    self.allPosts.push(obj);
                }
                self.isCsvUpload = false;

            }).catch(error => {
              alert("This is not a valid CSV file. Make sure you are creating the CSV file from Google Sheets");
              self.isCsvUpload = false;
            });
          }).catch(function(error){
           alert(error);
           self.isCsvUpload = false;
          });
      },
      onMeetEdgarCsvUpload: function(e){
        var self = this;
        var files = e.target.files || e.dataTransfer.files;
        var file = files[0];
        var formData = new FormData();
        formData.append('file',file);
        formData.append('upload_preset','lvxoszv7');
        this.isCsvUpload = true;

        axios({
          url:'https://api.cloudinary.com/v1_1/dvr91jryr/upload',
          method:'POST',
          headers:{
            'Content-Type':'application/x-www-form-urlencoded'
          },
          data:formData
        }).then(function(response){
          axios.post('/post/processcsv',{data: response.data.url}).
          then(response => {
              var tempArr;
              for(var i = 0; i < response.data.length && i<200; i++){

                  //extra step to handle semicolon in string
                  var obj = {};
                  obj.postId = i;
                  obj.isChecked = true;
                  obj.isEvergreen = false;
                  obj.postContent = response.data[i][0];
                  obj.repeatMode = 6;
                  obj.expiryDateChecked = true;
                  obj.endDate = {
                    time: moment(response.data[i][3]).format("YYYY-MM-DD")
                  };
                  obj.imgUrl = (response.data[i][1]=="" || response.data[i][1]==undefined || response.data[i][1]==null)?"NA":response.data[i][1];
                  obj.isRepin = "NA";
                  obj.repinId = 0;
                  obj.category_id = self.categories[0].id;
                  obj.social_accounts = self.categories[0].network_id==null?[]:self.categories[0].network_id.split(',');

                  obj.selected_accounts = [];
                  obj.selected_account_type = [];
                  obj.selected_account_name = [];
                  obj.board_value = [];
                  obj.date_time = moment(response.data[i][2]).format("YYYY-MM-DD HH:mm");
                  self.connectedAccounts.map((item)=>{
                   if(item.social_network_type ==5)
                    {
                        self.boardValue[item.social_account_id+'_'+i] = '';
                      }
                  });
                  obj.categories = self.categories;
                  self.allPosts.push(obj);
              }
              self.isCsvUpload = false;

          }).catch(error => {
            alert("Error" + error);
            self.isCsvUpload = false;
          });
        }).catch(function(error){
          alert(error);
          self.isCsvUpload = false;
        });
      },
      getCategoryAndAccounts: function(){
        var self = this;
        axios.post('/getcategoryandaccounts').then(response => {
           self.connectedAccounts = response.data.accounts;
           var accountCount = 0;
           self.connectedAccounts.map((account)=>{
              if(account.social_network_type == 0)
                account.pet_name = account.username + "("+(account.account_type==0?' Profile':(account.account_type==1?"Page":"Group"))+")";
              else
                account.pet_name = account.username;
              if(account.social_network_type != 5)
                account.boards = [];

              if(account.social_network_type == 5){
                 account.accountCount = accountCount;
                 account.boards.map(function(item){
                  item.accountCount = accountCount;
                 });
                accountCount++;
              }
           });

           self.categories = response.data.categories;
           self.bulkCategoryid = self.categories[0].id;
           self.bulkNetworkInCategory = self.categories[0].network_id==null?[]:self.categories[0].network_id.split(',');
           self.userEmail = response.data.email;
           if(isExtension) self.loadDataFromExtension();
        })
        .catch(error => {
        });

      },
      loadDataFromExtension: function(){
        var self = this;
        let m = moment();
        m.add(30, "minutes");
        console.log(extData);
        for(var i = 0; i < extData.length && i<200; i++){
            var obj = {};
            obj.postId = i;
            obj.isChecked = true;
            obj.isEvergreen = false;
            obj.repeatMode = 0;
            obj.expiryDateChecked = false;
            obj.endDate = {
              time: moment().format("YYYY-MM-DD")
            };
            obj.date_time = m.format("YYYY-MM-DD HH:mm");
            m.add(5, "minutes");
            obj.postContent = extData[i]['description']+" "+extData[i]['site_url'];

            if(extData[i]['pinid'] != undefined){
              obj.isRepin = 1;
              obj.repinId = extData[i]['pinid'];
            }
            else{
              obj.isRepin = 0;
              obj.repinId = 0;
            }
            obj.imgUrl = extData[i]['image_url'];
            obj.category_id = self.categories[0].id;
            obj.selected_accounts = [];
            obj.selected_account_type = [];
            obj.selected_account_name = [];
            obj.board_value = [];
            self.connectedAccounts.map((item)=>{
             if(item.social_network_type ==5)
              {
                  self.boardValue[item.social_account_id+'_'+i] = '';
                }
            });
            obj.social_accounts = self.categories[0].network_id==null?[]:self.categories[0].network_id.split(',');;
            obj.categories = self.categories;
            self.allPosts.push(obj);
        }
      },
      deletePost: function(id){
        let index = this.allPosts.map(function(item){return item['postId']}).indexOf(id);
        this.allPosts.splice(index, 1);
      },
      selectLastBoard: function(post){
        console.log(this.connectedAccounts);
        let self = this;

        this.connectedAccounts.map(function(item){
          if(item.social_network_type == 5){
            self.$set(self.boardValue,item.social_account_id+'_'+post.postId, item.boards[item.boards.length-1]);
            self.selectSocialAccount(item.social_account_id,post,false, true);
          }
        });
      },
      categoryChange: function(post){
      	var index = this.categories.map(function(d) { return d['id']; }).indexOf(post.category_id);
      	post.selected_accounts = [];
        post.social_accounts = this.categories[index].network_id==null?[]:this.categories[index].network_id.split(',');
      },
      selectSocialAccount:function(social_account_id,post ,isBulk, isCustomUser=false){
        if(isBulk){
          post.selected_accounts = [];
          post.selected_accounts = social_account_id;
        }else{
          if(isCustomUser){
            if(post.selected_accounts.includes(social_account_id))
        			post.selected_accounts.splice(post.selected_accounts.indexOf(social_account_id),1);
        		else{
        		 post.selected_accounts.push(social_account_id);
            }
          }else{
            this.boardValue[social_account_id+'_'+[post.postId]] = "";
        		if(post.selected_accounts.includes(social_account_id))
        			post.selected_accounts.splice(post.selected_accounts.indexOf(social_account_id),1);
        		else{
        		 post.selected_accounts.push(social_account_id);
            }
          }
        }
      },
      bulkEvergreenClicked: function(){
        this.allEvergreenBox = !this.allEvergreenBox;
        var that = this;
        this.allPosts.map(function(item){
          item.isEvergreen = that.allEvergreenBox;
        });
      },
      bulkCategoryChange: function(){
        var that = this;
        var index = that.categories.map(function(d) { return d['id']; }).indexOf(this.bulkCategoryid);
        this.bulkNetworkInCategory = this.categories[index].network_id==null?[]:this.categories[index].network_id.split(',');
        this.allPosts.map(function(item){
          item.category_id = that.bulkCategoryid;
          item.selected_accounts = [];
          item.social_accounts = that.categories[index].network_id==null?[]:that.categories[index].network_id.split(',');
        });
      },
      thumbClicked: function(url){
        this.zoomedImage = true;
        this.zoomedImageUrl = url;
      },
      repeatModeChange: function(){
        var that = this;
        this.allPosts.map(function(item){
          item.repeatMode = that.bulkRepeatMode;
        });
      },
      boardSelect: function(social_account_id){
        if(!this.bulkSelectedNetworkId.includes(social_account_id)){
         this.bulkSelectedNetworkId.push(social_account_id);
          var that = this;
          this.allPosts.map(function(item){
            //item.selected_accounts = that.bulkSelectedNetworkId;
            that.selectSocialAccount(cloneDeep(that.bulkSelectedNetworkId),item,true);
          });
        }
      },
      bulkAccountSelect: function(social_account_id){
        if(this.bulkSelectedNetworkId.includes(social_account_id))
          this.bulkSelectedNetworkId.splice(this.bulkSelectedNetworkId.indexOf(social_account_id),1);
        else
         this.bulkSelectedNetworkId.push(social_account_id);
        var that = this;
        this.allPosts.map(function(item){
          //item.selected_accounts = that.bulkSelectedNetworkId;
          that.selectSocialAccount(cloneDeep(that.bulkSelectedNetworkId),item,true);
        });
      },
      bulkBoardChange: function(items,social_account_id,board_id, board_name){

        var self = this;
        var i = 0;
        //var values =  this.bulkBoardValue[social_account_id].split('~~~');
        var temp = [];
        this.allPosts.map(function(item){
          temp = [];
          items.map(function(acc){
            var obj = {};
            obj.board_id = acc.value;
            obj.board_name =acc.text;
            temp.push(acc);
          });
          self.$set(self.boardValue,social_account_id+'_'+i, temp);
          i++;
        });
        console.log(this.boardValue);
      },
      toggleEvergreen: function(post){
        post.isEvergreen = !post.isEvergreen;
      },
      updateDateAndTime: function(){

        if(this.schedulePostTime == 0){
            alert("Please select time.");
            return;
        }

        this.finalData = [];
        var self = this;

        if(start_time == 0){
          alert("Please select a start time");
          return;
        }

        if(this.schedulePostInterval < 3){
          alert("Interval can't be less than 3 minutes");
          return;
        }

        if(isNaN(this.schedulePostInterval)){
          alert("Invalid interval chosen. Make sure to remove any commas.")
          return;
        }


        var start_date = this.starttime.time;
        var start_time = this.schedulePostTime;

        var m = moment(start_date + " "+ start_time);

        this.allPosts.map((item)=>{
          item.date_time = m.format("YYYY-MM-DD HH:mm");
          m.add(this.schedulePostInterval, "minutes");
        });
        alert("Posts date and time updated");
        this.scheduleModal = false;
        this.isScheduleReqSend = false;
      },
      schedulePost: function(){
        this.finalData = [];
        var self = this;
        var all_ok = true;
        this.allPosts.map((item)=>{
          if(item.selected_accounts.length == 0){
            all_ok = false;
          }
        });

        if(!all_ok){
          alert("You have some posts without any social accounts selected. Please check again.");
          return;
        }


        this.allPosts.map((item)=>{
          item.selected_accounts.map((temp)=>{
              var testIndex = self.connectedAccounts.map(function(acc){return acc['social_account_id']}).indexOf(temp);
              if(self.connectedAccounts[testIndex]['social_network_type']==5){
                var social_id = self.connectedAccounts[testIndex]['social_account_id'];

                var board_detail = self.boardValue[social_id +'_'+item.postId];
                if(Array.isArray(board_detail)){
                  board_detail = board_detail[0];
                }
                var m = moment(item.date_time);

                var obj = {};
                obj.scheduledDate = m.format('YYYY-MM-DD');
                obj.scheduledTime = m.format('HH:mm');
                m.add(self.scheduleBoardInterval, 'minutes');
                obj.isEvergreen = item.repeatMode==0?0:1;
                obj.isNewPost = 1;
                obj.recycleMode = item.repeatMode;
                obj.expiry_date = item.repeatMode!=0 && item.expiryDateChecked?moment(item.endDate.time).format('YYYY-MM-DD'):"NA";
                obj.image_url = item.imgUrl.replace(/ /g,"%20");
                obj.isRepin = item.isRepin;
                obj.repinId = item.repinId;
                obj.video_url = "NA";
                obj.expiry_after_share = "NA";
                var tempVal = linkify.find(item.postContent);
                obj.content = tempVal.length == 0?item.postContent:item.postContent.replace(tempVal[0].value,'');
                obj.source_url = tempVal.length == 0?"NA":tempVal[0].value;
                obj.category_id = item.category_id;
                obj.postType = 0;
                obj.social_network_id = temp;
                var index = self.connectedAccounts.map(function(acc){return acc['social_account_id']}).indexOf(temp);
                obj.social_network_type = self.connectedAccounts[index]['social_network_type'];
                obj.social_network_name = self.connectedAccounts[index]['username'];
                obj.board_name = board_detail.text;
                obj.board_id = board_detail.value;

                if(board_detail.text == undefined)
                  all_ok = false;
                self.finalData.push(obj);

              }else{
                  var obj = {};
                  obj.scheduledDate = moment(item.date_time).format('YYYY-MM-DD');
                  obj.scheduledTime = moment(item.date_time).format('HH:mm');
                  obj.isNewPost = 1;
                  obj.recycleMode = item.repeatMode;
                  obj.expiry_date = item.repeatMode!=0 &&item.expiryDateChecked?moment(item.endDate.time).format('YYYY-MM-DD'):"NA";
                  obj.isEvergreen = item.repeatMode==0?0:1;
                  obj.image_url = item.imgUrl.replace(/ /g,"%20");
                  obj.isRepin = item.isRepin;
                  obj.repinId = item.repinId;
                  obj.video_url = "NA";
                  obj.expiry_after_share = "NA";
                  var tempVal = linkify.find(item.postContent);
                  obj.content = item.postContent;
                  obj.source_url = tempVal.length == 0?"NA":tempVal[0].value;
                  obj.category_id = item.category_id;
                  obj.postType = 0;
                  obj.social_network_id = temp;
                  var index = self.connectedAccounts.map(function(acc){return acc['social_account_id']}).indexOf(temp);
                  obj.social_network_type = self.connectedAccounts[index]['social_network_type'];
                  obj.social_network_name = self.connectedAccounts[index]['username'];
                  obj.board_name = null;
                  obj.board_id = null;
                  obj.extraParams = null;
                  obj.ctaUrl = null;
                  self.finalData.push(obj);
              }
          });
        });

        if(!all_ok){
          alert("You have not selected boards for some Pinterest accounts. Please check your posts.");
          return;
        }
        this.isScheduleReqSend = true;
        axios.post('/post/schedulepost',{data:this.finalData}).then(response => {
          if(response.data == -1){
            alert("Number of posts exceeds limit of your plan. Please contact customer support.");
            self.isScheduleReqSend = false;
          }else{
          window.location.href = '/queue';
          }
        }).catch(error => {
          self.isScheduleReqSend = false;
          alert("Error" + error);
        });
      },
      addToQueueClick: function(){
        this.isQueueReqSend = true;
        this.finalData = [];
        var self = this;
        this.allPosts.map((item)=>{
          if(item.isChecked){
            item.selected_accounts.map((temp)=>{
              var testIndex = self.connectedAccounts.map(function(acc){return acc['social_account_id']}).indexOf(temp);
              if(self.connectedAccounts[testIndex]['social_network_type']==5){
                  var social_id = self.connectedAccounts[testIndex]['social_account_id'];
                  var  board_detail = self.boardValue[social_id +'_'+item.postId];
                  board_detail.map(function(bd){
                    var obj = {};
                    obj.isEvergreen = item.isEvergreen;
                    obj.image_url = item.imgUrl;
                    obj.isRepin = item.isRepin;
                    obj.repinId = item.repinId;
                    obj.video_url = "NA";
                    obj.expiry_date = "NA";
                    obj.expiry_after_share = "NA";
                    var tempVal = linkify.find(item.postContent);
                    obj.content = tempVal.length == 0?item.postContent:item.postContent.replace(tempVal[0].value,'');
                    obj.source_url = tempVal.length == 0?"NA":tempVal[0].value;
                    obj.category_id = item.category_id;
                    obj.postType = 0;
                    obj.social_network_id = temp;
                    var index = self.connectedAccounts.map(function(acc){return acc['social_account_id']}).indexOf(temp);
                    obj.social_network_type = self.connectedAccounts[index]['social_network_type'];
                    obj.social_network_name = self.connectedAccounts[index]['username'];

                    obj.board_name = bd.text;
                    obj.board_id = bd.value;
                    if(item.isChecked)
                      self.finalData.push(obj);
                  });
              }else{
                var obj = {};
                obj.isEvergreen = item.isEvergreen;
                obj.image_url = item.imgUrl;
                obj.isRepin = item.isRepin;
                obj.repinId = item.repinId;
                obj.video_url = "NA";
                obj.expiry_date = "NA";
                obj.expiry_after_share = "NA";
                var tempVal = linkify.find(item.postContent);
                obj.content = tempVal.length == 0?item.postContent:item.postContent.replace(tempVal[0].value,'');
                obj.source_url = tempVal.length == 0?"NA":tempVal[0].value;
                obj.category_id = item.category_id;
                obj.postType = 0;
                obj.social_network_id = temp;
                var index = self.connectedAccounts.map(function(acc){return acc['social_account_id']}).indexOf(temp);
                obj.social_network_type = self.connectedAccounts[index]['social_network_type'];
                obj.social_network_name = self.connectedAccounts[index]['username'];
                obj.board_name = null;
                obj.board_id = null;
                self.finalData.push(obj);
              }
            });
          }
        });
        axios.post('/post/addpost',{data:this.finalData}).then(response => {
          if(response.data == -1){
            alert("Number of posts exceeds limit of your plan. Please contact customer support.");
            self.isQueueReqSend = false;
          }else{
          window.location.href = '/queue';
          }
        }).catch(error => {
          alert("Error" + error);
          self.isQueueReqSend = false;
        });
      },
      convertTime: function(time){
          time = time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];
          if (time.length > 1) {
            time = time.slice (1);
            time[5] = +time[0] < 12 ? ' am' : ' pm';
            time[0] = +time[0] % 12 || 12;
          }
          return time.join ('');
      },
      setUpTimeSlot: function(){
        var index = 0;
        for(var i = 0; i<24;i++){
          var obj = {};
          obj.index = index;
          obj.time = (i<10?"0":'')+i+":00";
          this.timeSlots.push(obj);
          obj = {};
          index=index+1;
          obj.index = index;
          obj.time = (i<10?"0":'')+i+":15";
          this.timeSlots.push(obj);
           obj = {};
          index=index+1;
          obj.index = index;
          obj.time = (i<10?"0":'')+i+":30";
          this.timeSlots.push(obj);
          index=index+1;
           obj = {};
          obj.index = index;
          obj.time = (i<10?"0":'')+i+":45";
          this.timeSlots.push(obj);
          index=index+1;
        }
      }
    },
    watch: {
      bulkCheckBox: function (val) {
        this.allPosts.map(function(item){
          item.isChecked = val;
        });
      },
      bulkDescText: function (val){
        this.allPosts.map(function(item){
           item.postContent = val;
        });
      },
      bulkExpiryDateChecked: function(val){
        this.allPosts.map(function(item){
          item.expiryDateChecked = val;
        });
      },
      bulkEndDate: function(val){
        let date = moment(val);
        if(date.isValid()){
          this.allPosts.map(function(item){
            item.endDate = {
              time: date.format("YYYY-MM-DD")
            };
          });
        }
      }
    },
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
#stickyDiv {
   position:fixed;
   left:0px;
   bottom:0px;
   height:45px;
   width:100%;
   background:#4D4B45;
}
.multiselect {
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 120px;
  min-height: 40px;
  text-align: left;
  color: #35495E;
}
</style>
