<template>
<div class="container" v-if="loading">
 Just a moment..
</div>
<div class="columns" v-else>
  <div class="column is-5">
	  <table class="table is-fullwidth">
		  <thead>
		    <tr>
		      <th>Category</th>
		      <th>Status</th>
		    </tr>
		  </thead>  

		  <tbody>
    		<tr v-for="c in categories">
    		  <th>{{c.category_name}}</th>
    		  <th v-if="c.isPaused == 0" v-on:click="toggleState(c)"><a class="button is-success">Active</a></th>
    		  <th v-if="c.isPaused == 1" v-on:click="toggleState(c)"><a class="button is-danger">Paused</a></th>    		  
    		</tr>

    	  </tbody>

	  </table>
  </div>	    
</div>
</template>

<script>
export default {
	mounted(){
		this.getCategories();
	},
	data: function(){
		return{
			loading:true,
			categories:[]
		}
	},
	methods: {
		getCategories: function(){
		    var self = this;
	        axios.post('/getcategory').then(response => {
	          self.categories = response.data.categories;
	          self.loading = false;
	        });				
		},
		toggleState: function(c){
			var updatedState = '';
			if(c.isPaused == 0)
				updatedState = 1;
			else
				updatedState = 0;

			c.isPaused = !c.isPaused;

	        axios.post('/updatecategorystate',{category_id:c.id, updated_state: updatedState}).then(response => {
	        });			
		}
	}
}
</script>