<template>
<div class="columns loading" v-if="loading">
    Loading your Queue...
</div>
<div class="container" v-else-if="!loading">
  <div class="columns queue-container">

		<div class="column is-6 content-col is-hidden-desktop" >
			<p><b>Timezone:</b> {{usertz}}</p>
		</div>

		<!-- mobile filter options starts -->
	<div class="dropdown is-hidden-tablet" v-on:click="toggleQueue()" :class="{'is-active': activated}">
		<div class="dropdown-trigger" >
			<button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
				<span v-if="postType == 0">Scheduled Posts</span>
				<span v-if="postType == 1">Published Posts</span>
				<span v-if="postType == 2">Failed Posts</span>
				<span class="icon is-small">
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</span>
			</button>
		</div>
		<div class="dropdown-menu" id="dropdown-menu3" role="menu">
			<div class="dropdown-content">
				<div style="width:100%;height:30px;cursor:pointer;border-radius:5px"
 		    	 v-on:click="postTypeClick(0)" :style="{'background-color':postType==0?'#eaeaea':''}"
 		    >
				<span class="tag is-primary" style="float:left;margin-top:2.5px;margin-left:6px">
				  {{scheduledPostsCount}}
				</span>
				<p style="float:left;margin-left:10px;margin-top:3px">Scheduled Posts</p>
			</div>
 		  <div style="width:100%;height:30px;cursor:pointer;margin-top:12px;border-radius:5px"
				 v-on:click="postTypeClick(1)" :style="{'background-color':postType==1?'#eaeaea':''}"
 		    >
				<span class="tag is-success" style="float:left;margin-top:2.5px;margin-left:6px">
				  {{publishedPostsCount}}
				</span>
				<p style="float:left;margin-left:10px;margin-top:3px">Published</p>
			</div>
 		  <div style="width:100%;height:30px;cursor:pointer;margin-top:12px;border-radius:5px"
				 v-on:click="postTypeClick(2)" :style="{'background-color':postType==2?'#eaeaea':''}"
 		    >
				<span class="tag is-danger" style="float:left;margin-top:2.5px;margin-left:6px">
				  {{failedPostsCount}}
				</span>
				<p style="float:left;margin-left:10px;margin-top:3px">Failed</p>
			</div>
			</div>
		</div>
	</div>

	<p class="mbl-filterBy">FILTER BY:</p>

	<div class="dropdown is-hidden-tablet " v-on:click="toggleFilterAccount()" :class="{'is-active': filterAccountToggle}" > 
		<div class="dropdown-trigger is-hidden-table" >
			<button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
				<span>Account</span>
				<span class="icon is-small">
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</span>
			</button>
		</div>
		<div class="dropdown-menu account-dropdown" id="dropdown-menu3" role="menu">
			<div class="dropdown-content">
				<div style="margin-top:4px;min-height:40px" v-tooltip.top="account.username" v-for="account in userAccounts" v-on:click="filterAccount(account.social_account_id)">
					<div style="width:100%;height:30px;cursor:pointer"
						:style="{'background-color': accountFilter==account.social_account_id?'#eaeaea':''}"
						>
						<span class="tag is-primary" style="float:left;margin-top:2.5px;margin-left:6px">
							{{scheduledPosts,account.social_account_id | postInAccount}}
						</span>
						<img :src= "'/img/'+account.social_network_type+'.png'" style="float:left;margin-top:2.5px" />
						<p style="float:left;margin-top:2.5px;margin-left:6px">{{account.username.length>25?account.username.substr(0,20)+"...":account.username}}</p>
					</div>
				</div>
			</div>
		</div>
	
	</div>

	<div class="dropdown is-hidden-tablet " v-on:click="toggleFilterCategory()" :class="{'is-active': filterCategoryToggle}" > 
		<div class="dropdown-trigger is-hidden-table" >
			<button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
				<span>Category</span>
				<span class="icon is-small">
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</span>
			</button>
		</div>
		<div class="dropdown-menu account-dropdown" id="dropdown-menu3" role="menu">
			<div class="dropdown-content">
				<div style="margin-top:5px;min-height:40px;cursor:pointer"
							v-for="category in userCategories"
							v-on:click="filterCategory(category.id)"
							>
					<div style="width:100%;height:30px;cursor:pointer"
						:style="{'background-color': categoryFilterId==category.id?'#eaeaea':''}"
						>
						<span class="tag is-primary" style="float:left;margin-top:2.5px;margin-left:6px" :style="{'background-color': category.color}">
							{{scheduledPosts,category.id | postInCategory}}
						</span>
						<p style="float:left;margin-left:10px;margin-top:2.5px;">{{category.category_name.length>25?category.category_name.substr(0,20)+"...":category.category_name}}</p>
					</div>
				</div>
			</div>
		</div>
	
	</div>

	<!-- mobile filter options ends -->
	<hr class="filter-hr" />

 	<div class="column is-3 queue-sidebar is-hidden-mobile" >
 		<p style="font-size:26px">Queue</p>
 		<div style="margin-top:20px">
 		  <div style="width:100%;height:30px;cursor:pointer;border-radius:5px"
 		    	 v-on:click="postTypeClick(0)" :style="{'background-color':postType==0?'#eaeaea':''}"
 		    >
				<span class="tag is-primary" style="float:left;margin-top:2.5px;margin-left:6px">
				  {{scheduledPostsCount}}
				</span>
				<p style="float:left;margin-left:10px;margin-top:3px">Scheduled Posts</p>
			</div>
 		  <div style="width:100%;height:30px;cursor:pointer;margin-top:12px;border-radius:5px"
				 v-on:click="postTypeClick(1)" :style="{'background-color':postType==1?'#eaeaea':''}"
 		    >
				<span class="tag is-success" style="float:left;margin-top:2.5px;margin-left:6px">
				  {{publishedPostsCount}}
				</span>
				<p style="float:left;margin-left:10px;margin-top:3px">Published</p>
			</div>
 		  <div style="width:100%;height:30px;cursor:pointer;margin-top:12px;border-radius:5px"
				 v-on:click="postTypeClick(2)" :style="{'background-color':postType==2?'#eaeaea':''}"
 		    >
				<span class="tag is-danger" style="float:left;margin-top:2.5px;margin-left:6px">
				  {{failedPostsCount}}
				</span>
				<p style="float:left;margin-left:10px;margin-top:3px">Failed</p>
			</div>
			<!--
 		    <div style="width:100%;height:30px;cursor:pointer;margin-top:12px;border-radius:5px"
				 v-on:click="postTypeClick(3)" :style="{'background-color':postType==3?'#eaeaea':''}"
 		    >
				<span class="tag is-light" style="float:left;margin-top:2.5px;margin-left:6px">
				  0
				</span>
				<p style="float:left;margin-left:10px;margin-top:3px">Unscheduled</p>
			</div>
			-->
		</div>
		<div style="width:100%;height:1px;margin-top:10px;background-color:#eaeaea"></div>
		<p style="font-size:15px;font-weight:bold;margin-top:10px;margin-bottom:10px">FILTER BY ACCOUNT</p>
		<div style="margin-top:4px;min-height:40px" v-tooltip.top="account.username" v-for="account in userAccounts" v-on:click="filterAccount(account.social_account_id)">
			<div style="width:100%;height:30px;cursor:pointer"
				 :style="{'background-color': accountFilter==account.social_account_id?'#eaeaea':''}"
				>
				<span class="tag is-primary" style="float:left;margin-top:2.5px;margin-left:6px">
					{{scheduledPosts,account.social_account_id | postInAccount}}
				</span>
				<img :src= "'/img/'+account.social_network_type+'.png'" style="float:left;margin-top:2.5px" />
				<p style="float:left;margin-top:2.5px;margin-left:6px">{{account.username.length>25?account.username.substr(0,20)+"...":account.username}}</p>
			</div>
		</div>
		<div style="width:100%;height:1px;margin-top:10px;background-color:#eaeaea"></div>
		<p style="font-size:15px;font-weight:bold;margin-top:10px;margin-bottom:10px">FILTER BY CATEGORY</p>
		<div style="margin-top:5px;min-height:40px;cursor:pointer"
						v-for="category in userCategories"
						v-on:click="filterCategory(category.id)"
						>
			<div style="width:100%;height:30px;cursor:pointer"
				 :style="{'background-color': categoryFilterId==category.id?'#eaeaea':''}"
				>
				<span class="tag is-primary" style="float:left;margin-top:2.5px;margin-left:6px" :style="{'background-color': category.color}">
				  {{scheduledPosts,category.id | postInCategory}}
				</span>
				<p style="float:left;margin-left:10px;margin-top:2.5px;">{{category.category_name.length>25?category.category_name.substr(0,20)+"...":category.category_name}}</p>
			</div>
		</div>
		<div style="width:100%;height:1px;margin-top:10px;background-color:#eaeaea"></div>
		<p style="font-size:15px;font-weight:bold;margin-top:10px">FILTER BY TYPE</p>
		<div style="margin-top:20px;min-height:50px">
			<div style="width:100%;height:30px;cursor:pointer"
				 :style="{'background-color': everGreenFilter==true?'#eaeaea':''}"
				>
			     <span class="tag is-success" style="float:left;margin-top:2.5px;margin-left:6px">
			       {{scheduledPosts | everGreenPostCount}}
			     </span>
			     <p style="float:left;margin-left:10px;margin-top:2.5px;" v-on:click="filterEverGreenPosts(true)">Repeating</p>

			</div>
			<div style="width:100%;height:30px;cursor:pointer;margin-top:10px"
				 :style="{'background-color': everGreenFilter==false?'#eaeaea':''}"
				>
				<span class="tag is-light" style="float:left;margin-top:2.5px;margin-left:6px">
			  		{{scheduledPosts | oneTimePostCount}}
				</span>
				<p style="float:left;margin-left:10px;margin-top:2.5px" v-on:click="filterEverGreenPosts(false)">One-Time</p>
			</div>
		</div>
 	</div>

 	<!-- start of right side -->
 	<div class="column" style="min-height:400px;">
		<div class="columns timezone-parent" >
				<div class="column is-6 content-col is-hidden-touch" >
					<p><b>Timezone:</b> {{usertz}}</p>
				</div>
			<div class="column is-6 is-hidden-touch" v-on:click="refreshModal=true" style="cursor:pointer;color:#188EF5;text-align:center;border-bottom:1px solid #eaeaea;">
			</div>
		</div>
 		<div class="columns time-post-div is-mobile" >
 			<div class="column is-6 repeating-post-div" style="">
 				<p class="time-post-p" >{{scheduledPosts | getEverGreenCount}}</p>
 				<p>Repeating Posts</p>
 			</div>
 			<div class="column is-6" style="height:100px;text-align:center">
 				<p class="time-post-p" >{{scheduledPosts | getOneTimeCount}}</p>
 				<p>One Time Posts</p>
 			</div>
 		</div>
 		<div class="columns">
 		    <div class="column is-10">
				<div class="notification is-success" style="margin-top:20px;margin-bottom:10px;" v-if="filtersApplied()">
			  		<button class="delete" v-on:click="clearFilter()"></button>
			  		Filters applied. Click on close button to remove filter.
				</div>
			</div>
		</div>
	  <div class="control queue-select-all" style="">
		  <label class="checkbox" v-if="postType==0">
				<input type="checkbox" v-model="selectAllChecked">
				Select All
		 	</label>
	  </div>
	  <div class="columns is-pulled-right-desktop post-options is-mobile">
			<div class="control column is-4"  v-if="postType==0">
					<a href="/pausequeue">
					<div class="tags has-addons">
						<span class="tag is-danger" style="background-color:#fbc02d">Pause Queue</span>
						<span class="tag is-primary" v-if="pausedQueueCount!=0">{{pausedQueueCount}} categories paused</span>
					</div>
				</a>
			</div>
			<div class="control column is-4" v-if="postType==0">
				<div class="tags has-addons">
					<span class="tag is-danger" v-on:click="showDeletePop()" style="background-color:#f44336;cursor:pointer">Delete Posts</span>
				</div>
			</div>
			<div class="control column is-4" v-if="postType==2">
				<div class="tags has-addons">
					<span class="tag is-danger" v-on:click="showFailedPostsDeletePop()" style="background-color:#f44336;cursor:pointer">Delete All Failed Posts</span>
				</div>
			</div>
	  </div>

 		<div class="columns is-multiline queue-posts is-mobile"  v-for="p in allPosts" v-if="filterOption(p)">
 			<div class="column is-12 queue-posts-container " :style="{'box-shadow': '-2px 0 0 '+p.color}" >
 				<div class="columns is-mobile queue-posts-main">
 					<div class="column is-7 queue-posts-main-div">
 					     <label class="checkbox queue-post-checkbox" v-if="postType==0" style="">
              		<input type="checkbox" v-model="p.isChecked">
            	 </label>
               <div id="mypanel" class="queue-post-img"  :style="{backgroundImage:'url('+ p.image_url+')'}">
                  <a id="sn-icon" :style="{backgroundImage:'url('+ '/img/'+p.social_network_type+'.png'+ ')'}" href="#"></a>
               </div>
               <p class="queue-post-p" >{{p.social_network_name}}{{p.social_network_type==5?" ("+p.board_name+")":''}}</p>
 					</div>
 					<div class="column is-2 is-hidden-touch"></div>
 					<div class="column is-3-desktop is-5-mobile queue-post-timediv">
 						<p class="queue-post-timezone" ><b>{{usertz,p.ts_gmt | localTime}}</b></p>
 						<p class="queue-post-localdate" >{{usertz,p.ts_gmt | localDate}}</p>
 					</div>
 				</div>
	 			<div class="columns queue-post-content-main">
	 			   <div class="column is-12 queue-post-content" style="word-break: break-word;">
	 				   <span style="word-break: break-word;white-space: pre-wrap">{{p.content}}</span>
	 			   </div>
	 			</div>
	 			<div class="columns" v-if="p.content_image!= 'NA'">
	 			   <div class="column is-12">
    				<div style="width:150px;height:150px;margin-top:10px">
    					<img :src="p.content_image" v-on:click="thumbClicked(p.content_image)" style="width:100%;height:100%;object-fit:'cover';border-radius:5px;cursor:pointer"/>
    				</div>
	 			   </div>
	 			</div>
	 			<div class="columns" v-if="p.source_url!='NA'">
	 				<div class="column is-12" style="word-break: break-word;word-break: break-word;">
	 					<span><i class="fa fa-external-link" style="margin-top:5px;" aria-hidden="true"></i> <a :href="p.source_url" target="blank">{{p.source_url}}</a></span>
	 				</div>
	 			</div>
        <div class="columns" v-if="p.social_network_type ==  6 && postType == 0">
	 				<div class="column is-12" style="word-break: break-word;word-break: break-word;">
              <span class="tag is-light" v-if="p.extraParams == null || p.extraParams=='NA'">No CTA button added |&nbsp;<a href="#" v-on:click="editPostCta(p)"><b>Add CTA</b></a></span>
              <span class="tag is-light" v-else-if="p.extraParams == 'ORDER'">ORDER ONLINE {{" | "+p.ctaUrl}}|&nbsp;<a href="#" v-on:click="editPostCta(p)"><b>Edit CTA</b></a></span>
              <span class="tag is-light" v-else-if="p.extraParams == 'SHOP'">BUY {{" | "+p.ctaUrl}}|&nbsp;<a href="#" v-on:click="editPostCta(p)"><b>Edit CTA</b></a></span>
              <span class="tag is-light" v-else-if="p.extraParams == 'CALL'">CALL |&nbsp;<a href="#" v-on:click="editPostCta(p)"><b>Edit CTA</b></a></span>
              <span class="tag is-light" v-else-if="p.extraParams != 'EVENT'">{{p.extraParams.replace("_", " ")}}{{p.extraParams == 'EVENT'?'': " | "+p.ctaUrl}} |&nbsp;<a href="#" v-on:click="editPostCta(p)"><b>Edit CTA</b></a></span>
              <span class="tag is-light" v-else>{{p.extraParams.replace("_", " ")}}{{p.extraParams == 'EVENT'?'': " | "+p.ctaUrl}}</span>

      		</div>
	 			</div>

	 			<div class="columns"  v-if="postType==2">
	 			  <div class="column is-7">
  					<div class="notification is-danger">
  					  <a href="https://oneup.crisp.help/en-us/article/failed-post-help-1pnirj2/" target="blank" style="text-decoration:none">{{p.fail_reason}}&nbsp;&nbsp;<i class="fa fa-question-circle"></i></a>
  					</div>
				  </div>
	 			</div>
	 			<div class="columns">
	 			   <div class="column is-7">
	    				<div v-if="p.social_network_type==2 && p.post_type==1" style="min-width:150px;height:30px;margin-top:10px;border-radius:3px;text-align:center;float:left;" :style="{'background-color':p.color}">
	    					<p style="font-size:16px;color:#fff;line-height:29px;">Instagram Story</p>
	    				</div>
              <div v-else style="width:150px;height:30px;margin-top:10px;border-radius:3px;text-align:center;float:left" :style="{'background-color':p.color}">
	    					<p style="font-size:16px;color:#fff;line-height:29px;">{{p.category_name}}</p>
	    				</div>
						<span v-if="p.isEvergreen" class="tag is-success" style="float:left;margin-left:10px;margin-top:14px;background-color: #004C00">Repeating post  {{p.times_shared>0?" - " +p.times_shared+" times shared":''}}</span>
						<span v-if="p.post_type==1 && p.social_network_type!=2" class="tag is-success" style="float:left;margin-left:10px;margin-top:14px;background-color: #960000"><i class="fa fa-video-camera" aria-hidden="true"></i>&nbsp;&nbsp;Video</span>
						<span v-if="p.isRepin==1" class="tag is-success" style="float:left;margin-left:10px;margin-top:14px;background-color: #003300">REPIN</span>
	 			   </div>
	 			   <div class="column is-4"></div>
	 			   <div class="column is-1">
            <a v-if="postType==1" class="tag is-info" :href="'/post/addsinglepost/?publishPost=true&id=' + p.id"  target="blank" style="float:right;margin-left:10px;margin-top:14px;cursor:pointer">Duplicate this post</a>
            <span v-if="postType==2" class="tag is-info"  v-on:click="editClicked(p.post_id,p.id,p.social_network_id, p.category_id, p.content, p.content_image, p.date_time, p.source_url,p.social_network_type,1)" style="float:right;margin-left:10px;margin-top:14px;cursor:pointer">Reschedule Post</span>
            <a  class="button is-small is-danger" v-if="postType==2" v-on:click="deleteFailedPost(p.id)" v-bind:class="{'is-loading':isFailedPostReq}" style="float:right;margin-left:10px;margin-top:14px">Delete</a>
						<div class="dropdown is-hoverable" v-if="postType==0">
						  <div class="dropdown-trigger">
						    <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu4">
						        <i class="fa fa-angle-down" aria-hidden="true"></i>
						    </button>
						  </div>
						  <div class="dropdown-menu dropdown-menu4" id="dropdown-menu4"  role="menu">
						    <div class="dropdown-content">
						      <div class="dropdown-item">
						          <a class="navbar-item"  v-on:click="editClicked(p.post_id,0,p.social_network_id, p.category_id, p.content, p.content_image, p.date_time, p.source_url,p.social_network_type)">
						            Edit Post
						          </a>
						      </div>
                  <div class="dropdown-item">
						          <a class="navbar-item" :href="'/post/addsinglepost/?publishPost=false&id=' + p.post_id"  target="blank">
						            Duplicate this post
						          </a>
						      </div>
					      	  <div class="dropdown-item">
						          <a class="navbar-item" v-on:click="deleteModal=true;postId=p.post_id">
						            Delete Post
						          </a>
						      </div>
						    </div>
						  </div>
						</div>
	 			   </div>
	 			</div>
 			</div>
      <div class="column is-12 post-queue-info" v-if="p.isNewPost == 1 && postType==0" >
        <p v-if="p.recycleMode==6" style="font-size:12px;margin-top:-10px;color:#fff;cursor:pointer">Recycle Daily. Next publish date: {{usertz,p.ts_gmt,6,p | repeatDate}}&nbsp;&nbsp;<b v-on:click="recycleThisPost(p)" style="text-decoration:underline">Edit</b></p>
        <p v-if="p.recycleMode==0" style="font-size:12px;margin-top:-10px;color:#fff;cursor:pointer" v-on:click="recycleThisPost(p)">Repeat this post?</p>
        <p v-if="p.recycleMode==1" style="font-size:12px;margin-top:-10px;color:#fff;cursor:pointer">Recycle weekly. Next publish date: {{usertz,p.ts_gmt,1,p | repeatDate}}&nbsp;&nbsp;<b v-on:click="recycleThisPost(p)" style="text-decoration:underline">Edit</b></p>
        <p v-if="p.recycleMode==2" style="font-size:12px;margin-top:-10px;color:#fff;cursor:pointer">Recycle monthly. Next publish date: {{usertz,p.ts_gmt,2,p | repeatDate}}&nbsp;&nbsp;<b v-on:click="recycleThisPost(p)" style="text-decoration:underline">Edit</b></p>
        <p v-if="p.recycleMode==3" style="font-size:12px;margin-top:-10px;color:#fff;cursor:pointer">Recycle every 3 months. Next publish date: {{usertz,p.ts_gmt,3,p| repeatDate}} &nbsp;&nbsp;<b v-on:click="recycleThisPost(p)" style="text-decoration:underline">Edit</b></p>
        <p v-if="p.recycleMode==4" style="font-size:12px;margin-top:-10px;color:#fff;cursor:pointer">Recycle every 6 months. Next publish date: {{usertz,p.ts_gmt,4,p | repeatDate}} <b v-on:click="recycleThisPost(p)" style="text-decoration:underline">Edit</b></p>
        <p v-if="p.recycleMode==5" style="font-size:12px;margin-top:-10px;color:#fff;cursor:pointer">Recycle yearly. Next publish date: {{usertz,p.ts_gmt,5,p | repeatDate}}&nbsp;&nbsp<b v-on:click="recycleThisPost(p)" style="text-decoration:underline">Edit</b></p>
        <p v-if="p.recycleMode==7" style="font-size:12px;margin-top:-10px;color:#fff;cursor:pointer">Recycle every {{p.customFrequencyInterval}} {{p.customFrequencyMode}}. Next publish date: {{usertz,p.ts_gmt,7,p | repeatDate}}&nbsp;&nbsp<b v-on:click="recycleThisPost(p)" style="text-decoration:underline">Edit</b></p>
        <p class="expire-p" v-if="p.expiry_after_share!=0" style="">Expires after <b>{{p.expiry_after_share - p.times_shared}}</b> more posts</p>
        <p class="expire-p" v-if="p.expiry_date!='NA'" >Expires after <b>{{usertz,p.expiry_date | getDate}}</b></p>

      </div>
 		</div>
 		<div style="width:100%;height:50px;margin-top:65px;margin-left:-15px;">
 		 <a v-if="postType==0 && allPosts.length >= 50" v-bind:class="{'is-loading':isPaginationRequest}" class="button is-primary" v-on:click="getPaginatedPosts()">Load More</a>
 		</div>
 	</div>


  </div>
  <div class="modal is-active" v-if="deleteModal">
	  <div class="modal-background"></div>
	  <div class="modal-card">
	    <header class="modal-card-head">
	      <p class="modal-card-title">Confirm</p>
	      <button class="delete" aria-label="close" v-on:click="deleteModal=false"></button>
	    </header>
	    <section class="modal-card-body">
	      Are you sure you want to delete this post?
	    </section>
	    <footer class="modal-card-foot">
	      <button class="button is-danger" v-on:click="deletePost()" v-bind:class="{'is-loading':isDelReq}">Delete</button>
	      <button class="button" v-on:click="deleteModal=false">Cancel</button>
	    </footer>
	  </div>
  </div>

  <div class="modal is-active" v-if="editCtaModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add/Edit CTA</p>
        <button class="delete" aria-label="close" v-on:click="editCtaModal=false"></button>
      </header>
      <section class="modal-card-body">
        <div class="field" style="border:1px solid #ccc;min-height:120px">
          <div class="column is-6" style="margin-left:0px">
            <div class="control">
              <div class="select">
                <select v-model="gmbCtaValue">
                  <option value="NA">None</option>
                  <option value="CALL">Call Now</option>
                  <option value="LEARN_MORE">Learn More button</option>
                  <option value="BOOK">Book button</option>
                  <option value="SIGN_UP">Sign Up button</option>
                  <option value="ORDER">Order Online button</option>
                  <option value="SHOP">Buy button</option>
                  <option value="GET_OFFER">Get Offer button</option>
                </select>
              </div>
            </div>
            <br/>
            <div class="field" v-if="gmbCtaValue != 'CALL'">
              <div class="control">
                <input class="input" v-model="ctaButtonUrl" type="text" placeholder="Button URL" style="width:300px">
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
	      <button class="button is-success" v-on:click="confirmEditCta()" v-bind:class="{'is-loading':isDelReq}">Update Post</button>
	    </footer>
    </div>
  </div>

  <div class="modal is-active" v-if="recycleModal">
	  <div class="modal-background"></div>
	  <div class="modal-card">
	    <header class="modal-card-head">
	      <p class="modal-card-title">Repeat this post</p>
	      <button class="delete" aria-label="close" v-on:click="recycleModal=false"></button>
	    </header>
	    <section class="modal-card-body">
        <div class="field">
    		  <label class="label frequent-post-label">How frequently would you like this post to repeat?</label>
          <div class="columns" style="margin-top:10px;">
            <div class="column is-one-quarter">
                <p style="margin-top:5px">Repeat: </p>
            </div>
            <div class="column is-half">
        		  <div class="control modal-control" >
        		    <div class="select is-fullwidth">
                  <select  v-model="recycleModeVar">
                    <option value=0>None</option>
                    <option value=6>Daily</option>
        		        <option value=1>Weekly</option>
        		        <option value=2>Monthly</option>
                    <option value=3>Once Every 3 Months</option>
                    <option value=4>Once Every 6 Months</option>
                    <option value=5>Once Every Year</option>
                    <option value=7>Custom</option>
        		      </select>
        		    </div>
        		  </div>
            </div>
            <div class="column is-one-quarter">
              <a v-on:click="postRecycleHelpModal=true"><i class="fa fa-question-circle" aria-hidden="true" style="margin-top:8px"></i></a>
            </div>
          </div>
          <div class="field" v-if="recycleModeVar == 7" style="margin-top:35px">
            <label class="label">Choose Interval:</label>
            <div class="columns" style="margin-top:10px;">
              <div class="column is-one-quarter">
                <p style="margin-top:8px">Repeat every: </p>
              </div>
              <div class="column is-one-quarter">
                <input class="input" style="margin-left:-52px;margin-top:3px" v-model="customFrequencyInterval" type="text">
              </div>
              <div class="select" style="margin-top:15px;margin-left:-35px;">
                <select v-model="customFrequencyMode">
                  <option value="Days">Days</option>
                  <option value="Weeks">Weeks</option>
                  <option value="Months">Months</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field" v-if="recycleModeVar != 0" style="margin-top:35px">
      		  <label class="label">Would you like this post to expire?</label>
      		    <div class="columns" style="margin-top:10px;">
        				<div class="column is-half">
        					<label class="checkbox">
        					  <input type="checkbox" v-model="repeatTimeChecked">
        					  Expire after being posted
        					</label>
        				</div>
      				  <div class="column is-one-quarter">
      					  <input class="input expire-after-input" v-model="repeatTimes" type="text" placeholder="" :disabled="!repeatTimeChecked"> times
      				  </div>
      			  </div>
      		    <div class="columns">
      				<div class="column is-half">
      					<label class="checkbox">
      					  <input type="checkbox" v-model="expiryDateChecked">
      					  End Date
      					</label>
      				</div>
      				<div class="column is-one-quarter" v-if="expiryDateChecked">
      					<date-picker class="expire-datepicker" :date="expiryDate" :option="multiOption" :limit="limit" style="" placeholder="dd/mm/yyyy"></date-picker>
      				</div>
      			</div>
      		</div>
        </div>
	    </section>
	    <footer class="modal-card-foot">
	      <button class="button is-danger" v-on:click="confirmPostRecycle()" v-bind:class="{'is-loading':isDelReq}">OK</button>
	      <button class="button" v-on:click="recycleModal=false">Cancel</button>
	    </footer>
	  </div>
  </div>

  <div class="modal is-active" v-if="postRecycleHelpModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Post Recycle Help </p>
        <button class="delete" aria-label="close"  v-on:click="postRecycleHelpModal=false"></button>
      </header>
      <section class="modal-card-body">
        <p>We will republish this post based on the options you select.</p>
        <br>
        <p>
For example: If you schedule a post to be published on August 15th 2018 at 11am, and select "Weekly" repeat mode, the post will be published on the selected date and time, and also scheduled to republish again on August 22nd 2018 at 11am and so on... until you cancel or the post expires.</p>
      </section>
    </div>
  </div>

  <div class="modal is-active" v-if="cancelRecycleModal">
	  <div class="modal-background"></div>
	  <div class="modal-card">
	    <header class="modal-card-head">
	      <p class="modal-card-title">Cancel Recycle</p>
	      <button class="delete" aria-label="close" v-on:click="cancelRecycleModal=false"></button>
	    </header>
	    <section class="modal-card-body">
	      Are you sure you want to cancel all scheduled republishing of this post?
	    </section>
	    <footer class="modal-card-foot">
	      <button class="button is-danger" v-on:click="confirmCancelRecyclePost()" v-bind:class="{'is-loading':isDelReq}">Yes</button>
	      <button class="button" v-on:click="cancelRecycleModal=false">Back</button>
	    </footer>
	  </div>
  </div>

  <div class="modal is-active" v-if="isEditModal">
	  <div class="modal-background"></div>
	  <div class="modal-card" style="min-height:570px">
	    <header class="modal-card-head">
	      <p v-if="isReschedule==0" class="modal-card-title">Edit Post</p>
        <p v-if="isReschedule==1" class="modal-card-title">Reschedule Post</p>
	      <button class="delete" aria-label="close" v-on:click="isEditModal=false"></button>
	    </header>
	    <section class="modal-card-body" style="height:500px">
		  <div class="control">
		    <div class="select">
		      <select v-model="selectedCategoryId">
		         <option v-bind:value="category.id"
		                 v-for="category in userCategories"
		                 v-if="category.network_id==null?false:category.network_id.split(',').includes(selectedAccountId)"
		                 >
		                 {{category.category_name}}
		        </option>
		      </select>
		    </div>
		  </div>
      <br><br>
      <vue-ctk-date-time-picker v-model="postDate" enable-button-validate  min-date="2018-04-03" max-date="2024-04-12"></vue-ctk-date-time-picker>

	      <br><br>
		  <div class="control">
		    <textarea class="textarea" data-emojiable="true" placeholder="Type/paste a status.." v-model="selectedDesc"></textarea>
        <p style="font-size:14px">Character Count: {{this.characterCount}}</p>
      </div>
  		  <p style="font-size:16px" class="help is-primary" v-if="statusUrl!=''">Link to - <a :href="statusUrl" target="blank">{{statusUrl}}</a></p>
      	  <p v-if="imageUploadReq">Uploading Media...</p>

		  <div class="columns" v-if="selectedImageUrl!= 'NA'" style="margin-top:25px">
		   <div class="column is-12">
				<div style="width:150px;height:150px;margin-top:10px">
					<img :src="selectedImageUrl" style="width:100%;height:100%;object-fit:'cover';border-radius:5px"/>
				</div>
		   </div>
		  </div>
		  <div v-if="selectedImageUrl=='NA'" style="margin-top:25px">
			<div class="file">
			  <label class="file-label">
			    <input class="file-input" type="file" name="resume" v-on:change="onFileChange">
			    <span class="file-cta">
			      <span class="file-icon">
			        <i class="fa fa-upload"></i>
			      </span>
			      <span class="file-label">
			        Add Image
			      </span>
			    </span>
			  </label>
			</div>
		  </div>
		  <div v-if="selectedImageUrl!= 'NA'" style="margin-top:25px">
			<div class="file" style="float:left">
			  <label class="file-label">
			    <input class="file-input" type="file" name="resume" v-on:change="onFileChange">
			    <span class="file-cta">
			      <span class="file-icon">
			        <i class="fa fa-upload"></i>
			      </span>
			      <span class="file-label">
			        Change Image
			      </span>
			    </span>
			  </label>
			</div>
			<a v-on:click="removeImage()"><p style="float:left;margin-left:15px">Remove Image</p></a>
		</div>

	    </section>
	    <footer class="modal-card-foot">
	      <button class="button is-success" v-on:click="editPost()" v-bind:class="{'is-loading':isEditReq}">Update</button>
	      <button class="button" v-on:click="isEditModal=false">Cancel</button>
	    </footer>
	  </div>
  </div>

  <div class="modal is-active" v-if="bulkDeleteModal">
	  <div class="modal-background"></div>
	  <div class="modal-card">
	    <header class="modal-card-head">
	      <p class="modal-card-title">Delete all posts?</p>
	      <button class="delete" aria-label="close" v-on:click="bulkDeleteModal=false"></button>
	    </header>
	    <section class="modal-card-body">
	      Delete {{selectedPostCountForDelete}} selected posts? This cannot be undone.
	    </section>
	    <footer class="modal-card-foot">
	      <button class="button is-danger" v-on:click="deleteBulkPosts()" v-bind:class="{'is-loading':isDelReq}">Delete</button>
	      <button class="button" v-on:click="bulkDeleteModal=false">Cancel</button>
	    </footer>
	  </div>
  </div>

  <div class="modal is-active" v-if="bulkFailedPostsDeleteModal">
	  <div class="modal-background"></div>
	  <div class="modal-card">
	    <header class="modal-card-head">
	      <p class="modal-card-title">Delete all failed posts?</p>
	      <button class="delete" aria-label="close" v-on:click="bulkFailedPostsDeleteModal=false"></button>
	    </header>
	    <section class="modal-card-body">
	      Delete all failed posts? This cannot be undone.
	    </section>
	    <footer class="modal-card-foot">
	      <button class="button is-danger" v-on:click="deleteBulkFailedPosts()" v-bind:class="{'is-loading':isDelReq}">Delete</button>
	      <button class="button" v-on:click="bulkFailedPostsDeleteModal=false">Cancel</button>
	    </footer>
	  </div>
  </div>

  <div class="modal is-active" v-if="zoomedImage">
	  <div class="modal-background"></div>
	  <div class="modal-card">
	    <section class="modal-card-body" style="height: 600px">
      <img :src="zoomedImageUrl" style="width:80%;height:80%;"/>
	    </section>
	    <footer class="modal-card-foot">
	      <button class="button" v-on:click="zoomedImage=false">Cancel</button>
	    </footer>
	  </div>
  </div>

</div>
</template>



<script>
import myDatepicker from 'vue-datepicker'
import * as linkify from 'linkifyjs';
import Vue from 'vue';
import VTooltip from 'v-tooltip';
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.min.css';

Vue.use(VTooltip)

export default {
    components: {
      'date-picker': myDatepicker,
      'vue-ctk-date-time-picker': VueCtkDateTimePicker
    },
    mounted() {
      this.getPaginatedPosts();
      this.getPosts();
      this.getPublishedPosts();
      this.getFailedPosts();
      this.getPostsCount();
      this.getCategoryAndAccounts();
    },
    props: ['usertz'],
    data: function(){
    	return{
        postRecycleHelpModal: false,
        postDate: "2018-08-29 11:35:52",
    		selectAllChecked:false,
				loading:true,
				activated:false,
				filterAccountToggle: false,
				filterCategoryToggle: false,
				filterTypeToggle: false,
    		isPaginationRequest:false,
    		pausedQueueCount:0,
    		allPosts:[],
    		scheduledPosts:[],
    		scheduledPostsPaginated:[],
    		scheduledPostsCount:"-",
    		publishedPosts:[],
    		publishedPostsCount:"-",
    		failedPosts:[],
    		failedPostsCount:"-",
    		finalData:[],
    		userCategories:[],
    		userAccounts: [],
    		timeSlotCount: 0,
    		categoryFilterId:-1,
    		everGreenFilter: -1,
    		accountFilter:-1,
    		isDelReq:false,
    		deleteModal:false,
    		isEditReq:false,
    		isEditModal:false,
    		isRefreshReq:false,
        isFailedPostReq: false,
    		refreshModal:false,
        recycleModal:false,
        cancelRecycleModal: false,
        editCtaModal: false,
    		postId: -1,
    		selectedCategoryId:-1,
    		selectedAccountId:-1,
        characterCount:'',
    		selectedDesc:'',
        postUrl:'',
    		selectedImageUrl:'',
    		statusUrl:'',
        zoomedImage: false,
        zoomedImageUrl: '',
    		postType:0,
    		bulkDeleteModal: false,
        bulkFailedPostsDeleteModal: false,
    		selectedPostCountForDelete:0,
    		imageUploadReq: false,
        recycleModeVar: 1,
        repeatTimeChecked:false,
        repeatTimes:0,
        customFrequencyInterval: "5",
        customFrequencyMode: "Days",
        expiryDateChecked: false,
        isReschedule:0,
        failedPostId: 0,
        gmbCtaValue: "NA",
        ctaButtonUrl: "",
        expiryDate:{
          time:  moment().format("YYYY-MM-DD")
        },
        limit:[],
        multiOption: {
          type: 'day',
          week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
          month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
          format:"YYYY-MM-DD"
        }
    	}
    },
    methods: {
      getPostsCount: function(){
        var self = this;
        axios.post('/getcount').then(response => {
          self.publishedPostsCount =  response.data.publishedCount;
        }).catch(error => {

        });
      },
      getCategoryAndAccounts: function(){
        var self = this;
        axios.post('/getqueuecategory').then(response => {
          self.userCategories = response.data.category;
          self.pausedQueueCount = self.userCategories.filter(function(item){return item.isPaused ==1}).length;
          self.userAccounts = response.data.accounts;
        }).catch(error => {

        });

      },
    	getPosts: function(){
        var self = this;
        axios.post('/getposts').then(response => {
        	 self.scheduledPosts = response.data.scheduledPosts;
        	 self.scheduledPostsCount = response.data.scheduledPosts.length;
        }).catch(error => {

        });
    	},
    	getPublishedPosts: function(){
    	   var self = this;
	       axios.post('/publishedposts').then(response => {
	          self.publishedPosts = response.data.publishedPosts;
	       });
    	},
    	getFailedPosts: function(){
    	   var self = this;
	       axios.post('/failedposts').then(response => {
	          self.failedPosts = response.data.failedPosts;
            self.failedPostsCount = self.failedPosts.length;
	       });
    	},
    	getPaginatedPosts: function(){
          var self = this;
          this.isPaginationRequest = true;
          axios.post('/getpaginatedposts',{start: this.allPosts.length,
                categoryId:this.categoryFilterId,
                accountId:this.accountFilter
          }).then(response => {
            self.scheduledPostsPaginated = 	response.data.scheduledPosts;
          	response.data.scheduledPosts.map(function(item){
          		Vue.set(self.allPosts,self.allPosts.length,item);
          	});
          	this.isPaginationRequest = false;
         	  self.loading = false;
          	//self.allPosts.concat(response.data.scheduledPosts);
          });
			},
			toggleQueue: function(){
				this.activated = !this.activated;
			},
			toggleFilterAccount: function() {
				this.filterAccountToggle = !this.filterAccountToggle;
			},
			toggleFilterCategory: function() {
				this.filterCategoryToggle = !this.filterCategoryToggle;
			},
			toggleFilterType: function() {
				this.filterTypeToggle = !this.filterTypeToggle;
			},
    	postTypeClick: function(type){
    		this.postType = type;
    		if(type == 0){
    			this.allPosts = this.scheduledPostsPaginated;
    			this.allPosts.map(function(item){
    				item.isChecked = false;
    			});
    		}
    		if(type == 1)
    		    this.allPosts = this.publishedPosts;
    		if(type == 2)
    			this.allPosts = this.failedPosts;
    	},
      thumbClicked: function(url){
        this.zoomedImage = true;
        this.zoomedImageUrl = url;
      },
    	filterAccount: function(id){
    		this.categoryFilterId = -1;
    		this.everGreenFilter = -1;
    		this.accountFilter = id;
        this.allPosts = [];
        if(this.postType == 0)
          this.getPaginatedPosts();
        else if(this.postType == 1)
          this.allPosts = this.publishedPosts;
        else if(this.postType == 2)
          this.allPosts = this.failedPosts;
    	},
		filterCategory: function(id){
			this.everGreenFilter = -1;
			this.accountFilter = -1;
			this.categoryFilterId = id;
      this.allPosts = [];
      if(this.postType == 0)
        this.getPaginatedPosts();
      else if(this.postType == 1)
        this.allPosts = this.publishedPosts;
      else if(this.postType == 2)
        this.allPosts = this.failedPosts;
		},
		filterEverGreenPosts: function(type){
			this.categoryFilterId = -1;
			this.accountFilter = -1;
			this.everGreenFilter = type;
		},
		filterOption: function(p){
            if(this.categoryFilterId != -1){
	            if(p.category_id == this.categoryFilterId)
	            	return true;
	            else
	            	return false;
            }else if(this.everGreenFilter != -1){
            	if(p.isEvergreen == this.everGreenFilter)
            		return true;
            	else
            		return false;
            }else if(this.accountFilter != -1){
            	if(p.social_network_id == this.accountFilter)
            		return true;
            	else
            		return false;
            }
            else return true;

		},
		filtersApplied: function(){
			if(this.categoryFilterId!=-1 || this.everGreenFilter != -1 || this.accountFilter!=-1)
				return true;
			else
				return false;
		},
		showDeletePop: function(){
			if(this.postType == 0){
				var self  = this;
				this.selectedPostCountForDelete = 0;
				this.allPosts.map(function(item){
					if(item.isChecked) self.selectedPostCountForDelete++;
				})
				if(this.selectedPostCountForDelete !=0)
				 this.bulkDeleteModal = true;
				else
				 alert("You have not selected any post.");
			}
		},
    showFailedPostsDeletePop: function(){
      this.bulkFailedPostsDeleteModal = true;
    },
		deletePost: function(){
		  this.isDelReq = true;
          var self = this;
          axios.post('/deletepost',{post_id: this.postId}).then(response => {
          	var temp = self.allPosts.filter((item)=>{
          		return item.post_id != self.postId;
          	});
          	self.scheduledPosts = temp;
          	self.allPosts = temp;
          	self.isDelReq = false;
          	self.deleteModal = false;
          }).catch(error => {
          	self.isDelReq = false;
          	self.deleteModal = false;
          });
		},
    deleteFailedPost: function(id){
      this.isFailedPostReq = true;
      axios.post('/deletefailedpost',{post_id: id}).then(response => {
        window.location.href = '/queue';
      }).catch(error => {
        alert("We are not able to remove this post. Please try later.");
      });
    },
		editClicked: function(post_id,failed_post_id,social_network_id, category_id, desc, image_url, date_time, status_url,social_network_type, isReshedule=0){
      this.isReschedule = isReshedule;
      this.failedPostId = failed_post_id;
      this.postId = post_id;
			this.selectedAccountId = social_network_id;
			this.selectedCategoryId = category_id;
      if(social_network_type==5){
        this.selectedDesc = desc + " " + (status_url == "NA"?"":status_url);
      }else{
        this.selectedDesc = desc.includes(status_url)?desc:(desc + " " + (status_url == "NA"?"":status_url));
      }
			this.selectedImageUrl = image_url;
      this.characterCount = this.selectedDesc.length;
      if(isReshedule == 1)
        this.postDate =  moment().add(5, 'minutes').format('YYYY-MM-DD HH:mm') ;
      else
        this.postDate = date_time;
      this.postUrl = status_url;
			this.isEditModal = true;

		},
    	onFileChange: function(e) {
        	var self = this;
    		var files = e.target.files || e.dataTransfer.files;
    		var file = files[0];
	        this.imageUploadReq = true;
			var formData = new FormData();
			formData.append('file',file);
			formData.append('upload_preset','ml_default')
	        axios({
	            url:'https://api.cloudinary.com/v1_1/dcvqcfob1/upload',
	            method:'POST',
	            headers:{
	              'Content-Type':'application/x-www-form-urlencoded'
	            },
	            data:formData
	        }).then(function(response){
	            if(response.data.resource_type == "image"){
	              self.imageUploadReq = false;
	              self.selectedImageUrl = response.data.url;
	            }
	            else{
	            	alert("You cannot upload video or any other media other than image.");
	            }
	        }).catch(function(error){
	            self.imageUploadReq = false;
	            alert(error);
	        });
    	},
		removeImage: function(){
			this.selectedImageUrl = 'NA';
		},
		editPost: function(){
      var day = moment(this.postDate);
			this.isEditReq = true;
			var self = this;
			axios.post('/editpost',{
                  failed_post_id: this.isReschedule==0?0:this.failedPostId,
                  post_id: this.postId,
									category_id:this.selectedCategoryId,
									content: this.selectedDesc,
									source_url: this.statusUrl == ''?'NA':this.statusUrl,
									image_url: this.selectedImageUrl,
                  scheduledDate: day.format("YYYY-MM-DD"),
                  scheduledTime: day.format("HH:mm")
								}).
			then(response => {
        if(this.isReschedule ==1){
          window.location.href = '/queue';
          return;
        }
				self.allPosts.map((item)=>{
					if(item.post_id == self.postId){
						item.content = self.selectedDesc;
						item.category_id = self.selectedCategoryId;
						var index = self.userCategories.map(function(d) { return d['id']; }).indexOf(self.selectedCategoryId);
						item.category_name = self.userCategories[index].category_name;
						item.source_url = this.statusUrl==''?'NA':this.statusUrl;
						item.content_image = this.selectedImageUrl;
						item.color = self.userCategories[index].color;
            item.ts_gmt = response.data;
						self.isEditModal = false;
						self.isEditReq = false;
					}
				});
			}).
			catch(error => {
				self.isEditModal = false;
				self.isEditReq = false;
      });
		},
		refreshQueue: function(){

		},
    editPostCta: function(p){
      this.postId = p.post_id
      this.editCtaModal = true;
      this.gmbCtaValue = p.extraParams;
      this.ctaButtonUrl = p.ctaUrl;
    },
    confirmEditCta: function(){
      let self = this;


      if(this.gmbCtaValue != "NA" && this.gmbCtaValue != 'CALL' && (this.ctaButtonUrl == null || this.ctaButtonUrl == "")){
        alert("Please provide CTA URL.");
        return;
      }
      this.isDelReq = true;
      axios.post('/updatecta',{post_id: this.postId, ctaType: this.gmbCtaValue, ctaUrl: this.ctaButtonUrl}).then(response => {
        self.isDelReq = false;
      	self.editCtaModal = false;
        self.allPosts.map((item)=>{
					if(item.post_id == self.postId){
            item.extraParams = self.gmbCtaValue;
            item.ctaUrl = self.ctaButtonUrl;
					}
				});
      }).catch(error => {
      	self.isDelReq = false;
      	self.editCtaModal = false;
      });
    },
    recycleThisPost: function(p){
      this.postId = p.post_id;
      this.recycleModeVar = p.recycleMode;
      this.repeatTimeChecked = p.expiry_after_share == 0?false:true;
      this.repeatTimes = p.expiry_after_share;
      this.customFrequencyInterval = p.customFrequencyInterval;
      this.customFrequencyMode = p.customFrequencyMode;
      this.expiryDateChecked= p.expiry_date == "NA"?false:true;
      if(p.expiry_date != "NA"){
        let date = moment(p.expiry_date);
        this.expiryDate= {
          time:  date.format("YYYY-MM-DD")
        };
      }
      this.recycleModal = true;
    },
    confirmPostRecycle: function(){
      this.isDelReq = true;
      var self = this;

      let paramRepeatTime = 0;
      let paramExpiryDate = "NA";
      if(this.recycleModeVar == 0){

      }else{
        paramRepeatTime = this.repeatTimeChecked? this.repeatTimes:0;
        paramExpiryDate = this.expiryDateChecked? moment(this.expiryDate.time).format('YYYY-MM-DD'):"NA";
      }

      axios.post('/convertrecycle',{post_id: this.postId,
                                    recycle_mode: this.recycleModeVar,
                                    repeatTime:paramRepeatTime,
                                    expiryDate: paramExpiryDate,
                                    customFrequencyMode: this.customFrequencyMode,
                                    customFrequencyInterval: this.customFrequencyInterval
                                  }).then(response => {
        self.isDelReq = false;
      	self.recycleModal = false;
        self.allPosts.map((item)=>{
					if(item.post_id == self.postId){
            item.recycleMode = self.recycleModeVar;
            item.customFrequencyInterval = self.customFrequencyInterval;
            item.customFrequencyMode = self.customFrequencyMode;
            item.isEvergreen = self.recycleModeVar == 0?0:1;
            if(this.recycleModeVar == 0){
              item.expiry_after_share = 0;
              item.expiry_date = "NA";
            }else{
              item.expiry_after_share = this.repeatTimeChecked? this.repeatTimes:0;
              item.expiry_date = self.expiryDateChecked? moment(self.expiryDate.time).format('YYYY-MM-DD'):"NA";
            }
					}
				});
      }).catch(error => {
      	self.isDelReq = false;
      	self.recycleModal = false;
      });
    },
    cancelRecyclePost: function(p){
      this.cancelRecycleModal = true;
      this.postId = p.post_id;
    },
    confirmCancelRecyclePost: function(){
      this.isDelReq = true;
      var self = this;

      axios.post('/cancelrecycle',{post_id: this.postId}).then(response => {
        self.isDelReq = false;
      	self.cancelRecycleModal = false;
        self.allPosts.map((item)=>{
					if(item.post_id == self.postId){
            item.recycleMode = 0;
            item.isEvergreen = 0;
					}
				});
      }).catch(error => {
      	self.isDelReq = false;
      	self.cancelRecycleModal = false;
      });
    },
    clearFilter: function(){
      this.categoryFilterId=-1;
      this.everGreenFilter=-1;
      this.accountFilter =-1;
      this.allPosts = [];
      this.getPaginatedPosts();
    },
		deleteBulkPosts: function(){
		  this.isDelReq = true;
      var self = this;
      var posts_id = [];
      this.allPosts.map(function(item){
      	if(item.isChecked)
      	 posts_id.push(item.post_id)
      });
      axios.post('/bulkdeletepost',{posts_id: posts_id}).then(response => {
      	window.location.href = '/queue';
      }).catch(error => {
      	self.isDelReq = false;
      	self.deleteModal = false;
      });
		},
  deleteBulkFailedPosts: function(){
    this.isDelReq = true;
    var self = this;

    axios.post('/bulkdeletefailedpost').then(response => {
      window.location.href = '/queue';
    }).catch(error => {
      self.isDelReq = false;
      self.bulkFailedPostsDeleteModal = false;
    });
  }
},
	filters: {
	    localTime: function (usertz,date) {
	       return moment(parseInt(date)*1000).tz(usertz).format('h:mm a, dddd');
	    },
	    localDate: function(usertz,date){
	       return moment(parseInt(date)*1000).tz(usertz).format('MMMM Do YYYY');
	    },
      getDate: function(usertz, date){
        return moment(date).tz(usertz).format('MMMM Do, YYYY');
      },
      repeatDate: function(usertz, date, repeatMode, post){
        if(repeatMode == 1)
          return moment(parseInt(date)*1000).tz(usertz).add('days',7).format('MMMM Do, YYYY');
        if(repeatMode == 2)
          return moment(parseInt(date)*1000).tz(usertz).add('months',1).format('MMMM Do, YYYY');
        if(repeatMode == 3)
          return moment(parseInt(date)*1000).tz(usertz).add('months',3).format('MMMM Do, YYYY');
        if(repeatMode == 4)
          return moment(parseInt(date)*1000).tz(usertz).add('months',6).format('MMMM Do, YYYY');
        if(repeatMode == 5)
          return moment(parseInt(date)*1000).tz(usertz).add('months',12).format('MMMM Do, YYYY');
        if(repeatMode == 6)
          return moment(parseInt(date)*1000).tz(usertz).add('days',1).format('MMMM Do, YYYY');
        if(repeatMode == 7)
          return moment(parseInt(date)*1000).tz(usertz).add(post.customFrequencyMode.toLowerCase(), post.customFrequencyInterval).format('MMMM Do, YYYY');
      },
	    getEverGreenCount: function(scheduled){
	    	var everGreen = scheduled.filter((item) =>{
              return item.isEvergreen == 1;
	    	});
	    	return everGreen.length;
	    },
	    getOneTimeCount: function(scheduled){
	    	var oneTime = scheduled.filter((item) =>{
              return item.isEvergreen == 0;
	    	});
	    	return oneTime.length;
	    },
	    postInCategory: function(scheduledPosts, id){
	    	var arr = scheduledPosts.filter((item)=>{
	    		return item.category_id == id;
	    	});
	    	return arr.length;
	    },
	    postInAccount: function(scheduledPosts, id){
	    	var arr = scheduledPosts.filter((item)=>{
	    		return item.social_network_id == id;
	    	});
	    	return arr.length;
	    },
	    everGreenPostCount: function(scheduledPosts){
	    	var arr = scheduledPosts.filter((item)=>{
	    		return item.isEvergreen
	    	});
	    	return arr.length;
	    },
	    oneTimePostCount: function(scheduledPosts){
	    	var arr = scheduledPosts.filter((item)=>{
	    		return !item.isEvergreen
	    	});
	    	return arr.length;
	    }
	},
	watch:{
		selectedDesc: function(val){
         var tempVal = linkify.find(val);
         this.characterCount = val.length;
         if(tempVal.length == 0)
         	this.statusUrl = '';
         if(tempVal.length!=0 && tempVal[0].type!='email')
         	this.statusUrl = tempVal[0].value;
		},
		selectAllChecked: function(val){
			var self = this;
			this.allPosts.map(function(item){
				if(self.filterOption(item))
					item.isChecked = val;
			});
		},
    repeatTimeChecked: function(val){
      if(val)
        this.expiryDateChecked = false;
    },
    expiryDateChecked: function(val){
      if(val)
        this.repeatTimeChecked = false;
    }
	}
}
</script>
