<template>
<div class="container" v-if="userCategories.length == 0">
  <p>Loading your saved Feeds...</p>
</div>
<div class="container" v-else>
  <p style="font-size:18px">Import from RSS&nbsp;&nbsp;<a v-on:click="feedHelpModal=true"><i class="fa fa-question-circle" aria-hidden="true" style="margin-top:8px"></i></a></p>

  <div class="columns">
    	<div class="column is-1" style="margin-top:10px"><a class="button is-info" v-on:click="addFeedModal=!addFeedModal">+ Add new feed</a></div>
  </div>

  <div class="column">
    <div class="column is-11" v-for="feed in feeds" style="margin-top:20px;background-color:#EBF2F6;height:120px;display:flex;flex-direction:row;align-items:center;">
      <div class="columns">
        <div class="column is-5">
          <p style="font-size:16px;color:#3fa6f4;word-break: break-word;width:200px"><b><a :href="feed['feed_url']" target="blank">{{feed['feed_url']}}</a></b></p>
        </div>
        <div class="column is-3">
          <p style="width:200px;" v-if="feed['repeat_mode'] == 6">Repost old feeds:<br><b>Daily</b></p>
          <p style="width:200px;" v-if="feed['repeat_mode'] == 0">Repost old feeds:<br><b>Never</b></p>
          <p style="width:200px;" v-if="feed['repeat_mode'] == 1">Repost old feeds:<br><b>Weekly</b></p>
          <p style="width:200px;" v-if="feed['repeat_mode'] == 2">Repost old feeds:<br><b>Monthly</b></p>
          <p style="width:200px;" v-if="feed['repeat_mode'] == 3">Repost old feeds:<br><b>Once Every 3 Months</b></p>
          <p style="width:200px;" v-if="feed['repeat_mode'] == 4">Repost old feeds:<br><b>Once Every 6 Months</b></p>
          <p style="width:200px;" v-if="feed['repeat_mode'] == 5">Repost old feeds:<br><b>Once Every Year</b></p>
        </div>

        <div class="column is-3">
          <p style="width:200px;">Category: <br> <b style="word-break: break-word;">{{feed['category_name']}}</b></p>
        </div>

        <div class="column is-3">
          <p>Interval (in mins): <br> <b>{{feed['interval']}}</b></p>
        </div>

        <div class="column is-2">
          <button class="button is-danger" v-on:click="deleteFeedModalFunc(feed['id'])">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal is-active" v-if="deleteFeedModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Confirm</p>
      </header>
      <section class="modal-card-body">
        <p>Are you sure you want to delete this feed? <br /><br /> If deleted, any posts from this RSS feed that were already scheduled may still be in your queue.</p>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-danger" v-on:click="deleteFeed()" v-bind:class="{'is-loading':isDelReqSent}">Delete</button>
        <button class="button" v-on:click="deleteFeedModal=!deleteFeedModal">Cancel</button>
      </footer>
    </div>
  </div>

  <div class="modal is-active" v-if="feedHelpModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">RSS Feed Help </p>
        <button class="delete" aria-label="close"  v-on:click="feedHelpModal=false"></button>
      </header>
      <section class="modal-card-body">
        <p>When you add an RSS feed, OneUp will immediately schedule the 10 most recent posts from that RSS feed. You can choose the preferred interval between those posts.</p>
        <br>
        <p>Moving forward, OneUp will automatically check that RSS feed for new posts once every 3 hours.</p>
        <br>
        <p>If there are no new posts in the RSS feed, it will not schedule anything.</p>
        <br>
        <p>If there are new posts from that RSS feed, those posts will be automatically scheduled at the interval you have chosen.</p>
      </section>
    </div>
  </div>

  <div class="modal is-active" v-if="rssAddErrorModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">RSS Feed Help </p>
        <button class="delete" aria-label="close"  v-on:click="rssAddErrorModal=false"></button>
      </header>
      <section class="modal-card-body">
        This feed is incompatible with OneUp.
        <br>
        Please <a href="https://oneup.crisp.help/en-us/article/my-rss-feed-is-not-working-p2aoyw/" target="blank">click here to resolve this issue.</a>
      </section>
    </div>
  </div>

  <div class="modal is-active" v-if="addFeedModal">
   <div class="modal-background"></div>
   <div class="modal-card">
     <section class="modal-card-body" style="height:400px">
       <div class="field">
         <div class="control">
           <input class="input is-primary" v-model="feedUrl" type="text" placeholder="Feed/Blog URL...">
         </div>
       </div>
       <div class="field" style="margin-top:35px">
         <label class="label">Category:</label>
         <div class="select">
           <select v-model="selectedCategory">
             <option v-for="category in userCategories"
                     v-bind:value="category.id"
                     >
               {{category.category_name}}
             </option>
           </select>
         </div>
       </div>
       <div class="field" style="clear:both;margin-top:35px">
         <label class="label">Accounts:</label>
         <div class="columns is-multiline" style="margin-top:10px">
           <div id="mypanel" v-tooltip.bottom="account.username"
                             v-on:click="selectSocialAccount(account.social_account_id)"
                             v-for="account in userAccounts"
                             v-if="accountInCategory.includes(account.social_account_id) && account.social_network_type!=5"
                             :style="{'opacity':selectedAccounts.includes(account.social_account_id)?1:0.3, backgroundImage:'url('+ account.image_url+')'}">
             <a id="sn-icon" href="#" :style="{backgroundImage:'url('+ '/img/'+account.social_network_type+'.png'+ ')'}"></a>
           </div>
         </div>
       </div>
       <div class="field" style="margin-top:35px">
         <label class="label">Interval between each post from this feed (in minutes):</label>
         <div class="control">
           <input class="input is-primary" v-model="feedInterval" type="text" placeholder="Interval between each post of feed(in minutes)">
         </div>
       </div>
       <div class="field" style="margin-top:35px">
        <label class="label">Do you want each post from this RSS feed to be published more than once?</label>
        <div class="select is-fullwidth">
          <select v-model="repeatMode">
            <option value=0>No, only publish each post from this feed one time each</option>
            <option value=6>Repeat daily</option>
            <option value=1>Repeat weekly</option>
            <option value=2>Repeat monthly</option>
            <option value=3>Repeat once every 3 months</option>
            <option value=4>Repeat once every 6 months</option>
            <option value=5>Repeat annually</option>
          </select>
        </div>
       </div>
       <div class="field" style="margin-top:25px" v-if="repeatMode!=0">
   		  <label class="label">Would you like repeated posts from this RSS feed to expire?</label>
   		    <div class="columns" style="margin-top:10px;">
     				<div class="column is-half">
     					<label class="checkbox">
     					  <input type="checkbox" v-model="repeatTimeChecked">
     					  Expire after being posted
     					</label>
     				</div>
   				  <div class="column is-one-quarter">
   					     <input class="input" style="margin-left:-75px;margin-top:-4px" v-model="repeatTimes" type="text" placeholder="" :disabled="!repeatTimeChecked"> times
   				  </div>
   			  </div>
        </div>
     </section>
     <footer class="modal-card-foot">
       <button class="button is-primary" v-on:click="addFeed()" v-bind:class="{'is-loading':isReqSend}">Add</button>
       <button class="button" v-on:click="addFeedModal=!addFeedModal">Cancel</button>
       <br><br>
       <p style="font-size:12px" v-if="isReqSend">It may take few minutes to fetch feeds from your RSS. Please Wait.</p>
     </footer>
   </div>
  </div>
</div>
</template>


<script>
import VTooltip from 'v-tooltip'
Vue.use(VTooltip)

export default {
    mounted() {
      this.getSavedFeeds();
      this.getCategoryAndAccounts();
    },
    data: function(){
      return{
      	feeds:[],
      	feedUrl:'',
      	selectedPosts:[],

        feedId:'',
        feedUrl:'',
        feedInterval:10,
        isReqSend:false,
        isDelReqSent: false,
        addFeedModal:false,
        deleteFeedModal: false,
        feedHelpModal:false,
        repeatMode:0,
        selectedCategory:'',
        userCategories:[],
        userAccounts:[],
        selectedAccounts:[],
        accountInCategory:[],
        repeatTimeChecked:true,
        repeatTimes:1,
        rssAddErrorModal: false
      }
    },
    methods:{
      getSavedFeeds: function(){
        var self = this;
        axios.post('/getsavedfeeds').then(response => {
          self.feeds = response.data.feeds;
          self.addFeedModal = false;
          self.isReqSend = false;
          self.isDelReqSent = false;
          self.deleteFeedModal = false;
        }).catch(error => {
          console.log("Error -->" + error);
          self.addFeedModal = false;
          self.isReqSend = false;
          self.isDelReqSent = false;
          self.deleteFeedModal = false;
        });
      },
      getCategoryAndAccounts:function(){
        var self = this;
        axios.post('/getcategoryandaccounts').then(response => {
         self.userCategories = response.data.categories;
         self.userAccounts = response.data.accounts;

        }).catch(error => {
          console.log("Error -->" + error);
        });
      },
      selectSocialAccount:function(social_network_id){
        if(this.selectedAccounts.includes(social_network_id))
          this.selectedAccounts.splice(this.selectedAccounts.indexOf(social_network_id),1);
        else
          this.selectedAccounts.push(social_network_id);
      },
      addFeed: function(){

        //check for all fields
        if(this.feedUrl.trim() == ''){
          alert("Plese enter Feed url");
          return;
        }
        if(this.selectedCategory == ''){
          alert("Plese select a Category for this feed");
          return;
        }
        if(this.selectedAccounts.length == 0){
          alert("You have not selected any social account");
          return;
        }
        var self = this;
        var obj = {};
        obj.url = this.feedUrl;
        obj.feedInterval = this.feedInterval;
        obj.categoryId = this.selectedCategory;
        obj.repeatMode = this.repeatMode;
        obj.repeatTimes = this.repeatTimeChecked?this.repeatTimes:"NA";

        this.isReqSend = true;

        axios.post('/addfeed',{data:obj, accounts: this.selectedAccounts}).then(response => {
          if(response.data.message == "error"){
            self.rssAddErrorModal = true;
            self.addFeedModal = false;
            self.isReqSend = false;
            return;
          }
          if(response.data.message == "exceeded"){
            alert("You have exceeded the maximum RSS limit allowed under your plan. To add more RSS feeds, upgrade to a higher plan or delete some RSS feeds.");
            self.addFeedModal = false;
            self.isReqSend = false;
            return;
          }
          self.getSavedFeeds();
        }).catch(error => {
          self.addFeedModal = false;
          self.isReqSend = false;
          alert("Error" + error);
        });
      },
      deleteFeedModalFunc: function(id){
        this.feedId = id;
        this.deleteFeedModal = true;
      },
      deleteFeed: function(){
        this.isDelReqSent = true;
        var self = this;
        axios.post('/deletefeed',{feedId:this.feedId}).then(response => {
          self.getSavedFeeds();
        });
      }
    },
    watch: {
      selectedCategory: function (val) {
          this.selectedAccounts = [];
          var index = this.userCategories.map(function(d) { return d['id']; }).indexOf(val);
          this.accountInCategory = this.userCategories[index].network_id==null?[]:this.userCategories[index].network_id.split(",");
      }
    }
}
</script>
