<template>
<div class="columns" v-if="firstTimeLoad">
    Loading your Schedule...
</div>
<div class="container" v-else>
  <div style="position:fixed;width:inherit;margin-top:-65px">
  <div class="columns">
      <div class="column is-2" style="width:5.667%;border:1px solid #EAEAEA;text-align: center;color:#fff;background-color:#97CCC8;margin-top:40px"></div>
      <div class="column is-2" style="width:13.667%;border:1px solid #EAEAEA;text-align: center;color:#fff;background-color:#97CCC8;margin-top:40px"><p>Monday</p></div>
      <div class="column is-2" style="width:13.667%;border:1px solid #EAEAEA;text-align: center;color:#fff;background-color:#97CCC8;margin-top:40px"><p>Tuesday</p></div>
      <div class="column is-2" style="width:13.667%;border:1px solid #EAEAEA;text-align: center;color:#fff;background-color:#97CCC8;margin-top:40px"><p>Wednesday</p></div>
      <div class="column is-2" style="width:13.667%;border:1px solid #EAEAEA;text-align: center;color:#fff;background-color:#97CCC8;margin-top:40px"><p>Thursday</p></div>
      <div class="column is-2" style="width:13.667%;border:1px solid #EAEAEA;text-align: center;color:#fff;background-color:#97CCC8;margin-top:40px"><p>Friday</p></div>
      <div class="column is-2" style="width:13.667%;border:1px solid #EAEAEA;text-align: center;color:#fff;background-color:#97CCC8;margin-top:40px"><p>Saturday</p></div>
      <div class="column is-2" style="width:13.667%;border:1px solid #EAEAEA;text-align: center;color:#fff;background-color:#97CCC8;margin-top:40px"><p>Sunday</p></div>
  </div>
  </div>

	<div class="columns" v-for="firstSchedule,index in parentSchedule">
    <div class="column is-2" :style="{'margin-top':index==0?'40px':'0px'}" style="width:5.667%;border:1px solid #fafafa;background-color:#EAEAEA;">
        <p>{{convertTime(index<10?("0"+index+":00"):(index+":00"))}}</p>
    </div>
		<div class="column is-2" v-for="schedule,key in firstSchedule" :style="{'margin-top':index==0?'40px':'0px'}"  style="width:13.667%;border:1px solid #fafafa;background-color:#EAEAEA;">
      <div v-for="p in schedule" style="width:100%;min-height:100px;background-color:fff;margin-top:10px;border-radius:5px;overflow:auto;"
                                 :style="{'box-shadow':'0 -5px 0 '+p.color}"
                                 v-if="filterCategoryId==-1?true:(filterCategoryId==p.category_id?true:false)"
                                 >
          <div style="width:100%;height:30px;margin-top:2px">
            <p style="float:left;padding:5px;"><b>{{convertTime(p.selected_time)}}</b></p>
            <a style="float:right;padding:5px" v-on:click="editSlotClick(p.id, p.second_index,p.category_id, p.social_network_id,p.selected_time)">Edit</a>
          </div>
          <div style="width:100%;min-height:40px;">
            <p style="font-size:16px;padding:5px;">{{p.category_name}}</p>
          </div>
          <div id="smallpanel" v-for="acc,index in p.social_network_id_arr" :style="{backgroundImage:'url('+ p.social_network_img[index]+')'}">
           <a id="sn-icon-small" :style="{backgroundImage:'url('+ '/img/'+p.social_network_type_arr[index]+'.png'+ ')'}" href="#"></a>
          </div>
      </div>
      <div v-on:click="newSlotClick(index, key)" style="width:100%;height:20px;margin-top:10px;text-align:center;background-color:#BBEEA2;border-radius:5px;cursor:pointer">
        <p>+</p>
      </div>
    </div>
	</div>
  <div class="columns">
    <div class="column" style="height:30px"></div>
  </div>
  <div class="columns">
    <div class="column is-12" style="width:101%;height:60px;background-color:#fff">
      <div class="field">
        <label class="label" style="float:left;margin-top:0.3em">Filter by Category : </label>

        <div class="select" style="float:left;margin-left:20px">
          <select v-model="filterCategoryId">
            <option value=-1>All Category</option>
            <option v-for="category in userCategories"
                    v-bind:value="category.id"
                    >
              {{category.category_name}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal is-active" v-if="isEditModalVisible || isSaveModalVisible">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title" v-if="isEditModalVisible">Edit TimeSlot</p>
        <p class="modal-card-title" v-if="isSaveModalVisible">Create TimeSlot</p>

        <button v-on:click="isEditModalVisible=false; isSaveModalVisible=false" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body" style="height:400px;">
        <div class="field">
          <label class="label">CATEGORY</label>
          <div class="select">
            <select v-model="selectedCategory">
              <option v-for="category in userCategories"
                      v-bind:value="category.id"

                      >
                {{category.category_name}}
              </option>
            </select>
          </div>
        </div>
        <br>
        <div class="field">
          <label class="label">DAY</label>
          <div class="select" style="float:left;">
            <select v-model="selectedDay">
              <option value=7  v-if="isSaveModalVisible">EVERYDAY</option>
              <option value=0>Sunday</option>
              <option value=1>Monday</option>
              <option value=2>Tuesday</option>
              <option value=3>Wednesday</option>
              <option value=4>Thursday</option>
              <option value=5>Friday</option>
              <option value=6>Saturday</option>
            </select>
          </div>
        </div>
        <br></br><br>
        <div class="field">
          <label class="label">TIME</label>
          <div class="select" style="float:left;">
            <select v-model="hourModal">
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <p style="float:left">&nbsp;&nbsp;:&nbsp;&nbsp;</p>
          <div class="select" style="float:left;">
            <select v-model="minutesModal">
              <option v-bind:value="m" v-for="m in minutes">{{m}}</option>
            </select>
          </div>
          <div class="select" style="float:left;margin-left:10px">
            <select v-model="formatModal">
              <option value="AM">AM</option>
              <option value="PM">PM</option>
            </select>
          </div>
        </div>
        <br><br><br>
        <div class="field" style="clear:both">
          <label class="label">ACCOUNTS</label>
          <div class="columns is-multiline" style="margin-top:10px">
            <div class="notification is-danger" v-if="accountInCategory.length ==0">
              You have not selected/enabled any social accounts for this category.
              Go to  <a href="/category">Category</a> and enable social account for this category.
            </div>
            <div id="mypanel" v-on:click="selectSocialAccount(account.social_account_id)"
                              v-for="account in userAccounts"
                              v-if="accountInCategory.includes(account.social_account_id)"
                              :style="{'opacity':selectedAccounts.includes(account.social_account_id)?1:0.3, backgroundImage:'url('+ account.image_url+')'}">
              <a id="sn-icon" href="#" :style="{backgroundImage:'url('+ '/img/'+account.social_network_type+'.png'+ ')'}"></a>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary" v-bind:class="{'is-loading':isReqSend}" v-on:click="createTimeSlot" v-if="isSaveModalVisible">Save</button>
        <button class="button is-primary" v-on:click="editTimeSlot" v-bind:class="{'is-loading':isReqSend}"  v-if="isEditModalVisible">Update</button>
        <button class="button" v-on:click="isEditModalVisible= false;isSaveModalVisible=false">Cancel</button>

        <button class="button is-danger" v-on:click="deleteTimeSlot" v-bind:class="{'is-loading':isDeleteReqSend}" v-if="isEditModalVisible" style="margin-left:340px">Delete</button>
      </footer>
    </div>
  </div>
  </div>
</div>
</template>

<script>
export default {
    mounted() {
      this.setUpTimeSlot();
      this.getSchedule();
      this.getCategoryAndAccounts();
    },
    props: ['usertz'],
    data: function(){
    	return{
        minutes:[],
        hourModal:"01",
        minutesModal:"00",
        formatModal:"AM",
        parentSchedule:[],
    		firstSchedule:[[],[],[],[],[],[],[]],
        secondSchedule:[[],[],[],[],[],[],[]],
        thirdSchedule:[[],[],[],[],[],[],[]],
        fourSchedule:[[],[],[],[],[],[],[]],
        fifthSchedule:[[],[],[],[],[],[],[]],
        sixSchedule:[[],[],[],[],[],[],[]],
        sevenSchedule:[[],[],[],[],[],[],[]],
        eightSchedule:[[],[],[],[],[],[],[]],
        nineSchedule:[[],[],[],[],[],[],[]],
        tenSchedule:[[],[],[],[],[],[],[]],
        elevenSchedule:[[],[],[],[],[],[],[]],
        twelveSchedule:[[],[],[],[],[],[],[]],
        thirteenSchedule:[[],[],[],[],[],[],[]],
        fourteenSchedule:[[],[],[],[],[],[],[]],
        fifteenSchedule:[[],[],[],[],[],[],[]],
        sixteenSchedule:[[],[],[],[],[],[],[]],
        seventeenSchedule: [[],[],[],[],[],[],[]],
        eighteenSchedule:[[],[],[],[],[],[],[]],
        ninteenSchedule: [[],[],[],[],[],[],[]],
        twentySchedule:[[],[],[],[],[],[],[]],
        twentyoneSchedule:[[],[],[],[],[],[],[]],
        twentytwoSchedule:[[],[],[],[],[],[],[]],
        twentythreeSchedule:[[],[],[],[],[],[],[]],
        twentyfourSchedule:[[],[],[],[],[],[],[]],
        userCategories:[],
        userAccounts:[],
        selectedCategory:'',
        accountInCategory:[],
        selectedAccounts: [],
        firstIndex: 0,
        selectedDay:0,
        scheduleId: -1,
        filterCategoryId: -1,
        isEditModalVisible:false,
        isSaveModalVisible: false,
        firstTimeLoad:true,
        isReqSend: false,
        isDeleteReqSend:false
    	}
    },
    methods:{
      setUpTimeSlot: function(){
        for(var i =0; i<=59;i++)
          this.minutes.push(i<10?"0"+i:i);
      },
    	getSchedule: function(){
        var self = this;
        axios.post('/getschedule').then(response => {
           self.clearAllData();
           response.data.schedule[0].map(function(item){
            item.social_network_id_arr = item.social_network_id==null?[]:item.social_network_id.split(",");
            item.social_network_img = item.social_network_img==null?[]:item.social_network_img.split(",");
            item.social_network_type_arr = item.social_network_type==null?[]:item.social_network_type.split(",");
            if(item.first_index == 0){
              self.firstSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 1){
              self.secondSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 2){
              self.thirdSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 3){
              self.fourSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 4){
              self.fifthSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 5){
              self.sixSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 6){
              self.sevenSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 7){
              self.eightSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 8){
              self.nineSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 9){
              self.tenSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 10){
              self.elevenSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 11){
              self.twelveSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 12){
              self.thirteenSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 13){
              self.fourteenSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 14){
              self.fifteenSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 15){
              self.sixteenSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 16){
              self.seventeenSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 17){
              self.eighteenSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 18){
              self.ninteenSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 19){
              self.twentySchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 20){
              self.twentyoneSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 21){
              self.twentytwoSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 22){
              self.twentythreeSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            if(item.first_index == 23){
              self.twentyfourSchedule[--item.second_index==-1?6:item.second_index].push(item);
            }
            self.isReqSend = false;
            self.isDeleteReqSend = false;
            self.isEditModalVisible = false;
            self.isSaveModalVisible = false;
          });
          self.firstTimeLoad = false;

          self.parentSchedule.push(self.firstSchedule,
                self.secondSchedule,
                self.thirdSchedule,
                self.fourSchedule,
                self.fifthSchedule,
                self.sixSchedule,
                self.sevenSchedule,
                self.eightSchedule,
                self.nineSchedule,
                self.tenSchedule,
                self.elevenSchedule,
                self.twelveSchedule,
                self.thirteenSchedule,
                self.fourteenSchedule,
                self.fifteenSchedule,
                self.sixteenSchedule,
                self.seventeenSchedule,
                self.eighteenSchedule,
                self.ninteenSchedule,
                self.twentySchedule,
                self.twentyoneSchedule,
                self.twentytwoSchedule,
                self.twentythreeSchedule,
                self.twentyfourSchedule
              );
        });
    	},
      getCategoryAndAccounts:function(){
        var self = this;
        axios.post('/getcategoryandaccounts').then(response => {
         self.userCategories = response.data.categories;
         self.userAccounts = response.data.accounts;
        }).catch(error => {
          console.log("Error -->" + error);
        });
      },
      editSlotClick: function(schedule_id,second_index,category_id,selected_accounts,selected_time){
          this.scheduleId = schedule_id;
          this.selectedCategory = category_id;
          this.selectedDay = ++second_index==7?0:second_index;;
          this.selectedAccounts = selected_accounts==null?[]:selected_accounts.split(",");

          this.hourModal = moment(selected_time, ["HH:mm"]).format("hh");
          this.minutesModal = moment(selected_time, ["HH:mm"]).format("mm");
          this.formatModal = selected_time<="11:00"?"AM":"PM";

          var index = this.userCategories.map(function(d) { return d['id']; }).indexOf(category_id);
          this.accountInCategory = this.userCategories[index].network_id==null?[]:this.userCategories[index].network_id.split(",");

          this.isEditModalVisible = true;
          this.isSaveModalVisible = false;
      },
      newSlotClick: function(first_index, second_index){

        this.firstIndex = first_index;
        this.selectedDay = ++second_index==7?0:second_index;
        this.hourModal = moment(first_index, ["HH"]).format("hh");
        this.minutesModal = "00";
        this.formatModal = first_index <=11?"AM":"PM";
        this.selectedCategory = this.userCategories[0].id;
        this.selectedAccounts = [];
        this.accountInCategory = this.userCategories[0].network_id==null?[]:this.userCategories[0].network_id.split(",");
        this.isEditModalVisible = false;
        this.isSaveModalVisible = true;

      },
      categoryUpdated: function(){
          this.selectedAccounts = [];
          var index = this.userCategories.map(function(d) { return d['id']; }).indexOf(this.selectedCategory);
          this.accountInCategory = this.userCategories[index].network_id==null?[]:this.userCategories[index].network_id.split(",");
      },
      selectSocialAccount:function(social_network_id){
        if(this.selectedAccounts.includes(social_network_id))
          this.selectedAccounts.splice(this.selectedAccounts.indexOf(social_network_id),1);
        else
          this.selectedAccounts.push(social_network_id);
      },
      createTimeSlot: function(){
        if(this.selectedAccounts.length == 0){
          alert("Please select at least one social account");
          return;
        }
        this.isReqSend = true;
        var self = this;
        axios.post('/createnewschedule',{
          category_id: this.selectedCategory,
          time_selected: moment(this.hourModal+":"+this.minutesModal+" "+this.formatModal, ["h:mm A"]).format("HH:mm"),
          time_selected_utc: moment(this.hourModal+":"+this.minutesModal+" "+this.formatModal, ["h:mm A"]).format("HH:mm"),
          week_day: this.selectedDay==7?7:this.selectedDay,
          week_day_utc: this.selectedDay==7?7:this.selectedDay,
          first_index: this.getIndexForThisTime(moment(this.hourModal+":"+this.minutesModal+" "+this.formatModal, ["h:mm A"]).format("HH:mm")),
          second_index: this.selectedDay,
          social_network_id: this.selectedAccounts
        }).then(response => {
          if(response.status == 200){
            if(response.data.status == 302)
            {
              alert(response.data.errorMessage);
              return
            }
            self.getSchedule();
          }
        }).catch(error =>{
          self.isReqSend = false;
          console.log("Error -->" + error);
        });
      },
      editTimeSlot: function(){
        if(this.selectedAccounts.length == 0){
          alert("Please select at least one social account");
          return;
        }
        this.isReqSend = true;
        var self = this;
        axios.post('/editschedule',{
          schedule_id: this.scheduleId,
          category_id: this.selectedCategory,
          time_selected: moment(this.hourModal+":"+this.minutesModal+" "+this.formatModal, ["h:mm A"]).format("HH:mm"),
          time_selected_utc: moment(this.hourModal+":"+this.minutesModal+" "+this.formatModal, ["h:mm A"]).format("HH:mm"),
          week_day: this.selectedDay,
          week_day_utc: this.selectedDay,
          first_index: this.getIndexForThisTime(moment(this.hourModal+":"+this.minutesModal+" "+this.formatModal, ["h:mm A"]).format("HH:mm")),
          second_index: this.selectedDay,
          social_network_id: this.selectedAccounts
        }).then(response => {
            self.getSchedule();
        }).catch(error =>{
          self.isReqSend = false;
          console.log("Error -->" + error);
        });
      },
      deleteTimeSlot: function(){
        this.isDeleteReqSend = true;
        var self = this;
        axios.post('/deleteschedule',{
          schedule_id: self.scheduleId
        }).then(response=>{
          self.getSchedule();
        }).catch(error=>{
          self.isReqSend = false;
          self.isDeleteReqSend = false;
          self.isEditModalVisible = false;
          console.log("Error -->" + error);
        });
      },
      convertTime: function(time){
          time = time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];
          console.log(time);
          if (time.length > 1) {
            time = time.slice (1);
            time[5] = +time[0] < 12 ? ' am' : ' pm';
            time[0] = +time[0] % 12 || 12;
          }
          return time.join ('');
      },
      getTimeForThisIndex: function(first_index){
        if(first_index == 0) return "00:00";
        if(first_index == 1) return "01:00";
        if(first_index == 2) return "02:00";
        if(first_index == 3) return "03:00";
        if(first_index == 4) return "04:00";
        if(first_index == 5) return "05:00";
        if(first_index == 6) return "06:00";
        if(first_index == 7) return "07:00";
        if(first_index == 8) return "08:00";
        if(first_index == 9) return "09:00";
        if(first_index == 10) return "10:00";
        if(first_index == 11) return "11:00";
        if(first_index == 12) return "12:00";
        if(first_index == 13) return "13:00";
        if(first_index == 14) return "14:00";
        if(first_index == 15) return "15:00";
        if(first_index == 16) return "16:00";
        if(first_index == 17) return "17:00";
        if(first_index == 18) return "18:00";
        if(first_index == 19) return "19:00";
        if(first_index == 20) return "20:00";
        if(first_index == 21) return "21:00";
        if(first_index == 22) return "22:00";
        if(first_index == 23) return "23:00";

      },
      getIndexForThisTime: function(time){
        if(time >= "00:00" && time <"01:00") return 0;
        if(time >= "01:00" && time <"02:00") return 1;
        if(time >= "02:00" && time <"03:00") return 2;
        if(time >= "03:00" && time <"04:00") return 3;
        if(time >= "04:00" && time <"05:00") return 4;
        if(time >= "05:00" && time <"06:00") return 5;
        if(time >= "06:00" && time <"07:00") return 6;
        if(time >= "07:00" && time <"08:00") return 7;
        if(time >= "08:00" && time <"09:00") return 8;
        if(time >= "09:00" && time <"10:00") return 9;
        if(time >= "10:00" && time <"11:00") return 10;
        if(time >= "11:00" && time <"12:00") return 11;
        if(time >= "12:00" && time <"13:00") return 12;
        if(time >= "13:00" && time <"14:00") return 13;
        if(time >= "14:00" && time <"15:00") return 14;
        if(time >= "15:00" && time <"16:00") return 15;
        if(time >= "16:00" && time <"17:00") return 16;
        if(time >= "17:00" && time <"18:00") return 17;
        if(time >= "18:00" && time <"19:00") return 18;
        if(time >= "19:00" && time <"20:00") return 19;
        if(time >= "20:00" && time <"21:00") return 20;
        if(time >= "21:00" && time <"22:00") return 21;
        if(time >= "22:00" && time <"23:00") return 22;
        if(time >= "23:00") return 23;
      },
      clearAllData:function(){
        this.parentSchedule = [];
        this.firstSchedule = [[],[],[],[],[],[],[]];
        this.secondSchedule= [[],[],[],[],[],[],[]];
        this.thirdSchedule= [[],[],[],[],[],[],[]];
        this.fourSchedule= [[],[],[],[],[],[],[]];
        this.fifthSchedule= [[],[],[],[],[],[],[]];
        this.sixSchedule= [[],[],[],[],[],[],[]];
        this.sevenSchedule= [[],[],[],[],[],[],[]];
        this.eightSchedule= [[],[],[],[],[],[],[]];
        this.nineSchedule =[[],[],[],[],[],[],[]];
        this.tenSchedule=[[],[],[],[],[],[],[]];
        this.elevenSchedule=[[],[],[],[],[],[],[]];
        this.twelveSchedule=[[],[],[],[],[],[],[]];
        this.thirteenSchedule=[[],[],[],[],[],[],[]];
        this.fourteenSchedule=[[],[],[],[],[],[],[]];
        this.fifteenSchedule=[[],[],[],[],[],[],[]];
        this.sixteenSchedule=[[],[],[],[],[],[],[]];
        this.seventeenSchedule= [[],[],[],[],[],[],[]];
        this.eighteenSchedule=[[],[],[],[],[],[],[]];
        this.ninteenSchedule= [[],[],[],[],[],[],[]];
        this.twentySchedule=[[],[],[],[],[],[],[]];
        this.twentyoneSchedule=[[],[],[],[],[],[],[]];
        this.twentytwoSchedule=[[],[],[],[],[],[],[]];
        this.twentythreeSchedule=[[],[],[],[],[],[],[]];
        this.twentyfourSchedule=[[],[],[],[],[],[],[]];
      }

    },
    watch: {
      selectedCategory: function (val) {
          this.selectedAccounts = [];
          var index = this.userCategories.map(function(d) { return d['id']; }).indexOf(val);
          this.accountInCategory = this.userCategories[index].network_id==null?[]:this.userCategories[index].network_id.split(",");
      }
    }
}
</script>
