<template>
<div class="columns loading" v-if="loading">Just a moment...</div>
<div class="columns parent-div is-mobile" v-else>
  <div class="column is-half-desktop is-two-thirds-tablet container-main" >
		<div class="field">
		  <label class="label">First, select a Category for this post....</label>
		  <div class="control">
		    <div class="select">
		      <select v-model="isCategorySelected">
		      	 <option disabled value="">Please select one</option>
		         <option v-bind:value="category.id" v-on:click="categorySelected(category.category_name)" v-for="category in data">{{category.category_name}}</option>
		      </select>
		    </div>
		  </div>
		</div>
    
		<div class="field" v-if="isCategorySelected!=''">
		  <label class="label select-social-label is-desktop">Now select which accounts you want to post to</label>
      <div class="columns is-multiline is-mobile">
        <div class="notification is-danger" v-if="connectedAccounts.length ==0">
          You have not selected/enabled any social accounts for this category.
          Go to  <a href="/category">Category</a> and enable social account for this category.
        </div>
        <div v-for="account in connectedAccounts" v-if="layoutMode == 0" class=" mobile-display ">
            <div id="mypanel" class="single-post" v-tooltip.bottom="account.pet_name" 
                              v-on:click="selectSocialAccount(account.social_network_id, account.social_network_type)"
                              :style="{'opacity':socialAccountSelected.includes(account.social_network_id)?1:0.3, backgroundImage:'url('+ account.social_network_img+')'}">
              <a id="sn-icon"  :style="{backgroundImage:'url('+ '/img/'+account.social_network_type+'.png'+ ')'}" href="#"></a>
            </div>
          <div class="multiselect-dropdown" :style="{'width':account.social_network_type==5?'auto':0, 'display': account.social_network_type==5?'inline-block': 'none'}">
              <multiselect  :multiple="true"
                  v-model = "account.board_value"
                  track-by="text"
                  @select="selectItem"
                  label="text"
                  selectLabel = ""
                  placeholder="Select Board"
                  :options="account.boards"
                  :searchable="true"
                  :allow-empty="true"
                  v-if="account.social_network_type==5" >
              </multiselect>
          </div>
        </div>
        <div class="columns is-multiline vertical-layout" v-if="layoutMode == 1">
          <div class="column is-12" v-for="account in connectedAccounts" style="min-height:70px;border-bottom:1px solid #000;display:flex;align-items:center;cursor:pointer" v-on:click="selectSocialAccount(account.social_network_id, account.social_network_type)" :style="{'backgroundColor': socialAccountSelected.includes(account.social_network_id)?'#eee':'#fff'}">
            <div id="mypaneltable"   v-tooltip.bottom="account.pet_name"
                                :style="{'opacity':socialAccountSelected.includes(account.social_network_id)?1:0.3, backgroundImage:'url('+ account.social_network_img+')'}">
                <a id="sn-icon"  :style="{backgroundImage:'url('+ '/img/'+account.social_network_type+'.png'+ ')'}" href="#"></a>
            </div>
            <div style="min-height:30px;float:left;margin-left:10px;margin-right:10px;margin-bottom:35px;margin-top:20px" :style="{'width':account.social_network_type==5?100:0}">
              <multiselect  :multiple="true"
                  v-model = "account.board_value"
                  track-by="text"
                  @select="selectItem"
                  label="text"
                  selectLabel = ""
                  placeholder="Select Board"
                  :options="account.boards"
                  :searchable="true"
                  :allow-empty="true"
                  v-if="account.social_network_type==5" >
              </multiselect>
            </div>
            <div :style="{'backgroundColor': socialAccountSelected.includes(account.social_network_id)?'#eee':'#fff'}" style="margin-left:40px">
              <p>{{account.pet_name}}</p>
            </div>
          </div>
        </div>
      </div>
		</div>

    <div class="layout-options">
      <a v-if="isCategorySelected!=''" class="button" style="font-size:13px" v-on:click="selectAllAccounts(true)">Select All</a>
      <a v-if="isCategorySelected!=''" class="button" style="font-size:13px;margin-left:10px" v-on:click="selectAllAccounts(false)">Deselect All</a>
      <a v-if="isCategorySelected!=''" class="button change-layout" style="font-size:13px;margin-right:10px" v-on:click="changeLayout">Change Account Layout</a>
    </div>
    
		<div class="field description-field" v-if="socialAccountSelected.length!=0 || isDuplicatePostFlow">
		  <label class="label">Description</label>
		  <div class="control">
		    <textarea class="textarea" placeholder="Type a status/link..." v-model="statusText"></textarea>
		  </div>
      <p class="character-count" >Character Count: {{statusText.length}}</p>
      <br/>
  		<p style="font-size:16px" class="help is-primary" v-if="statusUrl!=''">Link to - <a :href="statusUrl" target="blank">{{statusUrl}}</a></p>
		  <p class="help is-danger" v-if="statusError">Please type status update</p>
		  
      <div style="height:125px;margin-top:15px;margin-bottom:20px" v-if="imageUrl!=''">
        <div class="columns">
          <div class="column is-one-quarter">
            <img :src="imageUrl" style="width:100%;height:100%;object-fit:'cover';border-radius:5px"/>
          </div>
          <div class="column" v-if="postType != 1">
            <p style="font-size:14px"><b>Image Dimensions: {{this.imageWidth}} x {{this.imageHeight}} pixels</b> </p>
            
            <p style="width:250px;font-size: 12px;color:red" v-if="imageWidth < 400 || imageHeight < 300"><b>This image is smaller than the minimum allowed dimensions (400 x 300 pixels). It may fail to publish on some social networks.</b></p>
            <p style="width:250px;font-size: 12px;color:red" v-if="imageWidth > 2048 || imageHeight > 2048"><b>This image is larger than the maximum recommended dimensions (2048 x 2048 pixels). It may fail to publish on some social networks.</b></p>
          </div>
        </div>

      </div>
			<div class="file" v-if="imageUrl == ''">

        <label class="file-label" style="margin-right:20px" v-on:click="imageUploadModal=true">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              Add Image file
            </span>
          </span>
        </label>

			  <label class="file-label">
			    <span class="file-cta">
			      <span class="file-icon">
			        <i class="fa fa-upload"></i>
			      </span>
			      <span class="file-label" v-on:click="videoWarningModal=true">
			        Add Video file
			      </span>
			    </span>
			  </label>
			</div>
      <a class="button is-light" v-else v-on:click="imageUrl=''">Remove Media</a>
      
      <a style="font-size:12px" v-if="imageUrl != ''" v-on:click="imageSmallHelpModal=true">Why is my image so small?</a>
      <p v-if="imageUploadReq">Uploading Media...</p>
		</div>
		
    <div class="field" style="border:1px solid #ccc;min-height:120px" v-if="gmbCount>0">
      <label class="label" style="font-size:14px;padding:10px">Google My Business CTA:</label>
      <div class="column is-6" style="margin-left:0px">
        <div class="control">
          <div class="select">
            <select v-model="gmbCtaValue">
              <option value="NA">None</option>
              <option value="CALL">Call Now</option>
              <option value="EVENT">Create Event</option>
              <option value="LEARN_MORE">Learn More button</option>
              <option value="BOOK">Book button</option>
              <option value="SIGN_UP">Sign Up button</option>
              <option value="ORDER">Order Online button</option>
              <option value="SHOP">Buy button</option>
              <option value="GET_OFFER">Get Offer button</option>
            </select>
          </div>
        </div>
        
        <div class="field" v-if="gmbCtaValue != 'NA' && gmbCtaValue != 'EVENT' && gmbCtaValue != 'CALL'">
          <div class="control google-business-control">
            <input class="input" v-model="ctaButtonUrl" type="text" placeholder="Button URL" style="width:300px">
          </div>
        </div>
        <div class="field" v-if="gmbCtaValue != 'NA' && gmbCtaValue == 'EVENT'">
          <div class="control google-business-control">
            <input class="input" v-model="ctaEventCaption" type="text" placeholder="Event title" style="width:300px">
            <vue-ctk-date-time-picker v-model="ctaEventStartDate" enable-button-validate  min-date="2018-04-03" max-date="2024-04-12" label="Start Date & Time" style="margin-top:20px;"></vue-ctk-date-time-picker>
            <vue-ctk-date-time-picker v-model="ctaEventEndDate" enable-button-validate  min-date="2018-04-03" max-date="2024-04-12" label="End Date & Time" style="margin-top:20px;"></vue-ctk-date-time-picker>
          </div>
        </div>
      </div>
    </div>
    
		<div class="field" v-if="socialAccountSelected.length!=0 || isDuplicatePostFlow">
		  <label class="label" v-tooltip.right="evergreenPostHelpText">Repeat Post?</label>
      <div class="columns repeat-help-post" >
        <div class="column is-one-quarter" style="padding-left: 0;">
    		  <div class="control">
    		    <div class="select">
    		      <select v-model="isEvergreenPost">
    		        <option value=0>Post Once</option>
    		        <option value=1>Repeat</option>
    		      </select>
    		    </div>
    		  </div>
        </div>
        <div class="column is-one-quarter" v-if="isEvergreenPost != 0">
            <p style="margin-top:8px">Repeat every: </p>
        </div>
        <div class="column repeat-mode" v-if="isEvergreenPost != 0" >
          <div class="control">
    		    <div class="select is-fullwidth">
    		      <select v-model="repeatMode">
                <option value=6>Day</option>
    		        <option value=1>Week</option>
    		        <option value=2>Month</option>
                <option value=5>Once Every Year</option>
                <option value=7>Custom</option>
    		      </select>
    		    </div>
    		  </div>
        </div>
        <div class="column is-one-quarter" v-if="isEvergreenPost != 0">
          <a v-on:click="postRecycleHelpModal=true"><i class="fa fa-question-circle" aria-hidden="true" style="margin-top:8px"></i></a>
        </div>
      </div>
		</div>
    <div class="field" v-if="repeatMode == 7" style="margin-top:35px">
      <label class="label">Choose Interval:</label>
      <div class="columns" style="margin-top:10px;">
        <div class="column is-one-quarter">
          <p style="margin-top:8px">Repeat every: </p>
        </div>
        <div class="column is-one-quarter">
          <input class="input" style="margin-left:-52px;margin-top:3px" v-model="customFrequencyInterval" type="text">
        </div>
        <div class="select" style="margin-top:15px;margin-left:-35px;">
          <select v-model="customFrequencyMode">
            <option value="Days">Days</option>
            <option value="Weeks">Weeks</option>
            <option value="Months">Months</option>
          </select>
        </div>
      </div>
    </div>

    
		<div class="field" v-if="isEvergreenPost != 0">
		  <label class="label">Would you like this post to expire? (optional)</label>
		    <div class="columns" style="margin-top:10px;">
  				<div class="column is-half">
  					<label class="checkbox">
  					  <input type="checkbox" v-model="repeatTimeChecked">
  					  Expire after being posted
  					</label>
  				</div>
				  <div class="column is-one-quarter">
					  <input class="input repeat-input" v-model="repeatTimes" type="text" placeholder="" :disabled="!repeatTimeChecked"> times
				  </div>
			  </div>
		    <div class="columns">
				<div class="column is-half">
					<label class="checkbox">
					  <input type="checkbox" v-model="expiryDateChecked">
					  End Date
					</label>
				</div>
				<div class="column is-one-quarter" v-if="expiryDateChecked">
					<date-picker :date="expiryDate" :option="multiOption" :limit="limit" style="margin-top:-4px" placeholder="dd/mm/yyyy"></date-picker>
				</div>
			</div>
		</div>
		
    <div class="dropdown is-hoverable"  v-if="socialAccountSelected.length!=0 || isDuplicatePostFlow">
      <div class="dropdown-trigger">
        <button class="button is-success" v-bind:class="{'is-loading':isReqSend}" aria-haspopup="true" aria-controls="dropdown-menu4">
          <span>Schedule Options</span>
          <span class="icon is-small">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu" style="margin-top:-120px">
        <div class="dropdown-content">
          <a class="dropdown-item" v-on:click="postNow">
            Post Now
          </a>
          <a class="dropdown-item" v-on:click="schedulePostModal=true">
           Post on specific date/time
          </a>
      </div>
    </div>
    </div>
	</div>
	<div class="column post-info ">
   <ul>
   <li><p>* Posting to a Facebook group? <a href="https://oneup.crisp.help/en-us/article/how-to-post-to-facebook-groups-using-oneup-xhyhh4/" target="blank">Click here first.</a></p></li>
   <br>
   <li>* Don't see all your connected accounts?<br>&nbsp;&nbsp&nbsp;Make sure they are enabled on the <a href="/category" target="blank">Category page</a></li>
   <br>
   <li>* Max. Video File Size: <b>100MB</b></li>
   <br>
   <li>* OneUp only supports 1 image per post currently</li>
   </ul>
  </div>

  <div class="modal is-active" v-if="imageSmallHelpModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title"></p>
        <button class="delete" aria-label="close"  v-on:click="imageSmallHelpModal=false"></button>
      </header>
      <section class="modal-card-body">
       <p>This is only a thumbnail size image of your picture, so that we can show you all your images in the OneUp queue and calendar view.</p>
       <br>
       <p>Your actual image will be published at the full size.</p>
      </section>
    </div>
  </div>

  <div class="modal is-active" v-if="videoWarningModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add Video file</p>
        <button class="delete" aria-label="close"  v-on:click="videoWarningModal=false"></button>
      </header>
      <section class="modal-card-body">
       <p>Currently, OneUp only supports Facebook and Twitter video posts.</p>
       <br>
       <p>LinkedIn, Google My Business, and Pinterests APIs do not support video posts through 3rd-party scheduling tools. Instagram videos posts are not supported at this time.</p>
      </section>
      <footer class="modal-card-foot">
        <label class="file-label">
          <input class="file-input" type="file" name="resume" v-on:change="onFileChange">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              Add Video file
            </span>
          </span>
        </label>
      </footer>
    </div>
  </div>


  <div class="modal is-active" v-if="postRecycleHelpModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title recycle-heading">Repeating Post Help </p>
        <button class="delete" aria-label="close"  v-on:click="postRecycleHelpModal=false"></button>
      </header>
      <section class="modal-card-body">
        <p class="recycle-body-text">This post will automatically repeat based on the options you select.</p>
    
        <p class="recycle-body-text" ><b>Examples</b>
        <br><br>
        For posts that have a daily interval set, the post will repeat at the same time as the original. Example: Today at 11am, tomorrow at 11am, the next day at 11am... until you cancel or the post expires.
        <br><br>
        For posts that have a weekly interval set, the post will repeat at the same time and same day of the week as the original. Example: This Friday, next Friday, the following Friday, etc.
        <br><br>
        For posts that have a monthly interval set, the post will repeat at the same time and same day of the month as the original. Example: May 12th, June 12th, July 12th, etc.
        <br><br>
        For posts set to repeat yearly, the post will repeat on the same exact day as the previous year. Example: Jan 15th 2019, Jan 15th 2020, Jan 15th 2021, etc.
        </p>
      </section>
    </div>
  </div>

  <div class="modal is-active" v-if="imageUploadModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Select Image </p>
        <button class="delete" aria-label="close"  v-on:click="imageUploadModal=false"></button>
      </header>
      <section class="modal-card-body" style="height:400px">
        <vue-dropzone :awss3="awss3" ref="myVueDropzone" id="dropzone"
                      :options="dropzoneOptions"
                      v-on:vdropzone-s3-upload-error="s3UploadError"
                      v-on:vdropzone-thumbnail="dropZoneFileAdded"
                      v-on:vdropzone-s3-upload-success="s3UploadSuccess">
        </vue-dropzone>
      </section>
    </div>
  </div>

  <div class="modal is-active" v-if="schedulePostModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head is-hidden-touch">
        <p class="modal-card-title ">Select Date and Time </p>
        <button class="delete" aria-label="close"  v-on:click="schedulePostModal=false"></button>
      </header>
      <section class="modal-card-body single-post-modal-card" style="">
          <div class="field">
            <div class="row">
              <vue-ctk-date-time-picker inline=true v-model="scheduledDateTime" enable-button-validate  min-date="2018-04-03" max-date="2024-04-12" label="Start Date & Time" style="margin-top:20px;"></vue-ctk-date-time-picker>
            </div>
          </div>
          <br>
      </section>
      <footer class="modal-card-foot modal-custom-foot">
        <button class="button is-primary" v-bind:class="{'is-loading':isReqSend}" v-on:click="schedulePost()">Schedule</button>
        <button  aria-label="close"  v-on:click="schedulePostModal=false">Hide </button>
      </footer>
    </div>
  </div>
</div>
</template>

<script>
import myDatepicker from 'vue-datepicker'
import * as linkify from 'linkifyjs';
import Vue from 'vue'
import VTooltip from 'v-tooltip'
import Multiselect from 'vue-multiselect'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
Vue.use(VTooltip)

import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.min.css';

export default {
    components: {
        'date-picker': myDatepicker,
         Multiselect,
         vueDropzone: vue2Dropzone,
         'vue-ctk-date-time-picker': VueCtkDateTimePicker
    },
    mounted() {
      if(localStorage.layoutMode === undefined){
        localStorage.layoutMode = 0;
        this.layoutMode = 0;
      }else{
        this.layoutMode = localStorage.layoutMode;
      }
      var url = new URL(window.location.href);
      var c = url.searchParams.get("id");
      this.duplicatePostId = url.searchParams.get("id");
      this.isPublishedPosts = url.searchParams.get("publishPost");

      this.setUpTimeSlot();
      this.getCategory();
    },
    data:function(){
    	return{
        starttime: {
          time:  moment().format("YYYY-MM-DD")
        },
        expiryDate:{
          time:  moment().format("YYYY-MM-DD")
        },
        limit:[],
        multiOption: {
          type: 'day',
          week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
          month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
          format:"YYYY-MM-DD HH:mm"
        },
        dropzoneOptions: {
                url: 'https://www.oneupapp.io/signature',
                thumbnailWidth: 150,
                method: "PUT",
                acceptedFiles:"image/*",
                headers: { 'Access-Control-Allow-Origin': '*'},
                dictDefaultMessage: "Drop files or click here to upload"
        },
        awss3: {
                signingURL: 'https://www.oneupapp.io/signature',
                headers: {},
                params : {},
                sendFileToServer : true,
                withCredentials: false
        },
        evergreenPostHelpText:"",
        loading:true,
        isReqSend:false,
    		data:[],
        userAccounts:[],
    		connectedAccounts:[],
    		selectedDate:null,
    		isCategorySelected:'',
    		socialAccountSelected:[],
    		isEvergreenPost:0,
        postType:0,
    		statusText:'',
    		statusUrl:'',
        imageUrl:'',
        videoUrl:'',
    		imageUploadReq:false,
        statusError:false,
    		repeatTimeChecked:false,
    		repeatTimes:0,
    		expiryDateChecked:false,
        finalData:[],
        schedulePostModal:false,
        postRecycleHelpModal: false,
        timeSlots:[],
        repeatMode: 1,
        customFrequencyMode: "Days",
        customFrequencyInterval: 3,
        schedulePostDate:'',
        scheduledDateTime:null,
        schedulePostTime:0,
        scheduleBoardInterval:3,
        imageUploadModal: false,
        gmbCount: 0,
        gmbCtaValue: "NA",
        ctaButtonUrl: '',
        ctaEventStartDate:'',
        ctaEventEndDate:'',
        layoutMode: 0,
        duplicatePostId:null,
        isPublishedPosts: null,
        isDuplicatePostFlow: false,
        imageSmallHelpModal: false,
        videoWarningModal: false,
        imageWidth: "NA",
        imageHeight: "NA"
    	}
    },
    methods:{
      selectItem: function(item) {
        if(!this.socialAccountSelected.includes(item.username)){
          this.socialAccountSelected.push(item.username);
        }
      },
       getCategory: function(){
          var self = this;
          axios.post('/getcategoryandaccounts').then(response => {
           self.data = response.data.categories;
           self.userAccounts = response.data.accounts;
           if(this.duplicatePostId == null)
             self.loading = false;
           self.getPostDetails();
          }).catch(error => {

          });
      },
      getPostDetails: function(){
        var self = this;
        if(this.duplicatePostId != null  ){
          let payload = {};
          payload.postId = this.duplicatePostId;
          axios.post('/getscheduledpostbyid', {postId: this.duplicatePostId, isPublishedPosts: this.isPublishedPosts}).then(response => {
            self.isCategorySelected = response.data.category_id;
            self.statusText = response.data.content;
            self.imageUrl = response.data.image_url == "NA"?'':response.data.image_url;
            self.isEvergreenPost = response.data.isEvergreen;
            self.repeatMode = response.data.recycleMode;
            self.repeatTimeChecked = response.data.expiry_after_share == undefined || response.data.expiry_after_share==0?false:true;
            self.repeatTimes = response.data.expiry_after_share;
            self.expiryDateChecked = response.data.expiry_date == undefined || response.data.expiry_date=='NA'?false:true;
            if(self.expiryDateChecked){
              let tempDate = {};
              tempDate.time =  response.data.expiry_date;
              self.expiryDate = tempDate;
            }
            self.isDuplicatePostFlow = true;
            self.loading = false;
          }).catch(error => {

          });
        }
      },
      categorySelected: function(categoryName){

      },
    	selectSocialAccount: function(social_network_id, social_network_type){
    		if(this.socialAccountSelected.includes(social_network_id)){
    			this.socialAccountSelected.splice(this.socialAccountSelected.indexOf(social_network_id),1);
          if(social_network_type == 6 && this.gmbCount > 0)
            this.gmbCount--;
        }
    		else{
    		 this.socialAccountSelected.push(social_network_id);
         if(social_network_type == 6)
           this.gmbCount++;
        }
        this.$forceUpdate();
    	},
      selectAllAccounts: function(status){
        let self = this;
        if(status){
          this.socialAccountSelected = [];
          this.connectedAccounts.map(function(item){
            if(item.social_network_type == 6)
              self.gmbCount++;
            self.socialAccountSelected.push(item.social_network_id);
          })
        }else{
          this.socialAccountSelected = [];
          this.gmbCount = 0;
        }
      },
      changeLayout: function(){
        if(this.layoutMode == 0)
         this.layoutMode = 1;
        else {
          this.layoutMode = 0;
        }
        localStorage.layoutMode = this.layoutMode;
      },
    	onFileChange: function(e) {
        this.videoWarningModal = false;
        var self = this;
    		var files = e.target.files || e.dataTransfer.files;
    		var file = files[0];

        if(file.type.includes("image")){
          alert("You can only upload video.");
          return;
        }
        this.imageUploadReq = true;
			  var formData = new FormData();
			  formData.append('file',file);
			  formData.append('upload_preset','ml_default')
        axios({
            url:'https://api.cloudinary.com/v1_1/dcvqcfob1/upload',
            method:'POST',
            headers:{
              'Content-Type':'application/x-www-form-urlencoded'
            },
            data:formData
        }).then(function(response){
            if(response.data.resource_type == "image"){
              self.postType = 0;
              self.imageUploadReq = false;
              self.imageUrl = response.data.url;
            }
            else
            {
              self.postType = 1;
              self.imageUploadReq = false;
              self.imageUrl = response.data.url.substr(0,response.data.url.lastIndexOf(".")) +".jpg";
              self.videoUrl =  response.data.url;
            }
        }).catch(function(error){
            self.imageUploadReq = false;
            alert(error);
        });
    	},
      postNow: function(){
        this.statusError = false;
        if(this.statusText == ''){
          this.statusError = true;
          return;
        }
        if(this.imageUploadReq){
          alert("Please wait for media to upload.");
          return;
        }
        if(this.gmbCtaValue != 'NA' && this.gmbCtaValue != "EVENT" && this.gmbCtaValue != 'CALL'){
          if(this.ctaButtonUrl == '') {
            alert("Please provide CTA URL.");
            return;
          }
        }
        if(this.gmbCtaValue != 'NA' && this.gmbCtaValue == "EVENT"){
          if(this.ctaEventCaption == '') {
            alert("Please provide Event description.");
            return;
          }
          if(this.ctaEventStartDate == '' || this.ctaEventEndDate == '') {
            alert("Please provide event start and end date.");
            return;
          }
        }

        if(this.customFrequencyMode == "Days"){
          if(this.customFrequencyInterval <= 1 || this.customFrequencyInterval >365){
            alert("Custom intervals cannot be less than 2 days or more than 365 days");
            return;
          }
        }

        if(this.customFrequencyMode == "Weeks"){
          if(this.customFrequencyInterval <= 1 || this.customFrequencyInterval >52){
            alert("Custom intervals cannot be less than 2 weeks or more than 52 weeks");
            return;
          }
        }

        if(this.customFrequencyMode == "Months"){
          if(this.customFrequencyInterval <= 1 || this.customFrequencyInterval >12){
            alert("Custom intervals cannot be less than 2 months or more than 12 months");
            return;
          }
        }
        this.finalData = [];
        var self = this;
        var all_ok = true;
        this.connectedAccounts.map(function(item){
          if(self.socialAccountSelected.includes(item.social_network_id)){
            if(item.social_network_type == 5){
              if(item.board_value == ''){
                all_ok= false;
                return;
              }
              item.board_value.map(function(bd){
                var obj = {};
                obj.category_id =  self.isCategorySelected;
                obj.social_network_type = item.social_network_type;
                obj.social_network_id = item.social_network_id;
                obj.social_network_name = item.social_network_name;
                obj.content = self.statusUrl == ''?self.statusText:self.statusText.replace(self.statusUrl,'');
                obj.postType = self.postType;
                obj.image_url = self.imageUrl==''?'NA':self.imageUrl;
                obj.source_url = self.statusUrl == ''?'NA':self.statusUrl;
                obj.video_url = self.videoUrl == ''?'NA':self.videoUrl;
                obj.board_name =  bd.text;
                obj.board_id = bd.value;
                obj.isRepin = 0;
                obj.repinId = 0;
                obj.isNewPost = 1;
                obj.recycleMode = self.isEvergreenPost==1?self.repeatMode:0;
                obj.customFrequencyInterval = self.customFrequencyInterval;
                obj.customFrequencyMode = self.customFrequencyMode;
                obj.isEvergreen = self.isEvergreenPost;
                obj.expiry_date = self.expiryDateChecked?moment(self.expiryDate.time).format('YYYY-MM-DD'):'NA';
                obj.expiry_after_share = self.repeatTimeChecked?self.repeatTimes:'NA';
                self.finalData.push(obj);
              });
            }
            else{
              var obj = {};
              obj.category_id =  self.isCategorySelected;
              obj.social_network_type = item.social_network_type;
              obj.social_network_id = item.social_network_id;
              obj.social_network_name = item.social_network_name;
              obj.content = self.statusText;
              obj.postType = self.postType;
              obj.image_url = self.imageUrl==''?'NA':self.imageUrl;
              obj.source_url = self.statusUrl == ''?'NA':self.statusUrl;
              obj.video_url = self.videoUrl == ''?'NA':self.videoUrl;
              obj.board_name = null;
              obj.board_id = null;
              obj.isRepin = 0;
              obj.repinId = 0;
              obj.isEvergreen = self.isEvergreenPost;
              obj.isNewPost = 1;
              obj.extraParams = item.social_network_type == 6?self.gmbCtaValue:null;
              obj.ctaUrl = self.gmbCtaValue=="EVENT"?self.ctaEventCaption.replace("~"," ")+"~"+self.ctaEventStartDate+"~"+self.ctaEventEndDate :self.ctaButtonUrl;
              obj.recycleMode = self.isEvergreenPost==1?self.repeatMode:0;
              obj.customFrequencyInterval = self.customFrequencyInterval;
              obj.customFrequencyMode = self.customFrequencyMode;
              obj.expiry_date = self.expiryDateChecked?moment(self.expiryDate.time).format('YYYY-MM-DD'):'NA';
              obj.expiry_after_share = self.repeatTimeChecked?self.repeatTimes:'NA';
              self.finalData.push(obj);
            }
          }
        });
        if(all_ok == false){
          alert("You have not selected boards for some Pinterest accounts. Please check your post.")
          return;
        }
        this.isReqSend = true;

        axios.post('/post/postnow',{data:this.finalData}).then(response => {
          window.location.href = '/queue';
        }).catch(error => {
          alert("Error" + error);
        });
      },
      schedulePost: function(){

       if(this.scheduledDateTime == null){
        alert("Please select a date and time.");
        return;
      }
        this.statusError = false;
        if(this.statusText == ''){
          this.statusError = true;
          this.schedulePostModal = false;
          return;
        }
        if(this.imageUploadReq){
          alert("Please wait for media to upload.");
          return;
        }

        if(this.gmbCtaValue != 'NA' && this.gmbCtaValue != "EVENT" && this.gmbCtaValue != 'CALL'){
          if(this.ctaButtonUrl == '') {
            alert("Please provide CTA URL.");
            return;
          }
        }
        if(this.gmbCtaValue != 'NA' && this.gmbCtaValue == "EVENT"){
          if(this.ctaEventCaption == '') {
            alert("Please provide Event description.");
            return;
          }
          if(this.ctaEventStartDate == '' || this.ctaEventEndDate == '') {
            alert("Please provide event start and end date.");
            return;
          }
        }

        if(this.customFrequencyMode == "Days"){
          if(this.customFrequencyInterval <= 1 || this.customFrequencyInterval >365){
            alert("Custom intervals cannot be less than 2 days or more than 365 days");
            return;
          }
        }

        if(this.customFrequencyMode == "Weeks"){
          if(this.customFrequencyInterval <= 1 || this.customFrequencyInterval >52){
            alert("Custom intervals cannot be less than 2 weeks or more than 52 weeks");
            return;
          }
        }

        if(this.customFrequencyMode == "Months"){
          if(this.customFrequencyInterval <= 1 || this.customFrequencyInterval >12){
            alert("Custom intervals cannot be less than 2 months or more than 12 months");
            return;
          }
        }

        this.finalData = [];
        var self = this;
        var all_ok = true;
        this.connectedAccounts.map(function(item){
          if(self.socialAccountSelected.includes(item.social_network_id)){
            if(item.social_network_type == 5){
              var ts = (moment(self.scheduledDateTime).unix()) *1000;
              if(item.board_value == ''){
                all_ok= false;
                return;
              }
              item.board_value.map(function(bd){
                var obj = {};
                obj.scheduledDate =moment(ts).format('YYYY-MM-DD');;
                obj.scheduledTime = moment(ts).format('HH:mm');
                ts =  (moment(ts).add(self.scheduleBoardInterval, 'minutes').unix()) *1000;
                obj.category_id =  self.isCategorySelected;
                obj.social_network_type = item.social_network_type;
                obj.social_network_id = item.social_network_id;
                obj.social_network_name = item.social_network_name;
                obj.content =  self.statusUrl == ''?self.statusText:self.statusText.replace(self.statusUrl,'');
                obj.postType = self.postType;
                obj.image_url = self.imageUrl==''?'NA':self.imageUrl;
                obj.source_url = self.statusUrl == ''?'NA':self.statusUrl;
                obj.video_url = self.videoUrl == ''?'NA':self.videoUrl;
                obj.board_name =  bd.text;
                obj.board_id = bd.value;
                obj.isRepin = 0;
                obj.repinId = 0;
                obj.isNewPost = 1;
                obj.recycleMode = self.isEvergreenPost==1?self.repeatMode:0;
                obj.customFrequencyInterval = self.customFrequencyInterval;
                obj.customFrequencyMode = self.customFrequencyMode;
                obj.isEvergreen = self.isEvergreenPost;
                obj.expiry_date = self.expiryDateChecked?moment(self.expiryDate.time).format('YYYY-MM-DD'):'NA';
                obj.expiry_after_share = self.repeatTimeChecked?self.repeatTimes:'NA';
                self.finalData.push(obj);
              });

            }else{
              var obj = {};
              obj.scheduledDate = moment(self.scheduledDateTime).format('YYYY-MM-DD');
              obj.scheduledTime = moment(self.scheduledDateTime).format('HH:mm');
              obj.category_id =  self.isCategorySelected;
              obj.social_network_type = item.social_network_type;
              obj.social_network_id = item.social_network_id;
              obj.social_network_name = item.social_network_name;
              obj.content = self.statusText;
              obj.postType = self.postType;
              obj.image_url = self.imageUrl==''?'NA':self.imageUrl;
              obj.source_url = self.statusUrl == ''?'NA':self.statusUrl;
              obj.video_url = self.videoUrl == ''?'NA':self.videoUrl;
              obj.board_name =  null;
              obj.board_id = null;
              obj.isRepin = 0;
              obj.repinId = 0;
              obj.isNewPost = 1;
              obj.extraParams = item.social_network_type == 6?self.gmbCtaValue:null;
              obj.ctaUrl = self.gmbCtaValue=="EVENT"?self.ctaEventCaption.replace("~"," ")+"~"+self.ctaEventStartDate+"~"+self.ctaEventEndDate :self.ctaButtonUrl;
              obj.recycleMode = self.isEvergreenPost==1?self.repeatMode:0;
              obj.customFrequencyInterval = self.customFrequencyInterval;
              obj.customFrequencyMode = self.customFrequencyMode;
              obj.isEvergreen = self.isEvergreenPost;
              obj.expiry_date = self.expiryDateChecked?moment(self.expiryDate.time).format('YYYY-MM-DD'):'NA';
              obj.expiry_after_share = self.repeatTimeChecked?self.repeatTimes:'NA';
              self.finalData.push(obj);
            }
          }
        });

        if(all_ok == false){
          alert("You have not selected boards for some Pinterest accounts. Please check your post.")
          return;
        }
        this.isReqSend = true;
        axios.post('/post/schedulepost',{data:this.finalData}).then(response => {
          if(response.data == -1){
            alert("Number of posts exceeds limit of your plan. Please contact customer support.");
          }else{
          window.location.href = '/queue';
          }
        }).catch(error => {
          alert("Error" + error);
        });
      },
    	addPostToQueue: function(){
    		this.statusError = false;
    		if(this.statusText == ''){
    			this.statusError = true;
    			return;
    		}
        this.isReqSend = true;
        this.finalData = [];
        var self = this;
        this.connectedAccounts.map(function(item){
          if(self.socialAccountSelected.includes(item.social_network_id)){
            if(item.social_network_type == 5){
              item.board_value.map(function(bd){
                var obj = {};
                obj.category_id =  self.isCategorySelected;
                obj.social_network_type = item.social_network_type;
                obj.social_network_id = item.social_network_id;
                obj.social_network_name = item.social_network_name;
                obj.content = self.statusUrl == ''?self.statusText:self.statusText.replace(self.statusUrl,'');
                obj.postType = self.postType;
                obj.image_url = self.imageUrl==''?'NA':self.imageUrl;
                obj.source_url = self.statusUrl == ''?'NA':self.statusUrl;
                obj.video_url = self.videoUrl == ''?'NA':self.videoUrl;
                obj.board_name = bd.text;
                obj.board_id = bd.value;
                obj.isRepin = 0;
                obj.repinId = 0;
                obj.isEvergreen = self.isEvergreenPost;
                obj.expiry_date = self.expiryDateChecked?moment(self.expiryDate.time).format('YYYY-MM-DD'):'NA';
                obj.expiry_after_share = self.repeatTimeChecked?self.repeatTimes:'NA';
                self.finalData.push(obj);
              });
            }else{
              var obj = {};
              obj.category_id =  self.isCategorySelected;
              obj.social_network_type = item.social_network_type;
              obj.social_network_id = item.social_network_id;
              obj.social_network_name = item.social_network_name;
              obj.content = self.statusUrl == ''?self.statusText:self.statusText.replace(self.statusUrl,'');
              obj.postType = self.postType;
              obj.image_url = self.imageUrl==''?'NA':self.imageUrl;
              obj.source_url = self.statusUrl == ''?'NA':self.statusUrl;
              obj.video_url = self.videoUrl == ''?'NA':self.videoUrl;
              obj.board_name = null;
              obj.board_id = null;
              obj.isRepin = 0;
              obj.repinId = 0;
              obj.isEvergreen = self.isEvergreenPost;
              obj.expiry_date = self.expiryDateChecked?moment(self.expiryDate.time).format('YYYY-MM-DD'):'NA';
              obj.expiry_after_share = self.repeatTimeChecked?self.repeatTimes:'NA';
              self.finalData.push(obj);
            }
          }
        });
        axios.post('/post/addpost',{data:this.finalData}).then(response => {
          if(response.data == -1){
            alert("Number of posts exceeds limit of your plan. Please contact customer support.");
            return;
          }
          if(response.data.error >0){
            alert("Some posts were not added to queue. Please create a schedule for account and category first.")
          }
          window.location.href = '/queue';
        }).catch(error => {
          alert("Error" + error);
        });
    	},
      setUpTimeSlot: function(){
        var index = 0;
        for(var i = 0; i<24;i++){
          var obj = {};
          obj.index = index;
          obj.time = (i<10?"0":'')+i+":00";
          this.timeSlots.push(obj);
          obj = {};
          index=index+1;
          obj.index = index;
          obj.time = (i<10?"0":'')+i+":15";
          this.timeSlots.push(obj);
           obj = {};
          index=index+1;
          obj.index = index;
          obj.time = (i<10?"0":'')+i+":30";
          this.timeSlots.push(obj);
          index=index+1;
           obj = {};
          obj.index = index;
          obj.time = (i<10?"0":'')+i+":45";
          this.timeSlots.push(obj);
          index=index+1;
        }
      },
      convertTime: function(time){
          time = time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];
          if (time.length > 1) {
            time = time.slice (1);
            time[5] = +time[0] < 12 ? ' am' : ' pm';
            time[0] = +time[0] % 12 || 12;
          }
          return time.join ('');
      },
      dropZoneFileAdded(file, dataUrl){
        this.imageWidth = file.width;
        this.imageHeight = file.height;
      },
      s3UploadError(errorMessage){
        alert("Cannot upload this image "+errorMessage);
        this.imageUploadModal = false;
      },
      s3UploadSuccess(s3ObjectLocation){
        this.postType = 0;
        this.imageUploadReq = false;
        this.imageUrl = s3ObjectLocation;
        this.imageUploadModal = false;
      }
    },
    watch: {
      statusText: function (val) {
         this.statusError = false;
         var tempVal = linkify.find(val);
         if(tempVal.length == 0)
         	this.statusUrl = '';
         if(tempVal.length!=0 && tempVal[0].type!='email')
         this.statusUrl = tempVal[0].value;
      },
      repeatTimeChecked: function(val){
        if(val)
          this.expiryDateChecked = false;
      },
      expiryDateChecked: function(val){
        if(val)
          this.repeatTimeChecked = false;
      },
      isCategorySelected: function(val){
          this.connectedAccounts=[];
          this.socialAccountSelected = [];
          var index = this.data.map(function(d) { return d['id']; }).indexOf(val);
          var network_id = this.data[index].network_id.split(',');
          var network_type = this.data[index].network_type.split(',');
          var network_name = this.data[index].selected_network.split(',');
          for(var i = 0 ; i< network_id.length;i++){
            var obj = {};
            obj.social_network_id = network_id[i];
            obj.social_network_type = network_type[i];
            obj.social_network_name = network_name[i];

            var index = this.userAccounts.map((item) => {return item['social_account_id']}).indexOf(network_id[i]);
            if(index == -1) continue;
            //alert(this.userAccounts[index].board_name);
            obj.board_name = [];
            obj.board_value = '';
            if(obj.social_network_type == 5)
              obj.boards = this.userAccounts[index].boards;
            obj.social_network_img = this.userAccounts[index].image_url;
            if(network_type[i] == 0)
              obj.pet_name = network_name[i] + " (" + (this.userAccounts[index].account_type==0?' Profile':(this.userAccounts[index].account_type==1?"Page":"Group"))+")";
            else
              obj.pet_name = network_name[i];
            this.connectedAccounts.push(obj);
          }
      },
      gmbCtaValue: function(val){
        this.ctaButtonUrl = '';
        this.ctaEventCaption = '';
        this.ctaEventStartDate = '';
        this.ctaEventEndDate = '';
      }
    }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
.multiselect {
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 120px;
  min-height: 40px;
  text-align: left;
  color: #35495E;
}
</style>
