<template>
	<div class="container" v-if="isInitialStateLoaded==false">
		<p>Loading your current  settings...</p>
	</div>
	<div class="container" v-else>
		<div class="column is-7">
			<p style="font-size:24px"><b>UTM Parameters</b></h2>
			<p>Track clicks back to the exact page that it came from.</p>
			<div style="height:1px;background-color:#e6e6e6;margin-top:15px;"></div>
			<div style="height:130px;">
				<div style="float:left;margin-top:20px;">
					<p v-if="isTrackingEnabled==1"><b>UTM parameters enabled.</b></p>
					<p v-if="isTrackingEnabled==0" style="color:red"><b>UTM parameters disabled.</b></p>
					<p style="width:400px">Once enabled, you can track link clicks back to the specific source using an analytics tool such as Google Analytics.</p>
				</div>
				<a class="button is-danger" v-on:click="toggleTrackingState()"  v-bind:class="{'is-loading':isTrackChangeRequest}" v-if="isTrackingEnabled==1" style="margin-top:35px;float:right">Disable Tracking</a>
				<a class="button is-success" v-on:click="toggleTrackingState()" v-bind:class="{'is-loading':isTrackChangeRequest}" v-if="isTrackingEnabled==0" style="margin-top:35px;float:right">Enable Tracking</a>

			</div>
			<div style="height:1px;background-color:#e6e6e6"></div>
			<div class="field" style="margin-top:20px;clear:both;margin-bottom:40px" v-for="account in socialAccounts">
			  <div class="columns">
					<div class="column is-2">
						<div id="mypanel"
							:style="{backgroundImage:'url('+ account.image_url+')'}">
							 <a id="sn-icon"  :style="{backgroundImage:'url('+ '/img/'+account.social_network_type+'.png'+ ')'}" href="#"></a>
						</div>
					</div>
					<div class="column is-6" style="margin-left:-50px">
						<label class="label">{{account.username}}</label>
						<p>Page</p>
					</div>
				</div>
			  <div class="control ">
			    <input class="input" v-model="account.utmValue">
			  </div>
			</div>




			<a class="button is-success" style="margin-top:25px"  v-bind:class="{'is-loading':isUpdateVariableRequest}" v-on:click="updateTrackingVariable()">Update</a>

		</div>
	</div>
</template>
<script>
export default{
	mounted(){
		this.getInitialstate();
	},
	data:function(){
		return {
			isInitialStateLoaded:false,
			isTrackingEnabled:0,
			isTrackChangeRequest: false,
			isUpdateVariableRequest:false,
			socialAccounts: []
		}
	},
	methods:{
      getInitialstate: function(){
        var self = this;
        axios.post('/getinitialstate').then(response => {
          self.isTrackingEnabled = response.data.trackingStatus;
          self.isInitialStateLoaded = true;
					self.socialAccounts = response.data.socialAccounts;
        });
      },
      toggleTrackingState: function(){
      	var self= this;
      	this.isTrackChangeRequest = true;
        axios.post('/toggleaccounttracking').then(response => {
        	self.isTrackChangeRequest = false;
        	self.isTrackingEnabled = !self.isTrackingEnabled;
        });
      },
      updateTrackingVariable: function(){
      	var self= this;
      	this.isUpdateVariableRequest = true;
        axios.post('/updateaccounttracking',{
					accounts:this.socialAccounts
        }).then(response => {
        	alert("Value updated!");
        	self.isUpdateVariableRequest=false;
        });
      }
	}
}
</script>
