<template>
<div class="container">
  <p style="font-size:18px">Import from RSS</p>

  <div class="columns">
	   <div class="column is-6">
		  <div class="field">
			  <label class="label"></label>
			  <div class="control">
	 			<input class="input" type="text" v-model="feedUrl" placeholder="Enter a blog URL">
			  </div>
		  </div>
	   </div>
    	<div class="column is-1" style="margin-top:10px"><a class="button is-info" v-bind:class="{'is-loading':isReqSend}" v-on:click="fetchFeeds()">Import</a></div>

  </div>

  <div class="column">
	  <div class="column is-11" style="margin-top:20px;border-top:1px solid #eee;background-color:#EBF2F6;min-height:0px">
		 <div class="columns is-centered is-multiline" style="margin-top:10px;">
    		<div class="column is-11" v-for="post in posts" style="margin-top:40px;margin-bottom:40px;min-height:50px;border-radius:5px;background-color:#fff">
		      <div class="columns">

		          <div class="column is-1">
		            <label class="checkbox" style="float:left">
		              <input type="checkbox" v-model="post.isSelected" v-on:change="updatePostCount(post)">
		            </label>
		          </div>
		          <div class="column is-6">
		            <div class="field">
		              <label class="label"></label>
		              <div class="control">
		                <textarea class="textarea" style="color:#000" placeholder="e.g. Hello world" v-model="post.title"></textarea>
		              </div>
		              <p style="margin-top:10px"><a :href="post.source_url" target="blank" style="font-size:14">{{post.source_url}}</a></p>
		              <p style="margin-top:10px; font-size:13px;margin-top:15px;">{{post.posted_on}}</p>
		            </div>
		          </div>
		        </div>
		    </div>
		 </div>
	  </div>
  </div>
  <div id="stickyDiv" style="text-align:center;position:fixed;left:0px;bottom:0px;height:45px;width:100%;background:#4D4B45;">
     <form action="/post/getimagefromdiscover" method="post" name="theForm">
    	 <input type="hidden"  name="data" :value="JSON.stringify(selectedPosts)">
    	<a class="button is-info" v-on:click="schedulePosts()" style="margin-top:5px;"> Schedule {{selectedPosts.length}} posts</a>
  	 </form>
  </div>
</div>
</template>


<script>
export default {
    mounted() {

    },
    data: function(){
      return{
      	posts:[],
      	feedUrl:'',
      	isReqSend:false,
      	selectedPosts:[]
      }
    },
    methods:{
    	fetchFeeds: function(){
    	 if(this.feedUrl.trim() == '')return;
    	 var self = this;
    	 this.isReqSend = true;
         axios.post('/post/getrssfeed',{term:this.feedUrl}).then(response => {
            self.isReqSend = false;
            self.posts = response.data;
            for(var i = 0; i < self.posts.length; i++){
              var item = self.posts[i];
              var obj = {};
    		    	obj.description = item.title;
    		    	obj.site_url = item.source_url;
    		    	obj.image_url = "NA";
    		    	self.selectedPosts.push(obj);
            }
          }).catch(error => {
          	self.isReqSend = false;
          	alert("Some error occured while fetching feeds. Please try later.");
          });
    	},
    	updatePostCount: function(post){
    		var self = this;
    		this.selectedPosts = [];
    		this.posts.map(function(item){
    			if(item.isSelected)
    		    {
    		    	var obj = {};
    		    	obj.description = item.title;
    		    	obj.site_url = item.source_url;
    		    	obj.image_url = "NA";
    		    	self.selectedPosts.push(obj);
    		    }
    		})
    	},
    	schedulePosts: function(){
    		if(this.selectedPosts.length==0){
    			alert("You must select at least one Image.");
    			return;
    		}
    		document.theForm.submit();
    	}
    }
}
</script>
