html,
body {
    width: 100%;
    font-size: 20px;
}

h3 {
    font-size: 34px;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 20px;
}

h5 {
    font-size: 12px;
    font-weight: 700;
    color: #188ef5;
    text-transform: uppercase;
}

.section {
    padding: 3rem 0;
}

.section p {
    padding: 0 20px;
}

.section p,
.section h3 {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.section h3 {
    margin-bottom: 30px;
}

.section-light h3 {
    color: #335578;
    font-weight: bold;
}

.section-light p {
    color: #677482;
    opacity: 0.8;
}

.section-dark {
    color: #fff;
}

.hero {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto 100px auto;
}

.hero .left {
    width: 40%;
}

.hero .right {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: flex-end;
}

.brand-title {
    width: 90%;
    font-size: 34px;
    margin-top: 120px;
    margin-left: 40px;
    line-height: 40px;
    color: #fff;
}

.lead {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 15px;
    line-height: 30px;
}

.brand {
    font-size: 38px;
    margin-left: 40px;
    margin-top: 10px;
    color: #fff;
    display: inline-block;
    font-weight: bolder;
}

.brand:hover {
    color: #fff;
}

.hero-cta {
    height: 60px;
    margin-left: 40px;
    margin-top: 75px;
}

.hero-img {
    height: 400px;
}

.hero-img-small {
    display: none;
    flex: 1;
    text-align: center;
}

.hero-img-small img {
    height: 140px;
    width: auto;
}

.ctas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.simple-section {
    color: #fff;
    text-align: center;
}

.section-image {
    border-radius: 10px;
    width: 900px;
    max-width: 100%;
    margin: 80px auto 0 auto;
}

.section-image-custom {
    border-radius: 10px;
    width: 600px;
    max-width: 100%;
    margin: 50px auto 0 auto;
}



.simple-img {
    width: 500px;
}

.simple-list {
    margin-top: 10px;
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
    counter-reset: counter;
    padding: 0 25px;
}

.simple-list li {
    counter-increment: counter;
    position: relative;
    padding-top: 20px;
    text-align: left;
    padding-left: 50px;
}

.simple-list li:before {
    content: counter(counter);
    position: absolute;
    top: 20px;
    left: 0;
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align: center;
}

.social-icons {
    text-align: center;
    width: 440px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0 auto;
}

.social-icons img {
    width: 32px;
    height: 32px;
    margin: 15px;
}

.organize-section {
    background-color: #fafafa;
}

.organize-section,
.features-section,
.section-measure,
.boosted-section,
.section-centered {
    text-align: center;
}

.boosted-image {
    width: 900px;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 80px;
}

.features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    max-width: 100%;
    padding: 0 20px;
    margin: 15px auto;
}

.features-list li {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 0;
}

.testimonial-lead {
    text-align: center;
}

.slide-img {
    margin-top: -1px;
    width: 100vw;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.footer-container>div {
    width: calc(100% / 5);
    padding: 0 20px;
}

.footer-container a {
    display: block;
    font-size: 16px;
    color: #1b1b1b;
    margin-top: 10px;
    opacity: 0.8;
}

.footer-links a {
    display: inline-block;
    margin: 0;
}

.footer-links .android-link {
    display: block;
    margin-top: 10px;
}

.youtube-vid {
    width: 100%;
    max-width: 560px;
}

.map-point.map-point--asa {
    top: 61%;
    left: 65%;
}

.map-point.map-point--usa {
    top: 41%;
    left: 25%;
}

.map-point {
    cursor: pointer;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #56a6e4;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px #c3e5ff;
    transform: scale(1);
    transition: transform 150ms cubic-bezier(0.77, 0, 0.175, 1);
}

.show-dropdown{
  width: 100px;
}

@media screen and (max-width: 770px) {
    .hero {
        flex-direction: column;
    }

    .hero .left {
        width: 100%;
    }

    .hero .right {
        display: none;
    }

    .container.is-fullhd {
        width: 100%;
        padding: 0 25px;
    }

    .brand-title {
        margin-top: 40px;
        margin-left: 20px;
    }

    .lead,
    .brand,
    .hero-cta {
        margin-left: 20px;
        margin-right: 20px;
    }

    .hero-img-small {
        display: block;
    }

    .ctas {
        justify-content: space-around;
    }

    .simple-list li:before {
        content: counter(counter);
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .simple-list li {
        counter-increment: counter;
        position: relative;
        padding-top: 65px;
        text-align: center;
        padding-left: 0;
    }

    .section {
        padding: 2rem 0;
    }

    .section h3 {
        padding: 0 20px;
    }

    .features-list {
        width: 700px;
    }

    .footer-container>div {
        width: 50%;
        padding: 0 20px;
    }

    .footer-links {
        margin-top: 50px;
    }
}



@media screen and (max-width: 500px) {
    .section-image {
        border-radius: 0;
    }

    .features-list li {
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-container>div {
        width: 100%;
    }

    .footer-container>div:nth-child(-n + 5) {
        margin: 10px 0 30px 0;
    }
}

@media screen and (max-width: 400px) {
    .hero-img-small {
        margin-top: 30px;
    }

    .ctas {
        justify-content: flex-start;
        flex-direction: column-reverse;
    }

    .cta-btns {
        margin: 0 auto;
    }

    .hero-cta {
        margin-top: 30px;
    }
}