.header {
  height: 80px;
  background-color: #188ef5;
  border-bottom: 2px solid #c8c8c8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.header-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.back,
.back:hover,
.back:visited {
  color: white;
}
#comparetable {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  margin: 4em auto;
  border-collapse: collapse;
  max-width: 1200px;
}
#comparetable tr {
  background: transparent !important;
}
#comparetable td,
#comparetable th {
  padding: 20px;
  text-align: center;
}
#comparetable td.rowTitle {
  text-align: left;
}
.blank {
  background: none !important;
  border: none !important;
}
.blueshine th {
  background-color: #b8cee2;
  font-size: 20px;
  color: #0c3053;
  text-align: center;
  font-weight: 600;
  text-shadow: 0 1px 0 #e0ecf7;
  border: 1px solid #9fb6c8;
}
.blueshine td {
  background-color: #f0f1f1;
  border: 1px solid #c8d6e2;
}
.blueshine td.rowTitle {
  border-left: 4px solid #333;
}

.title {
  margin: 50px 0 40px 0;
  text-align: center;
}

.title h1 {
  font-weight: normal;
}

.lead {
  color: #5f6a7d;
  font-size: 20px;
}

.pricing-column {
  border: 1px solid #979ba0;
  text-align: center;
  background-color: white;
  width: 30%;
  margin: 10px;
  padding: 20px 0;
  max-width: 400px;
}

.pricing-column h1 {
  background-color: #fafafa;
  padding: 15px 0;
  margin-top: 5px;
}

.pricing-column h3 {
  color: #979ba0;
}

.pricing-section {
  margin: 0 20px 0px 20px;
  padding: 20px 0;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.pricing-section p,
.pricing-section b {
  font-size: 18px;
}

.pricing-section-list {
  text-align: left;
}

.pricing-section-list p {
  padding-left: 30px;
  position: relative;
}

.pricing-section-list p:before {
  content: '\f00c';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 0;
  top: 5px;
}

.pricing-column-lead {
  margin-bottom: 20px;
}

.annual_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.faq {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 25px 150px 25px;
}

.faq p {
  line-height: 26px;
}

.convinced {
}

@media screen and (max-width: 770px) {
  .pricing-column {
    width: 40%;
  }
  .annual_block {
    /* flex-direction: column; */
  }
}

@media screen and (max-width: 600px) {
  .pricing-column {
    width: 90%;
  }

  .blueshine th {
    font-size: 16px;
    padding: 12px;
  }
  #comparetable td,
  #comparetable th {
    padding: 12px;
  }
}

@media screen and (max-width: 400px) {
  #comparetable td,
  #comparetable th {
    padding: 12px 5px;
    font-size: 12px !important;
  }
  #comparetable td.rowTitle {
    font-size: 12px !important;
    border-left: 0;
  }
}
