/* account css starts here */
button:focus {
    outline: 0;
}
.columns{
    margin: 0;
    margin-bottom: 0; 
}
.fa.social-arrow-mbl{
    display: none;
}
.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.container-main {
    min-height: 500px;
    border-right: 1px solid #EAEAEA;
    padding-left: 0;
}

.app-container {
    margin-top: 80px;
    margin-left: 55px;
    min-height: 600px;
}

.active {
    background: #188EF5;
    color: #fff;
}

.account-name {
    float: left;
    margin-top: 10px;
    margin-left: -20px
}

#sn-icon {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-right: -10px;
    background-position: center;
    background-size: 100%;
}

.deselect-btn {
    font-size: 13px;
    margin-left: 5px;
}

.change-layout {
    font-size: 13px;
    margin-right: 10px
}

.mybox:hover {
    opacity: 0.8
}

.mybox {
    margin-top: 40px;
}

.connected-accounts {
    margin-top: 55px;
    min-height: 200px;
}

.account-row {
    min-height: 75px;
    border: 1px solid #000;
    margin-bottom: 25px;
}

div.google-business-account {
    margin-top: 5px;
    min-height: 20px;
}

/* account css ends  */



.social-arrow-mbl{
    display: none;
}
.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.active {
    background: #188EF5;
    color: #fff;
}

#sn-icon {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-right: -10px;
    background-position: center;
    background-size: 100%;
}

.mybox:hover {
    opacity: 0.8
}


/* single post css starts -------------------- */
#mypanel {
    width: 50px;
    height: 50px;
    border: 1px solid #EAEAEA;
    margin-left: 10px;
    margin-right: 15px;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
}
.mobile-display {
    margin-bottom: 15px;
}
.multiselect-dropdown {
    min-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}

#mypaneltable {
    width: 50px;
    height: 50px;
    border: 1px solid #EAEAEA;
    margin-left: 5px;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
    margin-bottom: 20px;
}

#sn-icon {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-right: -10px;
    background-position: center;
    background-size: 100%;
}

.layout-options-mbl {
    display: none;
}

div.vertical-layout {
    height: 300px;
    overflow-y: scroll;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px !important;
}

.layout-options {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.description-field.field {
    margin-top: 12px;
    margin-bottom: 15%;
}
.repeat-help-post{
    margin-top:10px;
    margin-bottom: 50px;
}
.repeat-mode {
    margin-left: -50px;
}
.character-count{
    font-size:14px;
    margin-top:10px;
    margin-bottom: 30px;
}
.repeat-input {
    margin-top: -4px;
    width: 60%;
}
.single-post-modal-card{
    min-height:500px;
}
.modal-custom-foot{
    padding: 10px 20px;
}
.select-social-label.label{
    margin-top: 40px;
    margin-bottom: 15px;
}
/* single post css ends ------------ */

/* nav bar css starts */

.tooltip {
    display: block !important;
    padding: 4px;
    z-index: 10000;
}

.tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
}

.tooltip tooltip-arrow {
    display: none;
}

.tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
}

.schedule::after {
    border: 1px solid #fff;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
}

/* nav bar css starts */


/* category css starts */

.tag-category-name {
    font-size: 16px;
}
.tag-arrow-mbl{
    display: none;
}
.add-category-btn {
    margin-top: 10px;
}
.add-category-btn-mbl{
    display: none;
}

.image-color-div {
    margin-top: 5px;
    margin-bottom: 10px;
}

.delete-btn-a {
    margin-top: 20px
}

/* queue css start */

.queue-container{
    margin: 0;
    padding: 0 5px;
}
.content-col{
    border-bottom:1px solid #eaeaea
}
.post-options{
    width: 35%;
}
.repeating-post-div{
    height:100px;
    border-right:1px solid rgba(33,32,30,0.2);
    text-align:center
}
.time-post-p{
    font-size:40px;
    font-weight:300
}
.time-post-div{
    margin-top: 0;
}
.timezone-parent{
    margin-top:10px
}
.queue-select-all{
    display:inline-block;
    margin-top:20px;
}
.queue-posts{
    margin-top:70px;
}
.queue-post-checkbox{
    float:left;
    margin-right:20px;
}
.queue-post-img{
    float:left
}
.queue-post-p{
    float:left;
    font-size:18px;
    margin-left:10px;
    margin-top:5px;
}
.queue-post-timezone{
    font-size:18px;
    float:right
}
.queue-post-localdate{
    font-size:16px;
    float:right
}
.queue-posts-container{
    min-height:200px;
    border:1px solid #eaeaea;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.expire-p{
    font-size:12px;
    margin-top:-17px;
    color:#fff;
    float:right
}
.post-queue-info{
    height:10px;
    background-color:rgb(61,142,238);
    margin-left:-2px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px
}
.dropdown-menu4 {
    margin-left: 0px;
}
.modal-control{
    margin-left:-60px;
}
.expire-after-input{
    margin-left:-75px;
    margin-top:-4px
}
.delete-modal-div {
    display: none;
}

@media screen and (min-width: 319px) and (max-width: 450px) {

    .navbar-link.nav-dropdown {
        padding-left: 0;
    }
    /* single post css -------- */
    .loading {
        margin: 0;
        padding: 0 20px;
        text-align: center;
    }
    .single-post-modal-card{
        min-height:450px;
    }
    .container-main {
        padding: 5px;
        max-width: 100%;
    }

    .layout-options {
        display: none;
    }

    .change-layout {
        margin-left: 5px;
        margin-right: 5px;
    }
    .character-count{
        font-size:14px;
        margin-top:10px;
        margin-bottom: 10px;
    }
    .layout-options-mbl {
        display: block;
    }
    .description-field.field {
        margin-top: 12px;
        margin-bottom: 10px;
    }
    .deselect-btn {
        margin-left: 5px;
    }
    .repeat-help-post{
        margin-top:10px;
        margin-bottom: 5px;
    }
    .modal-card-body {
        padding: 5px;
    }

    .columns.parent-div {
        width: 100%;
        margin: 0;
    }

    .post-info {
        display: none;
    }

    .select-social-label {
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .file-label {
        font-size: 13px;
    }

    #mypanel.single-post {
        display: inline-block;
        margin-right: 2px;
        margin-bottom: 5px;
    }

    .mobile-display {
        display: inline-block;
        margin-bottom: 20px;
    }
    .categories-tag{
        overflow-x: scroll;
    }
    .repeat-mode {
        margin-left: 0px;
    }

    .recycle-heading {
        font-size: 15px;
    }

    .recycle-body-text {
        font-size: 11.5px;
    }

    div.vertical-layout {
        padding: 0 5px;
        margin-left: 0;
        margin-right: 0;
    }

    .google-business-control {
        margin-top: 15px;
    }

    .datetimepicker:not(.inline) .datepicker {
        height: max-content;
    }

    /* account css --------- */

    .app-container {
        margin-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
        min-height: 500px;
        position: relative;
    }
    .fa.social-arrow-mbl{
        display: inline-block;
        position: absolute;
        left: 98%;
        font-size: 30px;
        top: 12px;
    }
    .mybox {
        margin-top: 0px;
        padding-right: 20px;
        padding-left: 0;
    }

    div.columns.social-icons-columns {
        overflow-x: scroll;
        margin-bottom: 0;
    }

    div.columns.google-business-account {
        margin-top: 5px;
        min-height: 20px;
    }

    .connected-accounts {
        /* margin-top: 20px; */
        margin: 0;
        min-height: 200px;
    }
    .is-hidden-mobile-edit{
        display: none;
    }
    .account-row {
        margin-bottom: 0px;
    }
    .social_account_checkbox{
        
    }
    .account-name {
        float: none;;
        margin-top: 10px;
        margin-left: 0px
    }

    .account-image-column {
        padding-left: 8px;
        padding-right: 0;
    }

    #mypanel.account-image {
        margin-left: 0;
    }

    .delete-modal-div {
        color: #CD5C5C;
        position: relative;
        top: 50px;
        left: -54px;
        display: inline-block;
    }


    /* category css start */

    .category-div {
        background-color: #fff;
        padding-left: 5px;
        padding-right: 5px;
    }

    .column-parent {
        margin: 0;
    }

    .edit-category-box {
        box-shadow: none;
        border: 1px solid #eaeaea;
        padding: 5px;
    }

    .image.image-mbl {
        height: 45px;
        width: 45px;
        display: inline-block;
    }

    .tags.mobile-tags {
        display: inline-block;
        margin-right: 5px;
        padding: 5px 10px;
        margin-bottom: 5px;
    }

    .tag-category-name {
        font-size: 14px;
    }
    .category-hr-small{
        margin: 2px auto;
        width: 90%;
    }
    .category-hr-medium{
        margin: 20px auto;
        width: 90%;
    }
    .add-category-btn {
        margin-top: 5px;
        display: none;
    }
    .add-category-btn-mbl{
        margin-top: 5px;
        display: inline-block;
        margin-left: 12px;
    }
    .fa.tag-arrow-mbl{
        display: inline-block;
        position: absolute;
        left: 95%;
        top: 12%;
        font-size: 25px;
    }
    .selected-account-label {
        font-size: 14px;
    }

    .category-name {
        font-size: 14px;
    }

    .color-title {
        font-size: 14px;
    }

    .delete-btn-a {
        margin-top: 10px
    }
    .modal-delete-text {
        font-size: 14px;
    }


    /* queue css starts */
    .filter-hr{
        margin: 20px auto;
    width: 90%;
    }
    .mbl-filterBy{
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-left: 3px;
    }
    .dropdown.is-active .account-dropdown{
        left: 17px;
        height: 200px;
        overflow-y: auto;
        border: 1px solid #ddd;
        z-index: 5;
        padding-top: 0;
        border-radius: 4px;
        padding-top: 0;
        width: 250px;
    }
    .repeating-post-div{
        height:100px;
        border-right: none;
        text-align:center;
        padding-bottom: 0;
    }
    .time-post-p{
        font-size:30px;
        font-weight:300
    }
    .time-post-div.is-mobile{
        margin-top: 0;
        margin-bottom: 0;
    }
    .columns.timezone-parent{
        margin-top:0px;
        margin-bottom: 0;
    }
    .post-options {
        width: 100%;
        display: inline-block;
    }
    .queue-select-all{
        display: none;
    }
    .content-col {
        border-bottom: none;
        padding-left: 0;
    }
    .queue-container {
        margin: 0;
        padding: 0 15px;
    }
    .queue-posts{
        margin-top:0px;
    }
    .queue-posts-main-div{
        padding-bottom: 0;
    }
    .queue-posts-main{
        margin-bottom: 0;
    }
    .queue-post-checkbox{
        float:none;
        margin-right:none;
        vertical-align: top;
    }
    .queue-post-img{
        float:none
    }
    .queue-post-p{
        float:none;
        font-size:18px;
        margin-left:0px;
        margin-top:0px;
    }
    .queue-post-timezone{
        font-size:18px;
        float:none
    }
    .queue-post-localdate{
        font-size:16px;
        float:none
    }
    .queue-post-timediv{
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    .queue-posts-container{
        padding: 2px;
    }
    .columns.queue-post-content-main{
        margin-bottom: 0;
    }
    .queue-post-content{
        padding-top: 0;
        padding-bottom: 0;
    }
    .queue-post-timezone{
        font-size:14px;
        float: none;
    }
    .queue-post-localdate{
        font-size:14px;
    }
    .expire-p{
        font-size:12px;
        margin-top:-17px;
        color:#fff;
        float:none;
        position: relative;
        top: 16px;
    }
    .post-queue-info{
        height:40px;
    }
    .dropdown-menu4 {
        margin-left: 0px;
    }
    .modal-control{
        margin-left: 0px;
    }
    .expire-after-input{
        margin-left: 0px;
        margin-top:-4px;
        width: 50%;
    }
    .expire-datepicker{
        margin-left:-0;
        margin-top:-4px
    }
    .frequent-post-label{
        font-size: 14px;
    }
}

@media screen and (min-width: 460px) and (max-width: 1000px) {
    .container-main {
        padding: 5px;
    }

    /* single post css -------- */
    .loading {
        margin: 0;
        padding: 0 20px;
        text-align: center;
    }

    .parent-div {
        width: 100%;
        margin: 0;
    }

    .post-info {
        display: none;
    }

    .repeat-mode {
        margin-left: 0px;
    }

    .google-business-control {
        margin-top: 15px;
    }

    #mypanel {
        margin-bottom: 4px;
        margin-left: 0;
    }

    /* account css starts */
    .is-hidden-tablet-edit {
        /* display: none; */
    }
    .fa.tag-arrow-mbl{
        display: inline-block;
        position: absolute;
        left: 95%;
        top: 30%;
        font-size: 25px;
    }
    .app-container {
        margin-top: 20px;
        margin-left: 20px;
    }
    .social-arrow-mbl{
        display: inline-block;
        position: absolute;
        left: 90%;
        font-size: 40px;
        top: 8px;
    }
    div.columns.social-icons-columns {
        overflow-x: scroll;
        margin-bottom: 0;
    }

    div.columns.google-business-account {
        margin-top: 5px;
        min-height: 20px;
    }

    .connected-accounts {
        margin-top: 15px;
        min-height: 200px;
        width: 100%;
    }
    .fa.social-arrow-mbl{
        display: inline-block;
        position: absolute;
        left: 98%;
        font-size: 30px;
        top: 52px;
    }
    .account-name {
        float: none;
        margin-top: 10px;
        margin-left: -20px;
    }

    /* category css start */

    .category-div {
        background-color: #fff;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
    }

    .column-parent {
        margin: 0;
    }

    .edit-category-box {
        box-shadow: none;
        border: 1px solid #eaeaea;
        padding: 5px;
    }

    .image.image-mbl {
        height: 45px;
        width: 45px;
        display: inline-block;
    }

    .mobile-tags {
        display: inline-block;
        margin-right: 5px;
        padding: 10px;
    }

    .tag-category-name {
        font-size: 14px;
    }

    .add-category-btn {
        margin-top: 5px;
    }

    .selected-account-label {
        font-size: 14px;
    }

    .category-name {
        font-size: 14px;
    }

    .color-title {
        font-size: 14px;
    }

    .delete-btn-a {
        margin-top: 10px
    }

    /* queue css */
    .dropdown.is-active .account-dropdown{
        width: 250px;
        height: 200px;
        overflow-y: auto;
    }
    .post-options {
        width: 50%;
    }
}